<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\App\Action\Action;
use Magento\Framework\App\ActionInterface;

/**
 * Product widget template (Quotation)
 *
 * @var \Magento\CatalogWidget\Block\Product\ProductsList $block
 */

// @codingStandardsIgnoreLine TODO: replace helper with view-model
$dataHelper = $this->helper('Magento\Wishlist\Helper\Data');
// @codingStandardsIgnoreLine TODO: replace helper with view-model
$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
//phpcs:ignoreFile Generic.Files.LineLength
?>
<?php if ($block->getProductCollection() && $block->getProductCollection()->getSize()): ?>
    <?php
    $type = 'widget-product-grid';
    $mode = 'grid';
    $image = 'new_products_content_widget_grid';
    $items = $block->getProductCollection()->getItems();
    $showWishlist = true;
    $showCompare = true;
    $showCart = true;
    $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    $description = false;
    $block->addChild('listing_form', \Cart2Quote\Quotation\Block\Product\Listing\Form::class);
    ?>
    <div class="block widget block-products-list <?php echo /* @noEscape */ $mode ?>">
        <?php if ($block->getTitle()): ?>
            <div class="block-title">
                <strong><?php echo $escaper->escapeHtml(__($block->getTitle())) ?></strong>
            </div>
        <?php endif ?>
        <div class="block-content">
            <?php echo /* @noEscape */ '<!-- ' . $image . '-->' ?>
            <div class="products-<?php echo /* @noEscape */ $mode ?> <?php echo /* @noEscape */ $mode ?>">
                <ol class="product-items <?php echo /* @noEscape */ $type ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item): ?>
                        <?php $block->getChildBlock('listing_form')->setProduct($_item); ?>
                        <?php echo /* @noEscape */ ($iterator++ == 1) ? '<li class="product-item">' : '</li><li class="product-item">' ?>
                        <div class="product-item-info">
                            <a href="<?php echo $escaper->escapeUrl($block->getProductUrl($_item)) ?>" class="product-item-photo">
                                <?php echo $block->getImage($_item, $image)->toHtml() ?>
                            </a>
                            <div class="product-item-details">
                                <strong class="product-item-name">
                                    <a title="<?php echo $escaper->escapeHtml($_item->getName()) ?>"
                                       href="<?php echo $escaper->escapeUrl($block->getProductUrl($_item)) ?>"
                                       class="product-item-link">
                                        <?php echo $escaper->escapeHtml($_item->getName()) ?>
                                    </a>
                                </strong>
                                <?php if ($templateType): ?>
                                    <?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
                                <?php endif; ?>
                                    <?php echo $block->getProductPriceHtml($_item, $type) ?>
                                    <?php echo $block->getProductDetailsHtml($_item) ?>
                                <?php if ($showWishlist || $showCompare || $showCart): ?>
                                    <div class="product-item-inner">
                                        <div class="product-item-actions">
                                            <?php if ($showCart): ?>
                                                <div class="actions-primary">
                                                    <?php if ($_item->isSaleable() || $block->getChildBlock('listing_form')->showQuoteButton()): ?>
                                                        <?php $postParams = $block->getAddToCartPostParams($_item); ?>
                                                        <form
                                                            data-role="tocart-form"
                                                            data-quote-submit-action="<?php echo $escaper->escapeHtml($block->getChildBlock('listing_form')->getWidgetAddToQuoteUrl()) ?>"
                                                            data-product-sku="<?php echo $escaper->escapeHtml($_item->getSku()) ?>"
                                                            action="<?php echo $escaper->escapeUrl($postParams['action']) ?>"
                                                            method="post">
                                                            <input type="hidden" name="product" value="<?php echo /* @noEscape */ $postParams['data']['product'] ?>">
                                                            <input type="hidden" name="<?php echo /* @noEscape  */ ActionInterface::PARAM_NAME_URL_ENCODED ?>" value="<?php echo /* @noEscape */ $postParams['data'][ActionInterface::PARAM_NAME_URL_ENCODED] ?>">
                                                            <?php echo $block->getBlockHtml('formkey') ?>
                                                            <?php if ($_item->isSaleable()): ?>
                                                                <button type="submit"
                                                                        title="<?php echo $escaper->escapeHtml(__('Add to Cart')) ?>"
                                                                        class="action tocart primary">
                                                                    <span><?php echo $escaper->escapeHtml(__('Add to Cart')) ?></span>
                                                                </button>
                                                            <?php endif; ?>
                                                            <?php if ($block->getChildBlock('listing_form')->showQuoteButton() && !$block->getChildBlock('listing_form')->showMessageNotLoggedIn()): ?>
                                                                <button type="submit"
                                                                        data-role="addToQuoteButton"
                                                                        title="<?php echo $escaper->escapeHtml(__('Add to Quote')) ?>"
                                                                        class="action toquote tocart quote-btn-list">
                                                                    <span>
                                                                        <?php echo $escaper->escapeHtml(__('Add to Quote')) ?>
                                                                    </span>
                                                                </button>
                                                                <?php echo $block->getModalHtml('addtoquote.quickquote.modal'); ?>
                                                            <?php elseif ($block->getChildBlock('listing_form')->showMessageNotLoggedIn()): ?>
                                                                <button title="<?php echo $escaper->escapeHtml(__('Add to Quote')) ?>"
                                                                        class="action toquote tocart quote-btn-list"
                                                                        disabled="disabled">
                                                                    <span>
                                                                        <?php echo $escaper->escapeHtml(__('Login to Request Quote')) ?>
                                                                    </span>
                                                                </button>
                                                            <?php endif; ?>
                                                        </form>
                                                    <?php else: ?>
                                                        <?php if ($_item->getIsSalable()): ?>
                                                            <div class="stock available"><span><?php echo $escaper->escapeHtml(__('In stock')) ?></span></div>
                                                        <?php else: ?>
                                                            <div class="stock unavailable"><span><?php echo $escaper->escapeHtml(__('Out of stock')) ?></span></div>
                                                        <?php endif; ?>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                            <?php if ($showWishlist || $showCompare): ?>
                                                <div class="actions-secondary" data-role="add-to-links">
                                                    <?php if ($dataHelper->isAllow() && $showWishlist): ?>
                                                        <a href="#"
                                                           data-post='<?php echo /* @noEscape */ $block->getAddToWishlistParams($_item) ?>' class="action towishlist" data-action="add-to-wishlist" title="<?php echo $escaper->escapeHtmlAttr(__('Add to Wish List')) ?>">
                                                            <span><?php echo $escaper->escapeHtml(__('Add to Wish List')) ?></span>
                                                        </a>
                                                    <?php endif; ?>
                                                    <?php if ($block->getAddToCompareUrl() && $showCompare): ?>
                                                        <a href="#" class="action tocompare" data-post='<?php echo /* @noEscape */ $compareHelper->getPostDataParams($_item) ?>' title="<?php echo $escaper->escapeHtmlAttr(__('Add to Compare')) ?>">
                                                            <span><?php echo $escaper->escapeHtml(__('Add to Compare')) ?></span>
                                                        </a>
                                                    <?php endif; ?>
                                                </div>
                                            <?php endif; ?>
                                        </div>
                                    </div>
                                <?php endif; ?>
                            </div>
                        </div>
                        <?php echo ($iterator == count($items) + 1) ? '</li>' : '' ?>
                    <?php endforeach ?>
                </ol>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
    <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "addToQuoteButtonSelector": "[data-role=addToQuoteButton]",
                    "addToCartButtonSelector": "[data-role=addToCartButton]"
                }
            }
        }
    </script>
<?php endif;?>
