<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Info $block */
?>

<section class="admin__page-section quote-addresses">
    <div class="admin__page-section-title">
        <span class="title"><?php echo $escaper->escapeHtml(__('Address Information')) ?></span>
        <button type="button"
                onclick='quote.changeAddress("<?php echo $escaper->escapeUrl(
                    $block->getUrl('quotation/quote_update/address', $block->getUrlParams(true))
                ) ?>");'
                class="action-change-address">
            <span><?php echo $escaper->escapeHtml(__('Change Address')) ?></span>
        </button>
    </div>
    <div class="admin__page-section-content">
        <?php echo $block->getChildHtml() ?>
    </div>
</section>
