<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<div class="fieldset-wrapper-title">
    <div class="actions"><?php echo $block->getButtonsHtml() ?></div>
</div>

<?php echo $block->getChildHtml('', true) ?>
