<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Info $block */
?>

<section class="admin__page-section quote-view-account-information">
    <div class="admin__page-section-title">
        <span class="title"><?php echo $escaper->escapeHtml(__('Quote & Account Information')) ?></span>
    </div>
    <div class="admin__page-section-content">
        <?php echo $block->getChildHtml(); ?>
    </div>
</section>
