<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php if ($block->canDisplayGiftmessage()): ?>
    <?php $_required = $block->getMessage()->getMessage() != '' ?>
    <div id="<?php echo $block->getHtmlId() ?>" class="admin__page-section-content giftmessage-whole-quote-container">
        <form class="entry-edit form-inline"
              id="<?php echo $escaper->escapeHtml($block->getFieldId('form')); ?>"
              action="<?php echo $escaper->escapeHtml($block->getSaveUrl()); ?>">
            <fieldset class="admin__fieldset">
                <legend class="admin__legend">
                    <span><?php echo $escaper->escapeHtml(__('Gift Message for the Entire Quote')); ?></span>
                </legend>
                <br/>

                <input type="hidden" id="<?php echo $escaper->escapeHtml($block->getFieldId('type')); ?>"
                       name="<?php echo $escaper->escapeHtml($block->getFieldName('type')); ?>"
                       value="quote"/>

                <div class="admin__field field-from-name<?php echo $_required ? ' required' : ''; ?>">
                    <label class="admin__field-label"
                           for="<?php echo $escaper->escapeHtml($block->getFieldId('sender')); ?>">
                        <span><?php echo $escaper->escapeHtml(__('From Name')); ?></span>
                    </label>

                    <div class="admin__field-control">
                        <input class="admin__control-text <?php echo $_required ? 'required-entry' : ''; ?>" type="text"
                               id="<?php echo $escaper->escapeHtml($block->getFieldId('sender')); ?>"
                               name="<?php echo $escaper->escapeHtml($block->getFieldName('sender')); ?>"
                               value="<?php echo $escaper->escapeHtml($block->getMessage()->getSender()); ?>"/>
                    </div>
                </div>

                <div class="admin__field field-to-name<?php echo $_required ? ' required' : ''; ?>">
                    <label class="admin__field-label"
                           for="<?php echo $escaper->escapeHtml($block->getFieldId('recipient')); ?>">
                        <span><?php echo $escaper->escapeHtml(__('To Name')); ?></span>
                    </label>

                    <div class="admin__field-control">
                        <input class="admin__control-text <?php echo $_required ? 'required-entry' : ''; ?>" type="text"
                               id="<?php echo $escaper->escapeHtml($block->getFieldId('recipient')); ?>"
                               name="<?php echo $escaper->escapeHtml($block->getFieldName('recipient')); ?>"
                               value="<?php echo $escaper->escapeHtml($block->getMessage()->getRecipient()); ?>"/>
                    </div>
                </div>

                <div class="admin__field field-gift-message">
                    <label class="admin__field-label"
                           for="<?php echo $escaper->escapeHtml($block->getFieldId('message')); ?>">
                        <span><?php echo $escaper->escapeHtml(__('Gift Message')); ?></span>
                    </label>

                    <div class="admin__field-control">
                        <textarea id="<?php echo $escaper->escapeHtml($block->getFieldId('message')); ?>"
                                  name="<?php echo $escaper->escapeHtml($block->getFieldName('message')) ?>"
                                  class="admin__control-textarea"
                                  rows="2"
                                  cols="15"><?php echo $escaper->escapeHtml($block->getMessage()->getMessage()); ?>
                        </textarea>
                    </div>
                </div>

                <div class="actions">
                    <?php echo $block->getSaveButtonHtml(); ?>
                </div>
            </fieldset>
        </form>
    </div>
<?php endif ?>
