<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
/**
 * @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Data $block
 */

$applySubtotalProposalUrl = $block->getUrl('quotation/quote_ajax/subtotalProposalApply');
$applyCouponCodeUrl = $block->getUrl('quotation/quote_ajax/couponApply');
$removeCouponCodeUrl = $block->getUrl('quotation/quote_ajax/couponRemove');

?>

<div class="admin__field field-quote-proposal" data-bind="scope: 'quote-proposal'">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": {
                "components": {
                    "quote-proposal": {
                        "component": "Cart2Quote_Quotation/quote/proposal",
                        "applySubtotalProposalUrl": "<?php echo $escaper->escapeUrl($applySubtotalProposalUrl) ?>",
                        "applyCouponCodeUrl": "<?php echo $escaper->escapeUrl($applyCouponCodeUrl) ?>",
                        "removeCouponCodeUrl": "<?php echo $escaper->escapeUrl($removeCouponCodeUrl) ?>"
                    }
                }
            }
        }
    }
</script>
