<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var $block \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\QuoteStatus */

$quotation = $block->getQuote();
$rejectMessage = $quotation->getRejectMessage();
?>
<div class="admin__field field-comment ">
    <th>
        <label for="quote-status" class="admin__field-label">
            <span><?php echo $escaper->escapeHtml(__('Quote Status')) ?></span>
        </label>
    </th>
    <td>
        <div class="admin__field-control">
            <span id="quote_status">
                <select class=" select admin__control-select" id="quote_status" name="quote[status]">
                    <?php foreach ($block->getAllStatussesAsArray() as $status): ?>
                        <?php
                        $flag = '';
                        if ($block->getStatus() == $status['value']) {
                            $flag = 'selected';
                        }
                        ?>
                        <option <?php echo $escaper->escapeHtml($flag); ?>
                            value="<?php echo $escaper->escapeHtml($status['value']); ?>">
                            <?php echo $escaper->escapeHtml(__($status['label'])); ?>
                        </option>
                    <?php endforeach; ?>
                </select>
            </span>
        </div>
        <?php if ($quotation->getStatus() == 'proposal_rejected' && $rejectMessage !== null): ?>
            <a class="title rejection" id="reject_toggle" onclick="quote.toggleRejectMessageDisplay()">
                <span><?php echo $escaper->escapeHtml(__('View reason for rejection')); ?></span>
            </a>
            <div id="reject_dropdown" style="display: none;">
                <p id="rejection_message"><?php echo $escaper->escapeHtml($rejectMessage); ?></p>
            </div>
        <?php endif; ?>
    </td>
</div>
<script type="text/x-magento-init">
    {
    "*": {
            "Cart2Quote_Quotation/js/quote/view/status": {
                "status_id": "<?php echo $escaper->escapeJs($block->getStatus()) ?>",
                "data": "<?php echo $escaper->escapeHtml($block->getStatusesGridConfig()) ?>"
            }
        }
    }
</script>
