<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<div class="admin__field field-comment ">
    <th>
        <label for="quote-date" class="admin__field-label">
            <span><?php echo $escaper->escapeHtml($block->getHeaderText()) ?></span>
        </label>
    </th>
    <td>
        <?php echo $escaper->escapeHtml($block->getFormattedQuoteLocaleDate()) ?>
    </td>
</div>
