<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php
$quote = $block->getQuote();
$isActiveReminderDate = $block->isActiveReminderDate();
?>
<div class="admin__field field-comment ">
    <th>
        <label for="quote-reminder-date" class="admin__field-label">
            <span><?php echo $escaper->escapeHtml(__('Reminder Date')) ?>
                <br><span class="switcher-caption"> (
                    <?php echo $escaper->escapeHtml(
                        __('Only available when status is: open/new/proposal sent')
                    ) ?>)
                </span>
            </span>
        </label>
    </th>
    <td>
        <div class="admin__field-control">
            <span id="reminder_date_wrap" class="datebox-datepicker">
                <input type="text"
                       id="reminder_date"
                       class="input-text admin__control-text no-changes _has-datepicker"
                       name="quote[reminder_date]"
                       value="<?php echo $escaper->escapeHtml($quote->getReminderDate()); ?>"
                    <?php echo $escaper->escapeHtml($isActiveReminderDate); ?>/>
                <button type="button" style="display:none;"
                        class="ui-datepicker-trigger reminder-trigger v-middle"
                        <?php echo $escaper->escapeHtml($isActiveReminderDate); ?>>
                    <span>Reminder Date</span>
                </button>
            </span>
            <div class="admin__actions-switch" data-role="switcher">
                <input id="quote-reminder-switch"
                       name="quote[reminder_enabled]"
                       type="checkbox"
                       class="admin__actions-switch-checkbox"
                       value="1"
                    <?php if ($quote->getReminderEnabled()): ?>
                        checked
                    <?php endif; ?>
                />
                <label class="admin__actions-switch-label"
                       for="quote-reminder-switch">
                    <span class="admin__actions-switch-text"
                          data-text-on="Yes" data-text-off="No"></span>
                </label>
                <div class="switcher-caption"><?php echo $escaper->escapeHtml(
                    __('[send reminder email]')
                    )
                    ?>
                </div>
            </div>
        </div>
    </td>
</div>
<script>
    require(["jquery", "jquery/ui"], function ($) {
        $(document).ready(function () {
            $("#reminder_date").datepicker({dateFormat: "yy-mm-dd"});
            $(".reminder-trigger").removeAttr("style");
            $(".reminder-trigger").on("click", function () {
                $("#reminder_date").focus();
            });
        });
    });
</script>
