<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Details\Account\Details $block */
?>

<tr>
    <th><?php echo $escaper->escapeHtml(__('Customer Name')) ?></th>
    <td>
        <?php if ($customerUrl = $block->getCustomerViewUrl()): ?>
            <a href="<?php echo $escaper->escapeHtml($customerUrl) ?>" target="_blank">
                <span><?php echo $escaper->escapeHtml($block->getCustomerName()) ?></span>
            </a>
        <?php else: ?>
            <?php echo $escaper->escapeHtml($block->getCustomerName()) ?>
        <?php endif; ?>
    </td>
</tr>
