<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Details\Account\Details $block */
?>

<?php foreach ($block->getCustomerAccountData() as $data): ?>
    <tr>
        <th><?php echo $escaper->escapeHtml($data['label']) ?></th>
        <td><?php echo $escaper->escapeHtml($data['value']) ?></td>
    </tr>
<?php endforeach; ?>
