<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Details\Account\Details $block */
?>

<?php $phoneNumber = $block->getCustomerTelephone() ?>

<?php if ($phoneNumber): ?>
    <tr>
        <th><?php echo $escaper->escapeHtml(__('Phone Number')) ?></th>
        <td><?php echo $escaper->escapeHtml($phoneNumber) ?></td>
    </tr>
<?php endif; ?>
