<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Details\Account\Details $block */
?>

<?php if ($groupName = $block->getCustomerGroupName()): ?>
    <tr>
        <th><?php echo $escaper->escapeHtml(__('Customer Group')) ?></th>
        <td><?php echo $escaper->escapeHtml($groupName) ?></td>
    </tr>
<?php endif; ?>
