<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Details\Account\Details $block */
?>

<tr>
    <th><?php echo $escaper->escapeHtml(__('Email')) ?></th>
    <td>
        <a href="mailto:<?php echo $escaper->escapeHtml($block->getQuote()->getCustomerEmail()) ?>"
        ><?php echo $escaper->escapeHtml($block->getQuote()->getCustomerEmail()) ?></a>
    </td>
</tr>
