<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Cart2Quote\Quotation\Block\Quote\Email\Items $block */
$quote = $block->getQuote();
$colspan = 5;
?>
<?php if ($quote): ?>
    <table class="email-items">
        <?php foreach ($block->getSections() as $section): ?>
            <?php $sectionsItems = $block->getQuote()->getSectionItems($section->getSectionId()); ?>
            <?php if (!empty($sectionsItems)): ?>
                <thead>
                <?php if (!empty($section->getLabel())): ?>
                    <tr class="section-heading">
                        <th colspan="5">
                            <h2><b><?php echo $escaper->escapeHtml($section->getLabel()); ?></b></h2>
                        </th>
                    </tr>
                <?php endif; ?>
                <tr>
                    <th class="item-info" colspan="2">
                        <?php echo $escaper->escapeHtml(__('Items')); ?>
                    </th>
                    <th class="item-qty">
                        <?php echo $escaper->escapeHtml(__('Qty')); ?>
                    </th>
                    <th class="item-discount">
                        <?php if ($block->showQuoteAdjustment()): ?>
                            <?php $colspan = 6; ?>
                            <?php echo $escaper->escapeHtml(__('Item Discount')); ?>
                        <?php endif; ?>
                    </th>
                    <th class="item-quoted-price">
                        <?php echo $escaper->escapeHtml(__('Quoted Price')); ?>
                    </th>
                    <th class="item-price">
                        <?php echo $escaper->escapeHtml(__('Row Total')); ?>
                    </th>
                </tr>
                <?php if ($quote->hasOptionalItems()): ?>
                    <tr>
                        <th colspan="<?php echo $escaper->escapeHtml($colspan); ?>">
                            <span style="font-weight:normal; font-size:smaller;">
                                <?php echo $escaper->escapeHtml(__('Products with * are optional')); ?>
                            </span>
                        </th>
                    </tr>
                <?php endif; ?>
                </thead>
                <?php foreach ($sectionsItems as $item): ?>
                    <?php if ($item->getParentItem()): ?>
                        <?php continue; ?>
                    <?php endif; ?>
                    <tbody>
                    <?php echo $block->getItemHtml($item); ?>
                    </tbody>
                <?php endforeach; ?>
            <?php endif; ?>
        <?php endforeach; ?>
        <tfoot class="order-totals">
        <?php echo $block->getChildHtml('quote_totals'); ?>
        </tfoot>
    </table>
    <?php if ($block->getGiftMessageHelper()->isMessagesAllowed(
        'quote',
        $quote,
        $quote->getStore()
    ) && $quote->getGiftMessageId()
    ): ?>
        <?php
        $giftMessage = $block->getGiftMessageHelper()->getGiftMessage($quote->getGiftMessageId()); ?>
        <?php if ($giftMessage): ?>
            <br/>
            <table class="message-gift">
                <tr>
                    <td>
                        <h3><?php echo $escaper->escapeHtml(__('Gift Message for this Quote')); ?></h3>
                        <strong>
                            <?php echo $escaper->escapeHtml(__('From:')); ?>
                        </strong>&nbsp;<?php echo $escaper->escapeHtml($giftMessage->getSender()); ?>
                        <br/>
                        <strong>
                            <?php echo $escaper->escapeHtml(__('To:')); ?>
                        </strong>&nbsp;<?php echo $escaper->escapeHtml($giftMessage->getRecipient()); ?>
                        <br/><strong>
                            <?php echo $escaper->escapeHtml(__('Message:')); ?>
                        </strong>
                        <br/><?php echo $escaper->escapeHtml($giftMessage->getMessage()); ?>
                    </td>
                </tr>
            </table>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
