<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */


/**
 * @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\Create\Totals\OriginalSubtotal $block
 * @see \Cart2Quote\Quotation\Block\Adminhtml\Quote\Create\Totals\OriginalSubtotal
 */
?>
<?php if ($block->displayBoth()):?>
    <tr class="row-totals">
        <td style="<?php echo $escaper->escapeHtml($block->getStyle()) ?>"
            class="admin__total-mark"
            colspan="<?php echo $escaper->escapeHtml($block->getColspan()) ?>">
            <?php echo $escaper->escapeHtml(__('Original Subtotal (Excl. Tax)')) ?>
        </td>
        <td style="<?php echo $escaper->escapeHtml($block->getStyle()) ?>"
            class="admin__total-amount">
            <?php echo /* @noEscape  */ $block->formatPrice($block->getTotal()->getValue()) ?>
        </td>
    </tr>
    <tr class="row-totals">
        <td style="<?php echo $escaper->escapeHtml($block->getStyle()) ?>"
            class="admin__total-mark"
            colspan="<?php echo $escaper->escapeHtml($block->getColspan()) ?>">
            <?php echo $escaper->escapeHtml(__('Original Subtotal (Incl. Tax)')) ?>
        </td>
        <td style="<?php echo $escaper->escapeHtml($block->getStyle()) ?>" class="admin__total-amount">
            <?php echo /* @noEscape */ $block->formatPrice($block->getTotal()->getValueInclTax()) ?>
        </td>
    </tr>
<?php elseif ($block->displayCartPricesInclTax()): ?>
    <tr class="row-totals">
        <td style="<?php echo $escaper->escapeHtml($block->getStyle()) ?>"
            class="admin__total-mark"
            colspan="<?php echo $escaper->escapeHtml($block->getColspan()) ?>">
            <?php echo $escaper->escapeHtml($block->getTotal()->getTitle()) ?>
        </td>
        <td style="<?php echo $escaper->escapeHtml($block->getStyle()) ?>"
            class="admin__total-amount">
            <?php echo /* @noEscape  */ $block->formatPrice($block->getTotal()->getValueInclTax()) ?>
        </td>
    </tr>
<?php else: ?>
    <tr class="row-totals">
        <td style="<?php echo $escaper->escapeHtml($block->getStyle()) ?>"
            class="admin__total-mark"
            colspan="<?php echo $escaper->escapeHtml($block->getColspan()) ?>">
            <?php echo $escaper->escapeHtml($block->getTotal()->getTitle()) ?>
        </td>
        <td style="<?php echo $escaper->escapeHtml($block->getStyle()) ?>"
            class="admin__total-amount">
            <?php echo /* @noEscape  */ $block->formatPrice($block->getTotal()->getValue()) ?>
        </td>
    </tr>
<?php endif;?>
