<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>

<tr class="<?php echo $escaper->escapeHtml($block->getTotal()->getCode()) ?> row-totals">
    <td style="<?php echo $escaper->escapeHtml($block->getTotal()->getStyle()) ?>"
        class="admin__total-mark"
        colspan="<?php echo $escaper->escapeHtml($block->getColspan()) ?>">
        <?php if ($block->getRenderingArea() == $block->getTotal()->getArea()): ?><strong><?php endif; ?>
            <?php echo $escaper->escapeHtml($block->getTotal()->getTitle()) ?>
            <?php if ($block->getRenderingArea() == $block->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
    <?php if ($block->displayCartPricesInclTax() && $block->getTotal()->getValueInclTax() < 0):?>
        <td style="<?php echo $escaper->escapeHtml($block->getTotal()->getCode()) ?>" class="admin__total-amount">
            <?php if ($block->getRenderingArea() == $block->getTotal()->getArea()): ?><strong><?php endif; ?>
                <?php echo /* @noEscape */ $block->formatPrice($block->getTotal()->getValueInclTax()) ?>
                <?php if ($block->getRenderingArea() == $block->getTotal()->getArea()): ?></strong><?php endif; ?>
        </td>
    <?php else: ?>
    <td style="<?php echo $escaper->escapeHtml($block->getTotal()->getCode()) ?>" class="admin__total-amount">
        <?php if ($block->getRenderingArea() == $block->getTotal()->getArea()): ?><strong><?php endif; ?>
            <?php echo /* @noEscape */ $block->formatPrice($block->getTotal()->getValue()) ?>
            <?php if ($block->getRenderingArea() == $block->getTotal()->getArea()): ?></strong><?php endif; ?>
    </td>
    <?php endif;?>
</tr>

