<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
/** @var \Cart2Quote\Quotation\Block\Quote\Email\Items\Quote\Column $block */
/** @var \Cart2Quote\Quotation\Helper\ProductThumbnail $thumbnailHelper */
/** @var \Magento\Framework\Pricing\Helper\Data $dataHelper */

// @codingStandardsIgnoreLine TODO: replace helper with view-model
$thumbnailHelper = $this->helper(\Cart2Quote\Quotation\Helper\ProductThumbnail::class);
// @codingStandardsIgnoreLine TODO: replace helper with view-model
$dataHelper = $this->helper(\Magento\Framework\Pricing\Helper\Data::class);
?>

<?php if ($block->getItem()->getParentItem()): ?>
    <tr class="options-label">
        <?php $attributes = json_decode(
            $block->getItem()->getOptionByCode('bundle_selection_attributes')->getValue(),
            true
        ); ?>
        <td class="col label options-label-content" colspan="5">
            <?php echo $escaper->escapeHtml($attributes['option_label']); ?>
        </td>
    </tr>
<?php endif; ?>

<?php
        $class = '';
if (($block->getIndex() == $block->getCount() - 1)) {
    $class .= ' last-element';
}
if ($block->getItem()->getParentItem()) {
    $class .= ' item-options-container';
} else {
    $class .= ' item-parent';
}
?>
<tr id="order-item-row-<?php echo $escaper->escapeHtml($block->getItem()->getItemId()) ?>"
    class="<?php echo $escaper->escapeHtml($class) ?>"
    <?php if ($block->getItem()->getParentItem()): ?>
        data-th="<?php echo $escaper->escapeHtml($block->getItem()->getName()) ?>"
    <?php endif; ?>>
    <?php if (!$block->getItem()->getParentItem()): ?>
        <?php if ($thumbnailHelper->showProductThumbnailProposal()): ?>
            <td class="col name" colspan="1" data-th="<?php echo $escaper->escapeHtml(__('Product Name')); ?>">
                <?php $item = $block->getItem(); ?>
                <?php $product = $item->getProduct(); ?>
                <a href="<?php echo $escaper->escapeUrl($thumbnailHelper->getProductUrl($item)); ?>">
                <img class="product-thumbnail" align="left"
                         src="<?php echo $escaper->escapeHtml($thumbnailHelper->getProductThumbnail($product)); ?>" width="75"
                         height="75" alt="<?php echo $escaper->escapeHtml($item->getName()); ?>"
                         title="<?php echo $escaper->escapeHtml($item->getName()); ?>"/>
                </a>
            </td>
            <td colspan="1">
        <?php else: ?>
            <td class="col name" colspan="2" data-th="<?php echo $escaper->escapeHtml(__('Product Name')); ?>">
        <?php endif; ?>
            <strong class="product name product-item-name"><?php echo $escaper->escapeHtml($block->getItem()->getName()); ?>
                <?php if ($block->getItem()->getCurrentTierItem()->getMakeOptional()): ?>
                    <?php echo ' *' ?>
                <?php endif; ?>
            </strong>
            <p class="sku">
                <?php echo $escaper->escapeHtml(__('SKU')); ?>:
                <?php echo $escaper->escapeHtml($block->getItem()->getSku()); ?>
            </p>
        </td>
        <?php echo $block->getParentBlock()
            ->getChildBlock('quote.email.columns.item-info')
            ->getChildHtml('', $useCache = false);
        ?>
    <?php else: ?>
        <td class="col value value-padding" colspan="5"
            data-th="<?php echo $escaper->escapeHtml(__('Product Name')); ?>">
            <?php $product = $block->productRepositoryInterface->getById(
                $block->getItem()->getProduct()->getId(),
                false,
                $block->getQuote()->getStoreId()
            );
            ?>
            <?php echo $escaper->escapeHtml($block->getItem()->getQty() . ' x ' . $product->getName()); ?>
            <span class="price">
                    <?php echo $escaper->escapeHtml($dataHelper->currency(
                        $block->getItem()->getCurrentTierItem()->getCustomPrice(),
                        true,
                        false
                    )); ?>
            </span>
        </td>
    <?php endif; ?>
</tr>
