<!--
  ~ Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!--
-->
<!--@subject {{var store.frontend_name}}: {{trans "Quote Proposal"}} # {{var quote.increment_id}} @-->
<!--@vars {
"var formattedBillingAddress|raw":"Billing Address",
"var quote_data_email_customer_note":"Email Quote Note",
"var quote.increment_id":"Quote Id",
"var store.getFrontendName()":"Store Frontend Name",
"var quote.getCreatedAtFormatted(1)":"Created At Formatted",
"var quote.getCustomerName()":"Customer Name",
"var quote.getRejectMessage()|escape|nl2br":"Reject Message",
"var quote":"Quote",
"var attach_pdf": "Attachment PDF",
"var attach_doc": "Attachment DOC",
"var customer_has_account": "Customer Has Account",
"var quote_data_expiry_date_string": "Quote Data Expiry Date String",
"var quote.shipping_method": "Quote Shipping Method",
"var store_phone": "Store Phone",
"var store_hours": "Store Hours",
"var quote_data_shipping_method": "Quote Data Shipping Method",
"var quote_data_customer_note": "Quote Data Customer Note",
"var store.frontend_name": "Store Frontend Name",
"var quote_data_customer_name": "Quote Data Customer Name",
"var this.getUrl($store,'quotation/quote/history/',[_nosid:1])": "URL for Quote History",
"var store_email": "Store Email",
"var quote_data_created_at_formatted": "Quote Data Created At Formatted",
"var quote_data_email_customer_note|escape|nl2br": "Quote Data Email Customer Note",
"var quote": "Quote",
"layout handle=\"quotation_email_quote_items\" quote=$quote area=\"frontend\"":"Quote Items Grid",
"layout handle=\"quotation_email_proposal_button\" quote=$quote area=\"frontend\"":"Quote Checkout Button",
"var payment_html|raw":"Payment Details",
"var formattedShippingAddress|raw":"Shipping Address",
"var quote_data_shipping_description":"Shipping Description",
"var quote_data_receiver_name": "Quote Data Receiver Name",
"var quote_data_salesrep_name": "SalesRep Name"
} @-->

{{template config_path="design/email/header_template"}}
{{inlinecss file="Cart2Quote_Quotation::css/email-inline_extend.css"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello %customer_name," customer_name=$quote_data_customer_name}}</p>
            <p>
                {{if quote_data_salesrep_name}}
                {{trans "My name is <b> %salesrep_name </b> and I have processed this price proposal for you." salesrep_name=$quote_data_salesrep_name |raw}}
                {{trans "If you have any questions, please contact me by responding to this email directly."}}
                {{/if}}
            </p>
            <p>
                {{trans "Thank you for your Quote Request from %store_name." store_name=$store.frontend_name}}
                {{if attach_pdf}}<br><br>{{trans "You will find our proposal in the attached PDF." }}{{/if}}
                {{if attach_doc}}{{trans "Our Terms and Conditions are also attached as PDF." }}{{/if}}
                {{if customer_has_account}}
                {{trans "To view all details, edit or accept this proposal visit My Quote in your dashboard by <a href="%account_url">logging into your account</a>." account_url=$this.getUrl($store,'quotation/quote/history/',[_nosid:1]) |raw}}
                {{/if}}
            </p>
            <p>
                {{trans "If you have questions about your quote request, you can email us at <a href="mailto:%store_email">%store_email</a>" store_email=$store_email |raw}}
                {{depend store_phone}}
                {{trans "or call us at <a href="tel:%store_phone">%store_phone</a>" store_phone=$store_phone |raw}}
                {{/depend}}.
                {{depend store_hours}}
                {{trans "Our hours are <span class="no-link">%store_hours</span>." store_hours=$store_hours |raw}}
                {{/depend}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans "Your Quote <span class="no-link">#%increment_id</span>" increment_id=$quote.increment_id |raw}}
                {{if quote_data_expiry_date_string}}
                <span class="no-link valid-date">{{trans "(Valid Until: %expiry_date)" expiry_date=$quote_data_expiry_date_string |raw}}</span>
                {{/if}}
            </h1>
            <p>
                <span class="no-link">{{trans "Placed on %created_at" created_at=$quote_data_created_at_formatted |raw}}</span>
            </p>
            {{depend quote_data_shipping_method}}
            {{if quote.shipping_method}}
            <p><span class="no-link">{{trans "Shipping Method: %shipping_method" shipping_method=$quote_data_shipping_method |raw}}</span></p>
            {{/if}}
            {{/depend}}
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{if quote_data_email_customer_note}}
            <table class="message-info">
                <tr>
                    <td>
                        <h3>{{trans "Remarks with Request"}}</h3>
                        <p>
                            {{var quote_data_email_customer_note|escape|nl2br}}
                        </p>
                    </td>
                </tr>
            </table>
            {{/if}}
            {{layout handle="quotation_email_proposal_items" quote=$quote area="frontend"}}
        </td>
    </tr>

    <tr class="email-intro">
        <td>
            <p class="greeting">
                {{if quote_data_salesrep_name}}
                    <br><br>{{trans "Kind regards, <b>%salesrep_name</b>" salesrep_name=$quote_data_salesrep_name |raw}}
                {{/if}}
            </p>
        </td>
    </tr>

    <tr class="checkout-button">
        <td class="checkout-button-row">
            {{layout handle="quotation_email_proposal_button" quote=$quote area="frontend"}}
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
