<!--
  ~ Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!--
-->
<!--@subject {{var store.frontend_name}}: {{trans "New Quote Request Notice"}} # {{var quote.increment_id}} @-->
<!--@vars {
"var quote_data_email_customer_note":"Email Quote Note",
"var quote.increment_id":"Quote Id",
"var quote.shipping_method": "Quote Shipping Method",
"var quote_data_shipping_method": "Quote Data Shipping Method",
"var store.frontend_name": "Store Frontend Name",
"var quote_data_receiver_name": "Quote Data Receiver Name",
"var quote_data_created_at_formatted": "Quote Data Created At Formatted",
"var quote": "Quote",
"var quote_data_customer_note|escape|nl2br": "Quote Data Customer Note"
} @-->

{{template config_path="design/email/header_template"}}
{{inlinecss file="Cart2Quote_Quotation::css/email-inline_extend.css"}}

<table>
    <tr class="email-intro">
        <td>
            <p class="greeting">{{trans "Hello %receiver_name," receiver_name=$quote_data_receiver_name}}</p>
            <p>
                {{trans "A new quotation request has been submitted. Login to the website's admin to view and manage your quotations."}}
            </p>
        </td>
    </tr>
    <tr class="email-summary">
        <td>
            <h1>{{trans "Quotation summary: <span class="no-link">#%increment_id</span>" increment_id=$quote.increment_id |raw}}</h1>
            <p>{{trans "Placed on <span class="no-link">%created_at</span>" created_at=$quote_data_created_at_formatted |raw}}</p>
            {{depend quote_data_shipping_method}}
                {{if quote.shipping_method}}
                    <p>{{trans "Shipping Method: <span class="no-link">%shipping_method</span>" shipping_method=$quote_data_shipping_method |raw}}</p>
                {{/if}}
            {{/depend}}
        </td>
    </tr>
    <tr class="email-information">
        <td>
            {{depend quote_data_customer_note}}
                {{if quote_data_email_customer_note}}
                    <table class="message-info">
                        <tr>
                            <td>
                                <h3>{{trans "Remarks with Request"}}</h3>
                                <p>
                                    {{var quote_data_customer_note|escape|nl2br}}
                                </p>
                            </td>
                        </tr>
                    </table>
                {{/if}}
            {{/depend}}
            {{layout handle="quotation_email_quote_items" quote=$quote area="frontend"}}
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
