<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Catalog\Block\Product\View $block */
?>
<?php $_product = $block->getProduct(); ?>
<?php $buttonTitle = __('Update Quote'); ?>
<?php if ($_product->isSaleable()): ?>
    <div class="box-tocart update">
        <fieldset class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty">
                    <label class="label" for="qty"><span><?php echo $escaper->escapeHtml(__('Qty')) ?></span></label>

                    <div class="control">
                        <input type="number" name="qty" id="qty" maxlength="12"
                               value="<?php echo $block->getProductDefaultQty() * 1 ?>"
                               title="<?php echo $escaper->escapeHtml(__('Qty')) ?>"
                               class="input-text qty" data-validate="{'required-number':true,digits:true}"/>
                    </div>
                </div>
            <?php endif; ?>
            <div class="actions">
                <button type="button"
                        title="<?php echo $escaper->escapeHtml($buttonTitle) ?>"
                        class="action primary tocart"
                        id="product-updatecart-button">
                    <span><?php echo $escaper->escapeHtml($buttonTitle) ?></span>
                </button>
            </div>
        </fieldset>
    </div>
    <script type="text/x-magento-init">
        {
            "#product_addtocart_form": {
                "validation": {},
                "addToCart": {
                    "cartButtonId": "#product-updatecart-button",
                    "cartForm": "#product_addtocart_form"
                }
            }
        }
    </script>
<?php endif; ?>
