<!--
  ~ Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!--
-->
<div class="block-title">
    <strong>
        <span class="text"><!-- ko text: $t('My Quote') --><!-- /ko --></span>
        <span
                class="qty empty"
                data-bind="css: { empty: quote().summary_count == 0 },
                       attr: { title: $t('Items in Quote') }">
            <!-- ko text: quote().summary_count --><!-- /ko -->
        </span>
    </strong>
</div>

<div class="block-content">
    <button type="button"
            id="btn-miniquote-close"
            class="action close"
            data-action="close"
            data-bind="attr: { title: $t('Close') }">
        <span><!-- ko text: $t('Close') --><!-- /ko --></span>
    </button>

    <!-- ko if: quote().summary_count -->
    <div class="items-total">
        <span class="count"><!-- ko text: quote().summary_count --><!-- /ko --></span>
        <!-- ko if: quote().summary_count == 1 -->
        <!-- ko text: $t('Item') --><!-- /ko -->
        <!-- /ko -->
        <!-- ko if: quote().summary_count > 1 -->
        <!-- ko text: $t('Items') --><!-- /ko -->
        <!-- /ko -->
    </div>

    <!-- ko foreach: getRegion('subtotalContainer') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->

    <!-- ko foreach: getRegion('extraInfo') -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->

    <div class="actions">
        <div class="primary">
            <button
                    id="top-quote-btn-checkout"
                    type="button"
                    class="action primary checkout"
                    data-bind="attr: {title: $t('Submit Quote Request')}">
                <!-- ko i18n: $t('View Quote Request') --><!-- /ko -->
            </button>
        </div>
    </div>
    <!-- /ko -->

    <!-- ko if: quote().summary_count -->
    <strong class="subtitle"><!-- ko text: $t('Recently added item(s)') --><!-- /ko --></strong>

    <div data-action="scroll" class="miniquote-items-wrapper">
        <ol id="mini-quote" class="miniquote-items" data-bind="foreach: { data: quote().items, as: 'item' }">
            <!-- ko foreach: $parent.getRegion($parent.getItemRenderer(item.product_type)) -->
            <!-- ko template: {name: getTemplate(), data: item, afterRender: $parents[1].initSidebarQuote()} -->
            <!-- /ko -->
            <!-- /ko -->
        </ol>
    </div>
    <!-- /ko -->

    <!-- ko ifnot: quote().summary_count -->
    <strong class="subtitle empty" data-bind="visible: closeSidebar()">
        <!-- ko text: $t('You have no items in your quote.') --><!-- /ko -->
    </strong>
    <!-- ko if: quote().quote_empty_message -->
    <p class="miniquote empty text"><!-- ko text: quote().quote_empty_message --><!-- /ko --></p>
    <!-- /ko -->
    <!-- /ko -->

    <!-- ko if: quote().summary_count -->
    <div class="actions">
        <div class="secondary">
            <a class="action viewquote" data-bind="attr: {href: quoteCartUrl}">
                <span><!-- ko text: $t('View and Edit Quote Request') --><!-- /ko --></span>
            </a>
        </div>
    </div>
    <!-- /ko -->

    <div id="miniquote-widgets" class="miniquote-widgets">
        <!-- ko foreach: getRegion('promotion') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!-- /ko -->
    </div>
</div>
<!-- ko foreach: getRegion('sign-in-popup') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!-- /ko -->
