<!--
  ~ Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!--
-->
<div class="subtotal">
    <span class="label">
        <!-- ko text: $t('Quote Subtotal') --><!-- /ko -->
    </span>

    <!-- ko foreach: elems -->
    <!-- ko template: getTemplate() --><!-- /ko -->
    <!-- /ko -->
</div>
