<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php /** @var \Cart2Quote\Quotation\Block\Quote\Success $block*/ ?>
<div class="quotation-success" id="quotation_quote_success_page" data-mage-init='{"miniQuoteReload": {}}'>
    <h1><?php echo $escaper->escapeHtml(__('Thank you for your quote request!')) ?></h1>
    <?php if ($block->getQuoteId()): ?>
        <?php if ($block->getCanViewQuote()): ?>
            <p>
                <?php echo $escaper->escapeHtml(__('Your quote request number is:')) ?>
                <a href="<?php echo $escaper->escapeHtml($block->getViewQuoteUrl()) ?>" class="quote-number">
                    <strong><?php echo $escaper->escapeHtml($block->getQuoteId()) ?></strong>
                </a>
            </p>
        <?php else: ?>
            <?php $realQuoteId = $escaper->escapeHtml($block->getQuoteId()); ?>
            <p>
                <?php echo $escaper->escapeHtml(__('Your quote request number is')) ?>:
                <span><?php echo $escaper->escapeHtml($realQuoteId) ?></span>.
            </p>
        <?php endif; ?>
        <?php if ($block->getStatus() != \Cart2Quote\Quotation\Model\Quote\Status::STATUS_PHONE_ONLY): ?>
            <p><?php echo $escaper->escapeHtml(__('We will email you a quote request confirmation with details.')) ?></p>
        <?php else: ?>
            <p><?php echo $escaper->escapeHtml(__('We will give you a call as soon as possible.')) ?></p>
        <?php endif; ?>
    <?php endif; ?>
    <?php echo $block->getAdditionalInfoHtml() ?>
    <div class="actions-toolbar quotation-quote-success-continue-shopping"
         id="quotation_quote_success_continue_shopping">
        <div class="primary">
            <a class="action primary continue"
               title="<?php echo $escaper->escapeHtml(__('Continue Shopping')) ?>"
               href="<?php echo $escaper->escapeHtml($block->getUrl()) ?>">
                <span><?php echo $escaper->escapeHtml(__('Continue Shopping')) ?></span>
            </a>
        </div>
    </div>
</div>
