<!--
  ~ Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<div class="price-container">
    <span class="price-wrapper">
        <!-- ko i18n: 'Price:' --><!-- /ko -->
        <b data-bind="html: price"></b>
    </span>
</div>
