<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Order\View\LinkedQuote $block */
?>
<?php $order = $block->getOrder(); ?>
<?php if (isset($order)): ?>
    <?php if ($block->getQuoteNumber($order->getQuoteId())): ?>
        <?php /* Account Information */ ?>
        <th><?php echo $escaper->escapeHtml(__('Price Proposal')) ?></th>
        <td><a href="<?php echo $escaper->escapeHtml($block->getQuoteViewUrl($order->getQuoteId())); ?>">
                <?php echo $escaper->escapeHtml(__('Quotation')) ?>
                <?php echo $escaper->escapeHtml('#' . $block->getQuoteNumber($order->getQuoteId())); ?>
            </a>
        </td>
    <?php endif; ?>
<?php endif; ?>
