<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Info $block */
?>

<div class="admin__page-section-item quote-email-information">
    <div class="admin__page-section-item-title">
        <span class="title"><?php echo $escaper->escapeHtml(__('Email Receivers')) ?></span>
        <p class="note">
            <span>
                <?php echo $escaper->escapeHtml(
                    __('Select which email address(es) should receive the quote proposal.')
                ) ?>
            </span>
            <span>
                <?php echo $escaper->escapeHtml(__('Leave blank if you don\'t want to change recipient(s).')) ?>
            </span>
        </p>
    </div>
    <div class="admin__page-section-item-content">
        <table class="admin__table-secondary quote-email-information-table">
            <?php echo $block->getChildHtml(); ?>
        </table>
    </div>
</div>
