<!--
  ~ Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<strong class="step-title title" data-bind="i18n: 'Enter your details'" data-role="title"></strong>
<!-- ko if: loginEnabled -->
<!-- ko foreach: getRegion('customer-email') -->
<!-- ko template: getTemplate() --><!-- /ko -->
<!--/ko-->
<!--/ko-->

<form class="form quotation-fields" id="quotation-fields" data-hasrequired="* Required Fields">
    <fieldset class="fieldset" id="guest-fields" data-bind="visible: showGuestField">
        <!-- ko foreach: getRegion('guest-fieldsets') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </fieldset>

    <fieldset class="fieldset" data-bind="visible: showQuotationFields">
        <!-- ko foreach: getRegion('quote-information-fieldsets') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </fieldset>

    <fieldset class="fieldset">
        <!-- ko foreach: getRegion('guest-checkout') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </fieldset>

    <fieldset class="fieldset" id="global-account-fields" data-bind="visible: showNonGuestField">
        <!-- ko foreach: getRegion('account-information-fieldsets') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
        <!--/ko-->
    </fieldset>
</form>
