<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Quote\Item\Renderer\Column $block */

// @codingStandardsIgnoreLine TODO: replace helper with view-model
$thumbnailHelper = $this->helper(\Cart2Quote\Quotation\Helper\ProductThumbnail::class);
// @codingStandardsIgnoreLine TODO: replace helper with view-model
$productHelper = $this->helper(\Magento\Catalog\Helper\Product\Configuration::class);

$product = $block->getProduct();
$productUrl = $block->getProductUrl($product);
$productName = $product->getName();
$item = $block->getItem();

?>
<?php $colspan = 3; ?>
<?php if ($block->isShowCustomerDashboardImages()): ?>
    <?php $colspan = 2; ?>
    <td colspan="1">
        <?php if ($productUrl): ?>
            <a href="<?php echo $escaper->escapeUrl($productUrl); ?>">
        <?php endif; ?>
        <img class="product-thumbnail" align="left"
            src="<?php echo $escaper->escapeHtml($thumbnailHelper->getProductThumbnail($product)) ?>" width="75"
            height="75" alt="<?php echo $escaper->escapeHtml($productName) ?>"
            title="<?php echo $escaper->escapeHtml($productName) ?>">
        <?php if ($productUrl): ?>
            </a>
        <?php endif; ?>
    </td>
<?php endif; ?>
<td class="col name" data-th="<?php echo $escaper->escapeHtml(__('Product Name')); ?>"
    colspan="<?php echo $escaper->escapeHtml($colspan); ?>">
    <strong class="product name product-item-name">
        <p>
            <?php echo $productUrl
                ? '<a href="' . $escaper->escapeUrl($productUrl) . '">'. $escaper->escapeHtml($productName) . '</a>'
                : $escaper->escapeHtml($productName) ?>
        </p>
    </strong>
    <?php $options = $productHelper->getOptions($block->getItem()) ?>
    <?php if (!empty($options)): ?>
        <dl class="item-options">
            <?php foreach ($options as $option): ?>
                <dt><?php echo $escaper->escapeHtml($option['label']) ?></dt>
                <?php if (!$block->getPrintStatus()): ?>
                    <?php $formatedOptionValue = $block->getFormatedOptionValue($option) ?>
                    <dd>
                        <?php if (isset($formatedOptionValue['full_view'])): ?>
                            <?php echo $escaper->escapeHtml($formatedOptionValue['full_view']) ?>
                        <?php else: ?>
                            <?php echo $escaper->escapeHtml($formatedOptionValue['value']) ?>
                        <?php endif; ?>
                    </dd>
                <?php else: ?>
                    <dd>
                        <?php
                        if ((isset($option['print_value']))) {
                            $optionValue = $option['print_value'];
                        } else {
                            $optionValue = $option['value'];
                        } ?>
                        <?php echo $escaper->escapeHtml(nl2br($optionValue)) ?>
                    </dd>
                <?php endif; ?>
            <?php endforeach; ?>
        </dl>
    <?php endif; ?>
    <?php $addtInfoBlock = $block->getProductAdditionalInformationBlock(); ?>
    <?php if ($addtInfoBlock): ?>
        <?php echo $addtInfoBlock->setItem($item)->toHtml(); ?>
    <?php endif; ?>
    <?php if ($item->getDescription()): ?>
        <p><strong><?php echo $escaper->escapeHtml(__('Comment:')); ?></strong><br/>
            <?php echo $escaper->escapeHtml($item->getDescription()) ?></p>
    <?php endif; ?>
</td>
