<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Quote\Item\Renderer\Column $block */

?>
<td class="col qty" data-th="<?php echo $escaper->escapeHtml(__('Qty')); ?>">
    <ul class="items-qty">
        <?php if ($block->getItem()->getQty() > 0): ?>
            <li class="item">
                <span class="title"><?php echo $escaper->escapeHtml(__('Requested')); ?></span>
                <span class="content"><?php echo $block->getQtyHtml(); ?></span>
            </li>
            <?php echo $block->getTierQtyHtml(); ?>
        <?php endif; ?>
    </ul>
</td>
