<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Quote\Email\Items\DefaultItems $block */
/** @var \Magento\Quote\Model\Quote\Item $item */
/** @var \Cart2Quote\Quotation\Model\Quote $quote */
$item = $block->getItem();
$quote = $item->getQuote();
?>
<tr>
    <?php echo $block->getParentBlock()->getChildBlock('default.items.columns')
        ->setItem($item)
        ->setQuote($quote)
        ->getChildHtml('', $useCache = false) ?>
</tr>
<?php
$giftMessageHelper = $block->getGiftMessageHelper();
if ($item->getGiftMessageId() && $giftMessage = $giftMessageHelper->getGiftMessage($item->getGiftMessageId())): ?>
    <tr>
        <td colspan="3" class="item-extra">
            <table class="message-gift">
                <tr>
                    <td>
                        <h3><?php echo $escaper->escapeHtml(__('Gift Message')) ?></h3>
                        <strong><?php echo $escaper->escapeHtml(__('From:')); ?></strong>
                        &nbsp<?php echo  $escaper->escapeHtml($giftMessage->getSender()); ?>
                        <br/><strong><?php echo $escaper->escapeHtml(__('To:')); ?></strong>
                        &nbsp<?php echo  $escaper->escapeHtml($giftMessage->getRecipient()); ?>
                        <br/><strong><?php echo $escaper->escapeHtml(__('Message:')); ?></strong>
                        <br/><?php echo $escaper->escapeHtml($giftMessage->getMessage()) ?>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
<?php endif; ?>
