<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php
$source = $block->getSource();

// @codingStandardsIgnoreLine TODO: replace helper with view-model
$fullInfo = $this->helper(\Magento\Tax\Helper\Data::class)->getCalculatedTaxes($source);

$quote = $block->getQuote();
// @codingStandardsIgnoreStart
global $taxIter;
$taxIter++;
// @codingStandardsIgnoreEnd
?>

<?php if ($fullInfo && $block->displayFullSummary()): ?>
    <?php foreach ($fullInfo as $info): ?>
        <?php $percent = $info['percent']; ?>
        <?php $amount = $info['tax_amount']; ?>
        <?php $baseAmount = $info['base_tax_amount']; ?>
        <?php $title = $info['title']; ?>
        <?php $planeMode = ($block->getIsPlaneMode()) ? ' plane' : ''; ?>
        <tr class="totals tax details details-<?php echo $escaper->escapeHtml($taxIter); ?>
            <?php echo $escaper->escapeHtml($planeMode); ?>">
            <td <?php echo /* @noEscape */ $block->getLabelProperties(); ?>>
                <?php echo $escaper->escapeHtml($title); ?>
                <?php if (!$percent !== null): ?>
                    (<?php echo $escaper->escapeHtml((float)$percent); ?>%)
                <?php endif; ?>
                <br/>
            </td>
            <td <?php echo /* @noEscape */ $block->getValueProperties() ?> rowspan="1">
                <?php echo /* @noEscape */ $quote->formatPrice($amount); ?>
            </td>
        </tr>
    <?php endforeach; ?>
<?php endif; ?>

<?php if ($block->displayFullSummary() && $fullInfo && !$block->getIsPlaneMode()): ?>
    <tr class="totals-tax-summary">
<?php elseif ($block->displayFullSummary() && $fullInfo && $block->getIsPlaneMode()): ?>
    <tr class="totals-tax-summary plane">
<?php else: ?>
    <tr class="totals-tax">
<?php endif; ?>
        <th <?php echo /* @noEscape */ $block->getLabelProperties(); ?> scope="row" class="tax-header">
            <?php if ($block->displayFullSummary()): ?>
                <div class="detailed"><?php echo $escaper->escapeHtml(__('Tax')); ?></div>
            <?php else: ?>
                <?php echo $escaper->escapeHtml(__('Tax')); ?>
            <?php endif; ?>
        </th>
        <td <?php echo /* @noEscape */ $block->getValueProperties() ?>
            data-th="<?php echo $escaper->escapeHtml(__('Tax')); ?>"
            class="tax-content">
            <?php echo /* @noEscape */ $quote->formatPrice($source->getTaxAmount()) ?>
        </td>
    </tr>
