<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Cart2Quote\Quotation\Block\Quote\Totals $block
 * @see \Magento\Sales\Block\Order\Totals
 */
?>
<?php foreach ($block->getTotals() as $_code => $_total): ?>
    <?php if ($_total->getBlockName()): ?>
        <?php echo $block->getChildHtml($_total->getBlockName(), false); ?>
    <?php else: ?>
        <tr class="<?php echo $escaper->escapeHtml($_code) ?> row-totals">
            <th class="quote-totals quote-totals-header"
                <?php echo /* @noEscape */ ($block->isProductRemarkDisabled())
                    ? $block->getLabelProperties()
                    : $block->getLabelPropertiesWithComment() ?>
                scope="row">
                <?php if ($_total->getStrong()): ?>
                    <strong><?php echo $escaper->escapeHtml($_total->getLabel()); ?></strong>
                <?php else: ?>
                    <?php echo $escaper->escapeHtml($_total->getLabel()); ?>
                <?php endif ?>
            </th>
            <td class="quote-totals-content" <?php echo /* @noEscape */ $block->getValueProperties() ?>
                data-th="<?php echo $escaper->escapeHtml($_total->getLabel()); ?>">
                <?php if ($_total->getStrong()): ?>
                    <strong><?php echo /* @noEscape */ $block->formatValue($_total) ?></strong>
                <?php else: ?>
                    <?php echo /* @noEscape */ $block->formatValue($_total) ?>
                <?php endif ?>
            </td>
        </tr>
    <?php endif ?>
<?php endforeach ?>
