<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var \Cart2Quote\Quotation\Block\Checkout\Cart\MoveToQuote $block */ ?>
<?php if ($block->getIsQuotationEnabled() && !$block->getShowOrderReferences() && $block->isMoveToQuoteEnabled()): ?>
    <div class="actions primary">
        <button
                data-mage-init='{ "cartToQuoteActions" : { "buttonSelector" :  "#minicart-movetoquote"  } }'
                id="minicart-movetoquote"
                type="submit"
                name="move_to_quote_action"
                value="move_to_quote"
                title="<?php echo $escaper->escapeHtml(__('Request a Quote')); ?>"
                class="action primary checkout movetoquote minicart-movetoquote-button">
            <span><?php echo $escaper->escapeHtml(__('Move Items to Quote')); ?></span>
        </button>
    </div>
<?php endif; ?>
