<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * Product list template
 *
 * @var \Magento\Catalog\Block\Product\ListProduct $block
 */
?>
<?php
$_productCollection = $block->getLoadedProductCollection();
// @codingStandardsIgnoreLine TODO: replace helper with view-model
$_helper = $this->helper(\Magento\Catalog\Helper\Output::class);
?>
<?php if (!$_productCollection->getSize()): ?>
    <div class="message info empty">
        <div>
            <?php echo $escaper->escapeHtml(__('We can\'t find products matching the selection.')) ?>
        </div>
    </div>
<?php else: ?>
    <?php echo $block->getToolbarHtml() ?>
    <?php echo $block->getAdditionalHtml() ?>
    <?php
    if ($block->getMode() == 'grid') {
        $viewMode = 'grid';
        $image = 'category_page_grid';
        $showDescription = false;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::SHORT_VIEW;
    } else {
        $viewMode = 'list';
        $image = 'category_page_list';
        $showDescription = true;
        $templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::FULL_VIEW;
    }

    /**
     * Position for actions regarding image size changing in vde if needed
     */
    $pos = $block->getPositioned() ?? '';
    ?>
    <div class="products wrapper <?php echo $escaper->escapeHtml($viewMode) ?>
                products-<?php echo $escaper->escapeHtml($viewMode) ?>">
        <?php $iterator = 1; ?>
        <ol class="products list items product-items">
            <?php /** @var \Magento\Catalog\Model\Product $_product */ ?>
            <?php foreach ($_productCollection as $_product): ?>
                <?php echo ($iterator++ == 1)
                    ? '<li class="item product product-item">'
                    : '</li><li class="item product product-item">' ?>
                <div class="product-item-info" data-container="product-<?php echo $escaper->escapeHtml($viewMode) ?>">
                    <?php
                    $productImage = $block->getImage($_product, $image);
                    if ($pos != null) {
                        $position = ' style="left:' . $productImage->getWidth() . 'px;'
                        . 'top:' . $productImage->getHeight() . 'px;"';
                    }
                    ?>
                    <?php /* Product Image */ ?>
                    <a href="<?php echo $escaper->escapeHtml($_product->getProductUrl()) ?>"
                       class="product photo product-item-photo"
                       tabindex="-1">
                        <?php echo $productImage->toHtml() ?>
                    </a>
                    <div class="product details product-item-details">
                        <?php
                        $_productNameStripped = $block->stripTags($_product->getName(), null, true);
                        ?>
                        <strong class="product name product-item-name">
                            <a class="product-item-link"
                               href="<?php echo $escaper->escapeHtml($_product->getProductUrl()) ?>">
                                <?php echo $escaper->escapeHtml(
                                    $_helper->productAttribute($_product, $_product->getName(), 'name')
                                ) ?>
                            </a>
                        </strong>
                        <?php echo $block->getReviewsSummaryHtml($_product, $templateType) ?>
                        <?php echo /* @noEscape */ $block->getProductPrice($_product) ?>
                        <?php echo $block->getProductDetailsHtml($_product) ?>

                        <div class="product-item-inner">
                            <div class="product actions product-item-actions"
                                <?php echo strpos($pos, $viewMode . '-actions')
                                    ? $escaper->escapeHtml($position)
                                    : '' ?>>
                                <div class="actions-primary"
                                    <?php echo strpos($pos, $viewMode . '-primary')
                                        ? $escaper->escapeHtml($position)
                                        : '' ?>>
                                    <!-- Start Cart2Quote_Quotation -->
                                    <?php echo $block->getChildBlock(
                                        'product_list_form.container'
                                    )->getChildBlock(
                                        'product_list_form'
                                    )->setProduct($_product)->toHtml() ?>
                                    <!-- End Cart2Quote_Quotation -->
                                </div>
                                <div data-role="add-to-links"
                                     class="actions-secondary"<?php echo strpos($pos, $viewMode . '-secondary')
                                        ? $escaper->escapeHtml($position)
                                        : '' ?>>
                                    <?php if ($addToBlock = $block->getChildBlock('addto')): ?>
                                        <?php echo $addToBlock->setProduct($_product)->getChildHtml() ?>
                                    <?php endif; ?>
                                </div>
                            </div>
                            <?php if ($showDescription):?>
                                <div class="product description product-item-description">
                                    <?php echo /* @noEscape */ $_helper->productAttribute(
                                        $_product,
                                        $_product->getShortDescription(),
                                        'short_description'
                                    ) ?>
                                    <a href="<?php echo $escaper->escapeHtml($_product->getProductUrl()) ?>"
                                       title="<?php echo $escaper->escapeHtml($_productNameStripped) ?>"
                                       class="action more"><?php echo $escaper->escapeHtml(__('Learn More')) ?></a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
                <?php echo ($iterator == ($_productCollection->getSize() +1)) ? '</li>' : '' ?>
            <?php endforeach; ?>
        </ol>
    </div>
    <?php echo $block->getChildBlock('toolbar')->setIsBottom(true)->toHtml(); ?>
    <?php if (!$block->isRedirectToCartEnabled()): ?>
        <script type="text/x-magento-init">
        {
            "[data-role=tocart-form], .form.map.checkout": {
                "catalogAddToCart": {
                    "product_sku": "<?php echo $escaper->escapeHtml($_product->getSku()) ?>"
                }
            }
        }
        </script>
    <?php endif; ?>
<?php endif; ?>
