<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\DefaultRenderer $block */
?>

<?php if ($block->getItem()->getProductType() == \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE): ?>
    <dl class="item-options">
        <dt><?php echo $escaper->escapeHtml(__('Configuration: ')) ?></dt>
        <?php $parentItem = $block->getItem(); ?>
        <?php foreach ($parentItem->getChildren() as $child): ?>
            <?php $block->setPriceDataObject($child->getCurrentTierItem()); ?>
            <?php // phpcs:ignore ?>
            <?php $childProduct = $block->productRepositoryInterface->getById($child->getProductId(), false, $child->getStoreId()); ?>
            <dt>
                <?php echo $escaper->escapeHtml(sprintf('%s - ', $childProduct->getName())); ?>
            </dt>
            <dd>
                <?php echo /* @noEscape */ sprintf(
                    '(%s x %s)',
                    $child->getQty(),
                    $block->displayPriceAttribute('custom_price') // check for group pricing and quantities
                ) ?>
            </dd>
            <?php $childProductQty = $child->getQty() * $parentItem->getQty(); ?>
            <?php if ($block->stockHelper->getProductStockCheck($child->getProduct(), $childProductQty)): ?>
                <div class="popup" onclick="popUpBackorderNotice()"><p class="quote_item_backorder">Stock Notice</p>
                    <span class="child_product_backorder_notice" id="backorderPopup">
                        <?php echo $escaper->escapeHtml(__('This product will be backordered')); ?>
                    </span>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </dl>
<?php endif; ?>

<script>
    // When the user clicks on the div, open the popup
    function popUpBackorderNotice() {
        var popup = document.getElementById("backorderPopup");
        popup.classList.toggle("show");
    }
</script>
