<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Info $block */
?>

<div class="admin__page-section-item quote-billing-address">
    <?php /* Billing Address */ ?>
    <div class="admin__page-section-item-title">
        <span class="title"><?php echo $escaper->escapeHtml(__('Billing Address')) ?></span>
    </div>
    <address class="admin__page-section-item-content">
        <?php echo /* @noEscape */ $block->getFormattedAddress($block->getQuote()->getBillingAddress()); ?>
    </address>
    <?php echo $block->getSetDefaultBillingAddressHtml(); ?>
</div>
