<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Quote\Item\Renderer\Column $block */

// @codingStandardsIgnoreLine TODO: replace helper with view-model
$thumbnailHelper = $this->helper(\Cart2Quote\Quotation\Helper\ProductThumbnail::class);
// @codingStandardsIgnoreLine TODO: replace helper with view-model
$productHelper = $this->helper(\Magento\Catalog\Helper\Product\Configuration::class);
// @codingStandardsIgnoreLine TODO: replace helper with view-model
$dataHelper = $this->helper(\Magento\Framework\Pricing\Helper\Data::class);

$product = $block->getProduct();
$item = $block->getItem();
$price = $dataHelper->currency($item->getCurrentTierItem()->getCustomPrice(), true, false);
?>

<?php if ($item->getParentItem()): ?>
    <tr class="options-label">
        <?php $attributes = json_decode(
            $item->getOptionByCode('bundle_selection_attributes')->getValue(),
            true
        ); ?>
        <td class="col label" colspan="8"><?php echo $escaper->escapeHtml($attributes['option_label']); ?></td>
    </tr>
<?php endif; ?>
<?php
$class = 'item-parent';
if ($block->getItem()->getParentItem()) {
    $class = 'item-options-container';
}
?>
<tr id="order-item-row-<?php echo $escaper->escapeHtml($block->getItem()->getItemId()) ?>"
    class="<?php echo $escaper->escapeHtml($class); ?>"
    <?php if ($item->getParentItem()): ?>
        data-th="<?php echo $escaper->escapeHtml($item->getName()) ?>"
    <?php endif; ?>>
    <?php if (!$item->getParentItem()): ?>
        <?php $colspan = 3; ?>
        <?php if ($block->isShowCustomerDashboardImages()): ?>
            <?php $colspan = 2; ?>
            <td colspan="1">
                <img class="product-thumbnail" align="left"
                     src="<?php echo $escaper->escapeHtml($thumbnailHelper->getProductThumbnail($product))?>" width="75"
                     height="75" alt="<?php echo $escaper->escapeHtml($product->getName()); ?>"
                     title="<?php echo $escaper->escapeHtml($product->getName()); ?>"/>
            </td>
        <?php endif; ?>
        <td colspan="<?php echo $escaper->escapeHtml($colspan); ?>"
            class="col name"
            data-th="<?php echo $escaper->escapeHtml(__('Product Name')); ?>">
            <strong class="product name product-item-name"><?php echo $escaper->escapeHtml($item->getName()) ?></strong>
            <?php if ($item->getDescription()): ?>
                <p><strong><?php echo $escaper->escapeHtml(__('Comment:')); ?></strong><br/>
                    <?php echo $escaper->escapeHtml($item->getDescription()) ?></p>
            <?php endif; ?>
            <?php $options = $productHelper->getOptions($item) ?>
            <?php if (!empty($options)): ?>
                <dl class="item-options">
                    <?php foreach ($options as $option): ?>
                        <dt><?php echo $escaper->escapeHtml($option['label']) ?></dt>
                        <?php if (!$block->getPrintStatus()): ?>
                            <?php $formatedOptionValue = $block->getFormatedOptionValue($option) ?>
                            <dd>
                                <?php if (isset($formatedOptionValue['full_view'])): ?>
                                    <?php echo $escaper->escapeHtml($formatedOptionValue['full_view']) ?>
                                <?php else: ?>
                                    <?php echo $escaper->escapeHtml($formatedOptionValue['value']) ?>
                                <?php endif; ?>
                            </dd>
                        <?php else: ?>
                            <dd>
                                <?php
                                if ((isset($option['print_value']))) {
                                    $optionValue = $option['print_value'];
                                } else {
                                    $optionValue = $option['value'];
                                } ?>
                                <?php echo $escaper->escapeHtml(nl2br($optionValue)) ?>
                            </dd>
                        <?php endif; ?>
                    <?php endforeach; ?>
                </dl>
            <?php endif; ?>
        </td>
    <?php else: ?>
        <td colspan="3" class="col value" data-th="<?php echo $escaper->escapeHtml(__('Product Name')); ?>">
            <?php echo /* @noEscape */ sprintf(
                '%s x %s',
                $item->getQty(),
                $escaper->escapeHtml($product->getName())
            ); ?>

            <?php if ($block->isHidePrices()): ?>
            <br>
                <span class="price">
                    <span class="price">
                        <?php echo $escaper->escapeHtml($price) ?>
                    </span>
                </span>
            <?php endif; ?>
        </td>
    <?php endif; ?>
