/*
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

.potential.issues.header .col {
    padding: 10px;
}
#system_messages {
    display: none;
}
