/*
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

.quote-billing-address,
.quote-billing-method,
.quote-information,
.quote-payment-method,
.quote-methods {
    float: left;
    width: calc((100%) * .5 - 30px)
}

.quote-shipping-address,
.quote-view-account-information .quote-account-information,
.quote-email-information,
.quote-summary,
.quote-linked-order {
    float: right;
    margin-bottom: 25px;
    width: calc((100%) * .5 - 30px)
}

.quote-view-email-receivers {
    width: 50%;
}

.linked-quote-request {
    float: right;
    margin-top: 25px;
    width: calc((100%) * .5 - 30px)
}

.quote-history,
.quote-comments-history,
.quote-totals,
.quote-shipping-method,
.quote-comment {
    clear: both;
    float: left;
    width: 100%;
}

.quote-totals > div.quote-totals-actions > div.actions:after,
.quote-discounts:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
}

.quote-totals > div.quote-totals-actions > div.actions {
    padding-top: 10px;
}

.quote-totals > div.quote-totals-actions > div.actions > button {
    float: right;
}

.quote-totals > div.quote-totals-actions > div.actions > button.primary {
    margin-left: 20px;
}

@media (max-width: 1500px) {
    .quote-totals > div.quote-totals-actions > div.actions > button,
    .quote-totals > div.quote-totals-actions > div.actions > button.primary,
    .quote-convert .fieldset-wrapper-title .actions button {
        display: table;
        float: none;
        margin-left: auto;
        margin-right: auto;
        width: 60%;
    }
}

.quote-convert {
    float: left;
}

@media (max-width: 1500px) {
    .quote-convert,
    .quote-convert .fieldset-wrapper-title .actions {
        float: none;
    }
}

.quote-convert > .fieldset-wrapper-title {
    border-bottom: 0;
    padding: 0;
}

.quote-items_grid .quote-tables td .tier-item .admin__field-option {
    padding: 0;
}

.quote-items_grid .quote-tables td .tier-item {
    display: table;
}

.quote-items_grid .quote-tables td .tier-item .tier-item-margin {
    display: table-cell;
}

.admin__quote-shipment-methods-title {
    font-weight: 700;
    margin: 0 0 .5rem
}

.admin__quote-shipment-methods-options {
    margin: 0 0 2rem
}

.admin__quote-shipment-methods-options-list {
    margin: 0;
}

.admin__quote-shipment-methods-options-list li {
    list-style: none;
}

.quote-pdf {
    margin-left: 10px;
}

@media (max-width: 1500px) {
    .quote-pdf {
        margin-bottom: 10px;
        margin-top: 10px;
    }
}

table.quote-tables tr td.col-comment textarea {
    width: 500px;
}

.admin__table-primary tbody {
    border-bottom: 1px solid #e3e3e3;
}

.admin__table-primary td {
    border-bottom: 0;
}

.quote-details .quote-items .admin__page-section-title .actions,
.quote-details .quote-search-items .admin__page-section-title .actions {
    float: right;
    margin-bottom: 1.7rem;
    margin-top: -.3rem;
}

.quote-items {
    margin-bottom: 18px;
}

.quote-search-items .data-grid .action-configure {
    float: right;
}

.quote-search-items .data-grid .action-configure.disabled {
    display: none;
}

/* Change Apply Coupon/Subtotal Proposal Button To Magento Arrow Icon */
.quote-proposal .action-default,
.field-apply-coupon-code .action-default {
    background-color: transparent;
    border: none;
    border-radius: 0;
    box-shadow: none;
    margin: 0;
    padding: 0;
}

.quote-proposal .action-default > span,
.field-apply-coupon-code .action-default > span {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.quote-proposal .action-default:before,
.field-apply-coupon-code .action-default:before {
    -webkit-font-smoothing: antialiased;
    content: '\e625';
    font-family: 'Admin Icons';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
}

.quote-proposal .action-default,
.field-apply-coupon-code .action-default {
    position: absolute;
    right: 0;
    top: 0px;
    width: 40px;
    height: 33px;
}

.quote-proposal .admin__field-control,
.field-apply-coupon-code .admin__field-control {
    padding-right: 32px;
    position: relative;
}

.field-apply-subtotal-proposal .admin__control-number {
    -webkit-appearance: none;
    background-color: #fff;
    border: 1px solid #adadad;
    border-radius: 1px;
    box-shadow: none;
    color: #303030;
    font-size: 1.4rem;
    font-weight: 400;
    height: auto;
    line-height: 1.36;
    padding: .6rem 1rem .6rem;
    transition: border-color .1s linear;
    vertical-align: baseline;
}

.field-apply-subtotal-proposal .admin__control-number:focus {
    border-color: #007bdb;
    box-shadow: none;
    outline: 0;
}

.quote-coupons,
.field-apply-subtotal-proposal {
    float: left;
}

.quote-discounts {
    margin-top: 2rem;
}

.quote-discounts > button {
    float: right;
    margin-top: 2.1rem;
}

.checkboxes-container {
    padding-bottom: 10px;
}

.checkboxes-container .make-optional {
    padding-right: 25px;
}

.checkboxes-container .make-optional,
.checkboxes-container .item-comment-block {
    display: inline-block;
}

.switcher-caption {
    display: inline;
    font-size: 8px;
    height: 10px;
    line-height: 16px;
}

span.datebox-datepicker {
    display: inline-table;
}

.quotation-quote-view .item-options dt {
    font-weight: bold;
}

.product-footer-extra-text {
    display: none;
}

.quote-tables .tier-item .tier-item-price .item-price {
    min-width: 0;
    width: 10rem;
}

.quote-tables .col-remark {
    min-width: 220px;
    padding: 1rem 0 1rem 1.5rem;
}

.quote-tables .col-remark textarea {
    margin-top: 5px;
    width: 210px;
}

.quote-tables .col-action .make-optional {
    margin-top: 10px;
}

.shipping-input {
    margin: 15px 25px;
}

.shipping-input input {
    margin-bottom: 5px;
    width: 75px;
}

.delete-item-price-tier,
.delete-section,
.action-collapse-item {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
    padding-left: 0;
    padding-right: 0;
}

.collapse-all-items {
    float: right;
}

.collapse-all-items:before {
    margin-right: 7px;
    position: relative;
    top: 1px;
}

.delete-item-price-tier > span,
.delete-section span {
    display: none;
}

.delete-item-price-tier:hover,
.delete-section:hover,
.action-collapse-item:hover,
.action-collapse-item:focus {
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}

.delete-item-price-tier:before,
.delete-section:before {
    -webkit-font-smoothing: antialiased;
    content: '\e630';
    font-family: 'Admin Icons';
    font-size: 2rem;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
}

.selected-tier-row {
    background-color: #e5f7fe;
}

.quote-item-row:hover {
    background-color: #f8f8f8;
}

.col-product,
.col-action {
    background-color: white;
}

.col-tier-select {
    padding-left: 1.5rem !important;
}

.quote-tables .child-item {
    border-bottom: 0;
}

.quote-tables .parent-item {
    border-bottom: 0;
    border-top: 1px solid #e3e3e3;
}

.quote-tables .child-tier-row .col-product {
    padding-left: 30px;
}

#quotation_quote_view_tabs_quote_info_content .admin__table-primary td {
    padding: 1rem 1rem;
}

/* Sections */
.quote-data .col-sort-order,
.sortable-table .col-sort-order {
    vertical-align: middle;
}

.quote-data .col-sort-order:hover,
.sortable-table .col-sort-order:hover {
    cursor: move;
}

.quote-items table tfoot {
    display: none;
}

.quote-items table:last-child tfoot {
    display: table-footer-group;
}

.placeholder {
    display: table-row-group !important;
    visibility: visible !important;
    width: 100% !important;
}


.sortable-quote-item-table tbody tr td:first-child {
    background: #fff !important;
}

.sortable-quote-item-table tbody.placeholder tr td,
.sortable-table .placeholder td {
    outline: 1px dashed #e3e3e3;
    outline-offset: -10px;
    width: 100% !important;
}

.sortable-table .placeholder {
    display: table-row !important;
}

.sortable-table .placeholder td {
    height: 73px;
}

.sortable-table .ui-sortable-helper td:nth-child(2) {
    width: 100%;
}

.sortable-quote-item-table tfoot tr td.col-product {
    background: #f8f8f8;
}

.action-collapse-item:before {
    -webkit-font-smoothing: antialiased;
    content: '\e616';
    font-family: 'Admin Icons';
    font-size: 1.5rem;
    padding-left: 2px;
    padding-right: 2px;
}

table.quote-tables tbody.show .action-collapse-item:before,
.collapse-all-items.show:before {
    content: '\e615';
}

.sortable-quote-item-table tbody {
    position: relative;
}

table.quote-tables .col-product {
    width: 300px;
}

table.quote-tables tbody tr:not(.selected-tier-row) {
    display: none;
}

table.quote-tables dl.item-options {
    display: none;
}

table.quote-tables tbody.show dl.item-options {
    display: block;
}

table.quote-tables .product-configure-block {
    display: none;
}

table.quote-tables tbody.show .product-configure-block {
    display: block;
}

table.quote-tables tbody.show tr:not(.selected-tier-row),
table.quote-tables tbody tr:first-of-type {
    display: table-row;
}

table.quote-tables tbody.placeholder tr {
    display: table-row;
}

.quote-items table:last-child tfoot:before {
    background: #fff;
    content: '';
    display: block;
    height: 30px;
    width: 100%;
}

.quote-items_grid .sortable-quote-item-table:not(.has-content) tr.section-heading td {
    padding-bottom: 30px;
}

#quotation_quote_view_tabs_quote_info_content .section-heading td {
    padding: 0 0 5px 0;
}

.section-heading h2 {
    background: #fff;
    margin: 0;
    position: relative;
}

.section-heading h2:after {
    background: #ccc;
    content: '';
    height: 1px;
    left: 0;
    position: absolute;
    top: 50%;
    width: 100%;
    z-index: 0;
}

.section-heading b {
    background: #fff;
    display: inline-block;
    padding: 0 10px 0 0;
    position: relative;
    z-index: 1;
}

.quote-tables.order-tables.sortable-quote-item-table {
    margin: 0;
}

.sortable-quote-item-table:not(.has-content) tr.headings {
    display: none;
}

.quote-view-advanced-pricing-hover {
    font-size: xx-small;
}

.quote-view-advanced-pricing-hover:hover + .quote-view-advanced-pricing {
    display: block;
    position: absolute;
}

.quote-view-advanced-pricing {
    background-color: #fff;
    border: 1px solid;
    box-shadow: 5px 5px 5px #888;
    padding: 5px;
    position: fixed;
}

.quote-view-advanced-pricing ul {
    list-style: none;
}

.action-change-customer {
    background-color: transparent;
    border: none;
    color: #007bdb;
    text-decoration: none;
}

.action-change-address {
    background-color: transparent;
    border: none;
    color: #007bdb;
    padding-top: 2px;
    text-decoration: none;
}

.action-change-customer:focus,
.action-change-customer:hover {
    background-color: transparent;
    color: #007bdb;
    text-decoration: underline;
}

.action-change-address:focus,
.action-change-address:hover {
    background-color: transparent;
    color: #007bdb;
    text-decoration: underline;
}

.quote-qty-box {
    width: 7rem !important;
}

.no-pointer-events {
    pointer-events: none;
}

.uploaded-files {
    list-style-type: none;
}

@media all and (min-width: 768px) {
    .page-layout-admin-2columns-left .page-columns .main-col {
        width: calc((100%) * 0.85 - 30px);
    }

    .page-layout-admin-2columns-left .page-columns .side-col {
        width: calc((100%) * 0.15 - 30px);
    }
}

.expiry-trigger, .reminder-trigger {
    position: absolute !important;
}

#quotation_quote_view_tabs_previous_quotes_content {
    margin-top: -77px;
}

.customer_quote_history_grid th {
    padding: 10px 15px
}

#file_upload .icon-trash:before {
    font-family: 'Admin Icons';
    content: '\e630';
    font-style: normal;
}

#file_upload .upload-files {
    float: left;
    width: calc((100%) * .5 - 30px);
}

#file_upload .uploaded-files {
    float: right;
    width: calc((100%) * .5 - 30px);
}

@media (max-width: 991px) {
    #file_upload .upload-files, #file_upload .uploaded-files {
        width: 100%;
        float: none;
    }
}

#file_upload .uploaded-files td {
    padding: 10px 12px;
}

#file_upload .uploaded-files th {
    text-align: left;
}

#file_upload .uploaded-files tbody th {
    padding-bottom: 10px;
}

#file_upload .uploaded-files td a.file-name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    max-width: 350px;
    text-overflow: ellipsis;
}

#file_upload .uploaded-files td a.remove-file {
    color: #41362f;
}

#file_upload .uploaded-files td a.remove-file:hover {
    color: #060504;
    text-decoration: none;
}

#file_upload .uploaded-files th:nth-child(1), #file_upload .uploaded-files td:nth-child(1) {
    width: 65%;
}

#file_upload .uploaded-files th:nth-child(2), #file_upload .uploaded-files td:nth-child(2) {
    width: 35%;
    text-align: center;
}

#file_upload .uploaded-files th:nth-child(3), #file_upload .uploaded-files td:nth-child(3) {
    width: 10%;
}

#file_upload .uploaded-files tr:nth-child(even) td {
    background: #f1f1f1;
}

#file_upload .uploaded-files thead label, #file_upload .upload-files thead label {
    padding-bottom: 18px;
    display: block;
    text-align: left;
}

#file_upload .upload-files thead th label, #file_upload .upload-files thead td label {
    text-align: left;
}

#file_upload .upload-files th, #file_upload .upload-files td {
    display: inline-table;
}

#file_upload .upload-files th label {
    padding-right: 50px;
}

#file_upload .upload-files tbody th label, #file_upload .upload-files tbody td label {
    padding-bottom: 20px;
    display: block;
}

#file_upload .upload-files th {
    width: 30%;
    text-align: right;
    font-weight: 500;
}

#file_upload .upload-files tbody tr td:first-of-type label, #file_upload .upload-files tbody tr th:first-of-type label {
    padding-top: 20px;
}

#file_upload .upload-files tr {
    border-bottom: 1px solid #cccccc;
}

#file_upload .upload-files thead tr, #file_upload .upload-files tbody tr:last-child {
    border: 0;
}

#file_upload .upload-files tbody tr:last-child td button {
    margin-top: 20px;
}

#file_upload .upload-files td {
    width: 70%;
}

#file_upload .upload-files td label, #file_upload .upload-files td label input {
    width: 100%;
    display: block;
}

#file_upload .upload-files tr:last-child td {
    text-align: right;
    width: 100%;
}

#file_upload .upload-files tr:last-child td button {
    margin-left: 20px;
}

.admin__field-label.secondary {
    font-size: 1.8rem;
    font-weight: 600;
}

#file_upload .admin__page-section-title {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

#file_upload {
    margin-top: -75px;
}

#file_upload .icon-trash:before {
    font-family: 'Admin Icons';
    content: '\e630';
    font-style: normal;
}

#file_upload .upload-files {
    float: left;
    width: calc((100%) * .5 - 30px);
}

#file_upload .uploaded-files {
    float: right;
    width: calc((100%) * .5 - 30px);
}

@media (max-width: 991px) {
    #file_upload .upload-files, #file_upload .uploaded-files {
        width: 100%;
        float: none;
    }
}

#file_upload .uploaded-files td {
    padding: 10px 12px;
}

#file_upload .uploaded-files th {
    text-align: left;
}

#file_upload .uploaded-files tbody th {
    padding-bottom: 10px;
}

#file_upload .uploaded-files td a.file-name {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    width: 80%;
    max-width: 350px;
    text-overflow: ellipsis;
}

#file_upload .uploaded-files td a.remove-file {
    color: #41362f;
}

#file_upload .uploaded-files td a.remove-file:hover {
    color: #060504;
    text-decoration: none;
}

#file_upload .uploaded-files th:nth-child(1), #file_upload .uploaded-files td:nth-child(1) {
    width: 50%;
}

#file_upload .uploaded-files th:nth-child(2), #file_upload .uploaded-files td:nth-child(2) {
    width: 20%;
    text-align: center;
}

#file_upload .uploaded-files th:nth-child(3), #file_upload .uploaded-files td:nth-child(3) {
    width: 20%;
    text-align: center;
}

#file_upload .uploaded-files tr:nth-child(even) td {
    background: #f1f1f1;
}

#file_upload .uploaded-files thead label, #file_upload .upload-files thead label {
    padding-bottom: 18px;
    display: block;
    text-align: left;
}

#file_upload .upload-files thead th label, #file_upload .upload-files thead td label {
    text-align: left;
}

#file_upload .upload-files th, #file_upload .upload-files td {
    display: inline-table;
}

#file_upload .upload-files th label {
    padding-right: 50px;
}

#file_upload .upload-files tbody th label, #file_upload .upload-files tbody td label {
    padding-bottom: 20px;
    display: block;
}

#file_upload .upload-files th {
    width: 30%;
    text-align: right;
    font-weight: 500;
}

#file_upload .upload-files tbody tr td:first-of-type label, #file_upload .upload-files tbody tr th:first-of-type label {
    padding-top: 20px;
}

#file_upload .upload-files tr {
    border-bottom: 1px solid #cccccc;
}

#file_upload .upload-files thead tr, #file_upload .upload-files tbody tr:last-child {
    border: 0;
}

#file_upload .upload-files tbody tr:last-child td button {
    margin-top: 20px;
}

#file_upload .upload-files td {
    width: 70%;
}

#file_upload .upload-files td label, #file_upload .upload-files td label input {
    width: 100%;
    display: block;
}

#file_upload .upload-files tr:last-child td {
    text-align: right;
    width: 100%;
}

#file_upload .upload-files tr:last-child td button {
    margin-left: 20px;
}

.admin__field-label.secondary {
    font-size: 1.8rem;
    font-weight: 600;
}

#file_upload .admin__page-section-title {
    padding-bottom: 1rem;
    margin-bottom: 2rem;
}

#file_upload {
    margin-top: -75px;
}

.quote_item_backorder {
    color: red;
}

.left-section-item{
    float: left; width: calc((100%) * .5 - 30px);
}

.right-section-item{
    float: right;margin-bottom: 25px;width: calc((100%) * .5 - 30px);
}

/*.actions.c2q-scrolling button#sections_popup_id {*/
/*    display: none;*/
/*}*/

#quote-search .actions.c2q-scrolling {
    position: fixed;
    width: 100%;
    z-index: 100;
    left: 83px;
    background-color: #f8f8f8;
    height: 53px;
    top: 79px;
    text-align: right;
    padding-right: 186px;
    padding-top: 10px;
    border-bottom: 1px solid #e3e3e3;
}

div#reject_dropdown {
    padding-top: 10px;
    max-width: 305px;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popup .child_product_backorder_notice {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

.popup .child_product_backorder_notice::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.actions-scrollable .page-actions {
    overflow-x: unset;
}
