<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Checkout\QuoteNotice $block */ ?>
<?php if ($block->getQuote()->getItemsCount() > 0): ?>
    <p>
        <?php echo /* @noEscape */ __(
            'Click <a href="%1">here</a> to view the <b>%2</b> product(s) in your quotation cart.',
            $escaper->escapeHtml($block->getLinkToQuote()),
            $escaper->escapeHtml($block->getQuote()->getItemsCount())
        ) ?>
    </p>
<?php endif; ?>
