<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Quote\Item\Renderer\DefaultRenderer $block */
$_item = $block->getItem();
?>
<span class="price-excluding-tax" data-label="<?php echo $escaper->escapeHtml(__('Excl. Tax')); ?>">
    <span class="cart-price">
        <?php echo /* @noEscape */ $block->getQuote()->formatPrice($block->getItem()->getPrice()) ?>
    </span>
</span>
