<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

use Magento\Framework\App\Action\Action;

?>

<?php
/** @var \Cart2Quote\Quotation\Block\Quote\Request\Compare\Form\QuoteList $block */
$product = $block->getProduct();
?>
<?php if ($product->isSaleable() || $block->showQuoteButton()): ?>
    <?php $postParams = $block->getAddToCartPostParams($product); ?>
    <form data-role="tocart-form"
          data-quote-submit-action="<?php echo $escaper->escapeHtml($block->getAddToQuoteUrl($product)) ?>"
          data-product-sku="<?php echo $escaper->escapeHtml($product->getSku()) ?>"
          action="<?php echo $escaper->escapeHtml($postParams['action']) ?>"
          method="post">
        <input type="hidden" name="product" value="<?php echo $escaper->escapeHtml($postParams['data']['product']) ?>">
        <input type="hidden" name="<?php echo $escaper->escapeHtml(Action::PARAM_NAME_URL_ENCODED) ?>"
               value="<?php echo $escaper->escapeHtml($postParams['data'][Action::PARAM_NAME_URL_ENCODED]) ?>">
        <?php echo $block->getBlockHtml('formkey') ?>

        <?php if ($product->isSaleable()): ?>
            <button type="submit"
                    data-role="addToCartButton"
                    title="<?php echo $escaper->escapeHtml(__('Add to Cart')) ?>"
                    class="action tocart primary">
                <span>
                    <?php echo $escaper->escapeHtml(__('Add to Cart')) ?>
                </span>
            </button>
        <?php endif; ?>
        <?php if ($block->showQuoteButton() && !$block->showMessageNotLoggedIn()): ?>
            <button type="submit"
                    data-role="addToQuoteButton"
                    title="<?php echo $escaper->escapeHtml(__('Add to Quote')) ?>"
                    class="action primary toquote tocart quote-btn-list">
                <span>
                    <?php echo $escaper->escapeHtml(__('Add to Quote')) ?>
                </span>
            </button>
        <?php elseif ($block->showMessageNotLoggedIn()): ?>
            <button title="<?php echo $escaper->escapeHtml(__('Add to Quote')) ?>"
                    class="action secondary toquote tocart quote-btn-list"
                    disabled="disabled">
                <span>
                    <?php echo $escaper->escapeHtml(__('Please login to add to Quote.')) ?>
                </span>
            </button>
        <?php endif; ?>
    </form>
<?php else: ?>
    <?php if ($product->isAvailable()): ?>
        <div class="stock available"><span><?php echo $escaper->escapeHtml(__('In stock')) ?></span></div>
    <?php else: ?>
        <div class="stock unavailable"><span><?php echo $escaper->escapeHtml(__('Out of stock')) ?></span></div>
    <?php endif; ?>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "[data-role=tocart-form], .form.map.checkout": {
            "catalogAddToCart": {
                "addToQuoteButtonSelector": "[data-role=addToQuoteButton]",
                "addToCartButtonSelector": "[data-role=addToCartButton]"
            }
        }
    }
</script>
