<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * @var \Cart2Quote\Quotation\Block\Proposal\Reject\Success $block
 */
$quote = $block->getQuote();
?>
<div class="quote-rejected-success-page">
    <h1>Success!</h1>
    <form action="<?php echo $escaper->escapeHtml($block->getReturnToStoreUrl()) ?>" method="post" class="form form-quote">
        <div class="block rejected-success">
            <div class="box-content rejected-success">
                <label for="textarea"><?php echo /* @noEscape */ sprintf(
                    __('Your proposal # %s has been successfully rejected.'),
                    $quote['increment_id']
                ) ?></label>
            </div>
            <?php echo $block->getBlockHtml('formkey'); ?>
            <div class="quote main actions clearfix">
                <button <?php echo $escaper->escapeHtml(__('return')) ?>
                        type="submit" name="reject_proposal"
                        value="reject_proposal"
                        title="<?php echo $escaper->escapeHtml(__('return')) ?>"
                        class="action primary reject-proposal-button">
                    <span><?php echo $escaper->escapeHtml(__('Return to Store')) ?></span>
                </button>
            </div>
        </div>
    </form>
</div>
