<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * @var \Cart2Quote\Quotation\Block\Proposal\Reject\View $block
 */
$quote = $block->getQuote();
?>
<form action="<?php echo $escaper->escapeHtml($block->getRejectUrl()) ?>" method="post" class="form form-quote">
    <div class="block reason_for_rejection">
        <div class="box-content reason_for_rejection">
            <label for="reason"><?php echo /* @noEscape */ sprintf(
                __('Reason for Rejecting Proposal # %s'),
                $quote['increment_id']
            ) ?></label>
            <textarea type="text" name="reason" id="rejectQuoteTextArea" rows="10"></textarea>
        </div>
        <?php echo $block->getBlockHtml('formkey'); ?>
        <div class="quote main actions clearfix">
            <button type="button"
                    class="return-to-quotation-view-btn"
                    onclick="javascript:history.back()">
                <?php echo $escaper->escapeHtml(__('Back')) ?>
            </button>
            <button <?php echo $escaper->escapeHtml(__('Confirm Rejection')) ?>
                    type="submit" name="reject_proposal"
                    value="reject_proposal"
                    title="<?php echo $escaper->escapeHtml(__('Confirm Rejection')) ?>"
                    class="action primary reject-proposal-button">
                <span><?php echo $escaper->escapeHtml(__('Confirm Rejection')) ?></span>
            </button>
        </div>
    </div>
</form>
