<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * @var $block \Cart2Quote\Quotation\Block\Widget\Button
 */
?>
<?php echo $block->getBeforeHtml() ?>
<button <?php echo /* @noEscape */ $block->getAttributesHtml(), $block->getUiId() ?>>
    <?php if ($block->getLabelInSpan()): ?>
        <span><?php echo $escaper->escapeHtml($block->getLabel()) ?></span>
    <?php else: ?>
        <?php echo $escaper->escapeHtml($block->getLabel()) ?>
    <?php endif; ?>
</button>
<?php echo $block->getAfterHtml() ?>
