<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Details\Account\Details $block */
?>

<div class="admin__page-section-item quote-account-information">
    <?php /* Account Information */ ?>
    <div class="admin__page-section-item-title">
        <span class="title"><?php echo $escaper->escapeHtml(__('Account Information')) ?></span>
        <button type="button"
                onclick='quote.changeCustomer("<?php echo  $escaper->escapeHtml(
                    $block->getUrl('quotation/quote_update/customer', $block->getUrlParams())
                );
                            ?>");'
                class="action-change-customer">
            <span><?php echo $escaper->escapeHtml(__('Change Customer')) ?></span>
        </button>
        <div class="actions"><?php echo $escaper->escapeHtml($block->getAccountEditLink()) ?></div>
    </div>
    <div class="admin__page-section-item-content">
        <table class="admin__table-secondary quote-account-information-table">
            <?php echo $block->getChildHtml(); ?>
        </table>
    </div>
</div>
