<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Framework\View\Element\Template $block */
?>

<div id="quick-quote-modal" class="quick-quote-modal">
    <div class="container">
        <?php echo $block->getChildHtml('', true); ?>
    </div>
</div>

<script type="text/x-magento-init">
    {
        "#quick-quote-modal": {
            "quickQuoteModal": {}
        }
    }
</script>
