<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var \Cart2Quote\Quotation\Block\Wishlist\QuoteAWish $block */ ?>
<?php if (!$block->isWishlistQuotable() && $block->checkForWishlistDisplayVariables()): ?>
    <form class="form-wishlist-items" action="<?php echo $escaper->escapeUrl($block->getUrl('quotation/quote')) ?>"
          method="post">
        <button
                data-mage-init='{"quoteawish": {"notquoteable" : "#notquotable"} }'
                id="notquotable"
                type="button"
                name="move_wishlist_to_quote"
                value="move_to_quote"
                title="<?php echo $escaper->escapeHtml(__('Request a Quote')); ?>"
                class="action primary notquotable">
            <span><?php echo $escaper->escapeHtml(__('Your Wish List is not Quotable')); ?></span>
        </button>
    </form>
<?php endif; ?>
<?php if ($block->isWishlistQuotable() && $block->checkForWishlistDisplayVariables()): ?>
    <form class="form-wishlist-items" action="<?php echo $escaper->escapeUrl($block->getUrl('quotation/quote')) ?>"
          method="post">
        <button
                data-mage-init='{"quoteawish": {"quoteable" : "#quoteawish"} }'
                id="quoteawish"
                type="button"
                name="move_wishlist_to_quote"
                value="move_to_quote"
                title="<?php echo $escaper->escapeHtml(__('Request a Quote')); ?>"
                class="action primary quoteawish">
            <span><?php echo $escaper->escapeHtml(__('Move Wish List to Quote')); ?></span>
        </button>
    </form>
<?php endif; ?>
