<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php /** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\FooterRenderer $block */ ?>
<tr>
    <?php $i = 0;
    $columns = $block->getColumns();
    $lastItemNumber = count($columns) ?>
    <td></td>
    <?php foreach ($columns as $columnName => $columnClass): ?>
        <?php $i++; ?>
        <?php if ($block->isColumnDisabled($columnName) == false): ?>
        <td class="<?php echo $escaper->escapeHtml($columnClass) ?><?php echo($i === $lastItemNumber ? ' last' : '') ?>">
            <?php echo $block->getColumnFooterHtml($columnName) ?>
        </td>
        <?php endif; ?>
    <?php endforeach; ?>
</tr>
