<!--
  ~ Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<li class="item product product-item" data-role="quote-product-item">
    <div class="product">
        <!-- ko if: product_has_url -->
        <a data-bind="attr: {href: product_url, title: product_name}" tabindex="-1" class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
            <!-- /ko -->
        </a>
        <!-- /ko -->
        <!-- ko ifnot: product_has_url -->
        <span class="product-item-photo">
            <!-- ko foreach: $parent.getRegion('itemImage') -->
            <!-- ko template: {name: getTemplate(), data: item.product_image} --><!-- /ko -->
            <!-- /ko -->
        </span>
        <!-- /ko -->

        <div class="product-item-details">
            <strong class="product-item-name">
                <!-- ko if: product_has_url -->
                <a data-bind="attr: {href: product_url, title: product_name}, html: product_name"></a>
                <!-- /ko -->
                <!-- ko ifnot: product_has_url -->
                <!-- ko text: product_name --><!-- /ko -->
                <!-- /ko -->
            </strong>

            <!-- ko if: options.length -->
            <div class="product options" data-mage-init='{"collapsible":{"openedState": "active", "saveState": false}}'>
                <span data-role="title" class="toggle"><!-- ko text: $t('See Details') --><!-- /ko --></span>

                <div data-role="content" class="content">
                    <strong class="subtitle"><!-- ko text: $t('Options Details') --><!-- /ko --></strong>
                    <dl class="product options list">
                        <!-- ko foreach: { data: options, as: 'option' } -->
                        <dt class="label"><!-- ko text: option.label --><!-- /ko --></dt>
                        <dd class="values">
                            <!-- ko if: Array.isArray(option) -->
                            <span data-bind="html: option.value.join('<br>')"></span>
                            <!-- /ko -->
                            <!-- ko ifnot: Array.isArray(option) -->
                            <span data-bind="html: option.value"></span>
                            <!-- /ko -->
                        </dd>
                        <!-- /ko -->
                    </dl>
                </div>
            </div>
            <!-- /ko -->

            <div class="product-item-pricing">
                <!-- ko if: canApplyMsrp -->

                <div class="details-map">
                    <span class="label" data-bind="text: $t('Price')"></span>
                    <span class="value" data-bind="text: $t('See price before order confirmation.')"></span>
                </div>
                <!-- /ko -->
                <!-- ko ifnot: canApplyMsrp -->
                <!-- ko foreach: $parent.getRegion('priceSidebar') -->
                <!-- ko template: {name: getTemplate(), data: item.product_price, as: 'price'} --><!-- /ko -->
                <!-- /ko -->
                <!-- /ko -->

                <div class="details-qty qty">
                    <span class="label" data-bind="text: $t('Qty:')"></span>
                    <input data-bind="attr: {
                           id: 'quote-item-'+item_id+'-qty',
                           'data-quote-item': item_id,
                           'data-item-qty': qty
                           }, value: qty"
                           type="number"
                           size="4"
                           class="item-qty quote-item-qty"
                           maxlength="12"
                    >
                    <button data-bind="attr: {
                           id: 'update-quote-item-'+item_id,
                           'data-quote-item': item_id,
                           title: $t('Update')
                           }"
                            class="update-quote-item"
                            style="display: none">
                        <span data-bind="text: $t('Update')"></span>
                    </button>
                </div>
                <div class="product actions">
                    <!-- ko if: is_visible_in_site_visibility -->
                    <div class="primary">
                        <a data-bind="attr: {href: quote_configure_url, title: $t('Edit item')}" class="action action edit">
                            <span data-bind="i18n: 'Edit'"></span>
                        </a>
                    </div>
                    <!-- /ko -->
                    <div class="secondary">
                        <a href="#" data-bind="attr: {'data-quote-item': item_id, title: $t('Remove item')}"
                           class="action delete">
                            <span data-bind="i18n: 'Remove'"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</li>
