<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div class="box">
    <p>
        You can adjust the order of the registration form on the
        Quote request page by dragging and enabling below items.
        <br>Enable Submission Form must be set to: Yes.
    </p>
    <p>
        Please note: The Magento Customer Configuration is leading for field visibility and requirement. For example: it
        is not possible to require a field that is not even enabled by Magento's configuration. Core Configuration
        Location: <strong>Customers -> Customer Configuration -> Name and Address Options</strong>
    </p>
</div>
