<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Product\View $block */
$product = $block->getProduct();
$validators = json_encode($block->getQuantityValidators());

/**
 * If a product is saleable `$block->getChildHtml('', true)` is called from
 * Magento_Catalog::view/frontend/templates/product/view/addtocart.phtml
 * and it will echo our button block if not we have to add the qty box and echo the child html
 */
?>
<?php if (!$product->isSaleable() && $block->showButton()): ?>
    <div class="box-tocart">
        <div class="fieldset">
            <?php if ($block->shouldRenderQuantity()): ?>
                <div class="field qty">
                    <label class="label" for="qty"><span><?php echo $escaper->escapeHtml(__('Qty')) ?></span></label>
                    <div class="control">
                        <input type="number"
                               name="qty"
                               id="qty"
                               maxlength="12"
                               value="<?php echo $escaper->escapeHtml($block->getProductDefaultQty() * 1) ?>"
                               title="<?php echo $escaper->escapeHtml(__('Qty')) ?>" class="input-text qty"
                               data-validate="<?php echo $escaper->escapeHtml($validators) ?>"
                        />
                    </div>
                </div>
            <?php endif; ?>
            <div class="actions">
                <?php echo $block->getChildBlock('addtoquote.button.container')->getChildHtml('addtoquote.button') ?>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </div>
    </div>
<?php elseif ($block->getParentBlock() && $block->getChildBlock('addtoquote.button.container')): ?>
    <?php echo $block->getChildBlock('addtoquote.button.container')->getChildHtml('addtoquote.button') ?>
<?php endif; ?>
<script type="text/x-magento-init">
    {
        "#product_addtocart_form": {
            "Magento_Catalog/js/validate-product": {
                "catalogAddToCart": {
                    "addToCartButtonSelector": "#product-addtocart-button",
                    "addToQuoteButtonSelector": "#product-addtoquote-button",
                    "printQuoteSelector": "#product-printquote-button",
                    "addToQuoteFormAction": "<?php echo $escaper->escapeHtml($block->getUrl('quotation/quote/add')) ?>",
                    "printQuoteAction": "<?php echo $escaper->escapeHtml($block->getUrl('quotation/quote/printpdf')) ?>"
                }
            }
        },
        "[data-role=swatch-options]": {
            "Magento_Swatches/js/swatch-renderer": {
                "selectorAddToCart": "#product-addtocart-button",
                "selectorAddToQuote": "#product-addtoquote-button"
            }
        }
    }
</script>
