<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Link\CustomRequestLink $block */
?>
<?php if ($block->formIsEnabled()): ?>
    <?php if ($url = $block->getCustomRequestUrl()): ?>
        <li>
            <a class="custom-request-link" href="<?php echo $escaper->escapeUrl($url); ?>">
                <?php echo $escaper->escapeHtml($block->getCustomRequestLabel()); ?>
            </a>
        </li>
    <?php endif; ?>
<?php endif; ?>
