<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Product view template
 *
 * @var $block \Cart2Quote\Quotation\Block\Product\View
 */
?>
<?php
// @codingStandardsIgnoreLine TODO: replace helper with view-model
$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
?>
<?php $_product = $block->getProduct(); ?>

<div class="product-add-form">
    <form data-product-sku="<?php echo $escaper->escapeHtmlAttr($_product->getSku()) ?>"
          action="<?php echo $escaper->escapeUrl($block->getSubmitUrl($_product)) ?>" method="post"
          id="product_addtocart_form"<?php if ($_product->getOptions()):?> enctype="multipart/form-data"<?php endif; ?>>
        <input type="hidden" name="product" value="<?php echo (int)$_product->getId() ?>" />
        <input type="hidden" name="selected_configurable_option" value="" />
        <input type="hidden" name="related_product" id="related-products-field" value="" />
        <input type="hidden" name="item"  value="<?php echo (int)$block->getRequest()->getParam('id') ?>" />
        <?php echo $block->getBlockHtml('formkey') ?>
        <?php echo $block->getChildHtml('form_top') ?>
        <?php if (!$block->hasOptions()):?>
            <?php echo $block->getChildHtml('product_info_form_content') ?>
        <?php else:?>
            <?php if (($_product->isSaleable() || $block->showButton())
                && $block->getOptionsContainer() == 'container1'):?>
                <?php echo $block->getChildChildHtml('options_container') ?>
            <?php endif;?>
        <?php endif; ?>

        <?php if (($_product->isSaleable() || $block->showButton())
            && $block->hasOptions() && $block->getOptionsContainer() == 'container2'):?>
            <?php echo $block->getChildChildHtml('options_container') ?>
        <?php endif;?>
        <?php echo $block->getChildHtml('form_bottom') ?>
    </form>
</div>

<script type="text/x-magento-init">
    {
        "[data-role=priceBox][data-price-box=product-id-<?php echo $escaper->escapeHtml($_product->getId()) ?>]": {
            "priceBox": {
                "priceConfig":  <?php echo /* @noEscape */ $block->getJsonConfig() ?>
            }
        }
    }
</script>
