<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Cart2Quote\Quotation\Block\Catalog\Product\View\Type\Bundle $block */
/** @var \Magento\Framework\Escaper $escaper */

$product = $block->getProduct();

// @codingStandardsIgnoreLine TODO: replace helper with view-model
$helper = $this->helper(Magento\Catalog\Helper\Output::class);

$stripSelection = $product->getConfigureMode() ? true : false;
$options = $block->decorateArray($block->getOptions($stripSelection));
?>

<?php if ($product->isSaleable() || $block->showButton()): ?>
    <?php if (count($options)): ?>
        <script type="text/x-magento-init">
            {
                "#product_addtocart_form": {
                    "priceBundle": {
                        "optionConfig": <?php echo /* @noEscape */ $block->getJsonConfig() ?>,
                "controlContainer": ".field.option"
            }
        }
    }
        </script>
        <fieldset class="fieldset fieldset-bundle-options">
            <legend id="customizeTitle" class="legend title">
                <span><?php echo $escaper->escapeHtml(__(
                    'Customize %1',
                    $helper->productAttribute($product, $product->getName(), 'name')
                )) ?></span>
            </legend>
            <br/>
            <?php echo $block->getChildHtml('product_info_bundle_options_top') ?>
            <?php foreach ($options as $option): ?>
                <?php
                if (!$option->getSelections()) {
                    continue;
                } else {
                    echo $block->getOptionHtml($option);
                }
                ?>
            <?php endforeach; ?>
        </fieldset>
    <?php else: ?>
        <p class="empty"><?php echo $escaper->escapeHtml(__('No options of this product are available.')) ?></p>
    <?php endif; ?>
<?php endif; ?>
