<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<div style="display: none;" id="shipping-method-overlay" class="order-methods-overlay">
</div>
<script>
    require(["Magento_Sales/order/create/form"], function(){
        order.overlay('shipping-method-overlay', false);
    });
</script>
