<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Info $block */
?>

<div class="admin__page-section-item quote-comment">
    <br/>
    <div class="admin__field field-comment ">
        <label for="quote-comment" class="admin__field-label">
            <span><?php echo $escaper->escapeHtml(__('Quote Remarks')) ?></span>
        </label>

        <div class="admin__field-control">
        <textarea id="quote-comment" name="quote[comment][customer_note]"
                  class="admin__control-textarea"><?php echo $escaper->escapeHtml($block->getCommentNote()) ?></textarea>
        </div>
    </div>
    <input type="hidden"
           id="increment_id"
           name="increment_id"
           value="<?php echo $escaper->escapeHtml($block->getQuote()->getIncrementId()); ?>"/>
</div>
