<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Info $block */
$parentUrl = $block->getViewUrl($block->getQuote()->getRelationParentId());
$childUrl = $block->getViewUrl($block->getQuote()->getRelationChildId());
?>

<div class="admin__page-section-item quote-information">
    <?php /* Quote Information */ ?>
    <?php if ($block->getQuote()->getProposalEmailSent()): ?>
        <?php $email = __('The quote confirmation email has been sent'); ?>
    <?php else: ?>
        <?php $email = __('The quote confirmation email has not yet been sent'); ?>
    <?php endif; ?>

    <div class="admin__page-section-item-title">
        <span class="title">
            <?php if ($block->getNoUseQuoteLink()): ?>
                <?php echo $escaper->escapeHtml(sprintf('%s # %s', __('Quote'), $block->getQuote()->getIncrementId())) ?> (
                <span><?php echo $escaper->escapeHtml($email) ?></span>)
            <?php else: ?>
                <a href="<?php echo $escaper->escapeHtml($block->getViewUrl($block->getQuote()->getId())) ?>">
                    <?php echo $escaper->escapeHtml(sprintf('%s # %s', __('Quote'), $block->getQuote()->getIncrementId())) ?>
                </a>
                <span>(<?php echo $escaper->escapeHtml($email) ?>)</span>
            <?php endif; ?>
        </span>
    </div>
    <div class="admin__page-section-item-content">
        <table class="admin__table-secondary quote-information-table">
            <tr>
                <?php echo $block->getBlockHtml('quote_date'); ?>
            </tr>
            <tr>
                <th><?php echo $escaper->escapeHtml(__('Reference')) ?></th>
                <td>
                    <input type="text" id="quote_reference" name="quote[reference]"
                           title="<?php echo $escaper->escapeHtml(__('Reference')) ?>"
                           class="admin__control-text"
                           value="<?php echo $escaper->escapeHtml($block->getQuote()->getReference()) ?>" />
                </td>
            </tr>
            <tr>
                <?php echo $block->getBlockHtml('quote_status') ?>
            </tr>
            <tr>
                <?php echo $block->getBlockHtml('expiry_date') ?>
            </tr>
            <tr>
                <?php echo $block->getBlockHtml('reminder_date') ?>
            </tr>
            <tr>
                <?php echo $block->getBlockHtml('followup_date') ?>
            </tr>
            <?php if ($block->isSingleStoreMode() == false): ?>
                <tr>
                    <th><?php echo $escaper->escapeHtml(__('Purchased From')) ?></th>
                    <td><?php echo /* @noEscape */ $block->getQuoteStoreName() ?></td>
                </tr>
            <?php endif; ?>
            <?php if ($block->getQuote()->getRelationChildId()): ?>
                <tr>
                    <th><?php echo $escaper->escapeHtml(__('Link to the New Quote')) ?></th>
                    <td>
                        <a href="<?php echo $escaper->escapeHtml($childUrl) ?>">
                            <?php echo $escaper->escapeHtml($block->getQuote()->getRelationChildRealId()) ?>
                        </a>
                    </td>
                </tr>
            <?php endif; ?>
            <?php if ($block->getQuote()->getRelationParentId()): ?>
                <tr>
                    <th><?php echo $escaper->escapeHtml(__('Link to the Previous Quote')) ?></th>
                    <td>
                        <a href="<?php echo $escaper->escapeUrl($parentUrl) ?>">
                            <?php echo $escaper->escapeHtml($block->getQuote()->getRelationParentRealId()) ?>
                        </a>
                    </td>
                </tr>
            <?php endif; ?>
            <?php if ($block->getQuote()->getRemoteIp() && $block->shouldDisplayCustomerIp()): ?>
                <tr>
                    <th><?php echo $escaper->escapeHtml(__('Placed from IP')) ?></th>
                    <td>
                        <?php echo $escaper->escapeHtml($block->getQuote()->getRemoteIp()); ?>
                        <?php if ($block->getQuote()->getXForwardedFor()): ?>
                            <?php $xForwarderFor = ' ('
                                . $escaper->escapeHtml($block->getQuote()->getXForwardedFor())
                                . ')'; ?>
                        <?php else: ?>
                            <?php $xForwarderFor = ''; ?>
                        <?php endif; ?>
                        <?php echo $escaper->escapeHtml($xForwarderFor); ?>
                    </td>
                </tr>
            <?php endif; ?>
            <?php if ($block->getQuote()->getGlobalCurrencyCode() != $block->getQuote()->getBaseCurrencyCode()): ?>
                <tr>
                    <th>
                        <?php echo $escaper->escapeHtml(sprintf(
                            '%s / %s %s',
                            $block->getQuote()->getGlobalCurrencyCode(),
                            $block->getQuote()->getBaseCurrencyCode(),
                            __('rate:')
                        )) ?>
                    </th>
                    <td><?php echo $escaper->escapeHtml($block->getQuote()->getBaseToGlobalRate()) ?></td>
                </tr>
            <?php endif; ?>
            <?php if ($block->getQuote()->getBaseCurrencyCode() != $block->getQuote()->getQuoteCurrencyCode()): ?>
                <tr>
                    <th>
                        <?php echo $escaper->escapeHtml(sprintf(
                            '%s / %s %s',
                            $block->getQuote()->getQuoteCurrencyCode(),
                            $block->getQuote()->getBaseCurrencyCode(),
                            __('rate:')
                        )) ?>
                    </th>
                    <th><?php echo $escaper->escapeHtml($block->getQuote()->getBaseToQuoteRate()) ?></th>
                </tr>
            <?php endif; ?>
            <?php echo $block->getChildHtml('quote_details_quote_select_rate'); ?>
        </table>
    </div>
</div>
