<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\SelectRate $block */ ?>
<?php if ($block->getCustomerId()): ?>
    <tr>
        <th>
            <label class="admin__field-label" for="currency_switcher">
                <?php echo $escaper->escapeHtml(__('Quote Currency:')) ?>
            </label>
        </th>
        <td>
            <select id="currency_switcher"
                    class="admin__control-select"
                    name="order[currency]"
                    onchange="quote.setCurrencyId(this.value);
                    quote.setCurrencySymbol(this.options[this.selectedIndex].getAttribute('symbol'));">
                <?php foreach ($block->getAvailableCurrencies() as $code): ?>
                    <option symbol="<?php echo $escaper->escapeHtml($block->getCurrencySymbol($code)) ?>"
                            value="<?php echo $escaper->escapeHtml($code) ?>"
                        <?php if ($code == $block->getQuoteCurrencyCode()): ?>
                            selected="selected"
                        <?php endif ?>
                    >
                        <?php echo $escaper->escapeHtml($block->getCurrencyName($code)) ?>
                    </option>
                <?php endforeach; ?>
            </select>
        </td>
    </tr>
    <?php
endif;
