<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<section class="admin__page-section edit-quote-comments">
    <ul class="note-list">
        <?php foreach ($block->getFullHistory() as $_item): ?>
            <li class="note-list-item">
                <span class="note-list-date">
                    <?php echo $escaper->escapeHtml($block->getItemCreatedAt($_item)) ?>
                </span>
                <span class="note-list-time">
                    <?php echo $escaper->escapeHtml($block->getItemCreatedAt($_item, 'time')) ?>
                </span>
                <span class="note-list-status">
                    <?php echo $escaper->escapeHtml($block->getItemTitle($_item)) ?>
                </span>
                <?php if ($block->isItemNotified($_item, false)): ?>
                    <span class="note-list-customer">
                    <?php echo $escaper->escapeHtml(__('Customer')) ?>
                        <?php if ($block->isCustomerNotificationNotApplicable($_item)): ?>
                            <span
                                    class="note-list-customer-notapplicable"
                            ><?php echo $escaper->escapeHtml(__('Notification Not Applicable')) ?></span>
                        <?php elseif ($block->isItemNotified($_item)): ?>
                            <span class="note-list-customer-notified"><?php echo $escaper->escapeHtml(__('Notified')) ?></span>
                        <?php else: ?>
                            <span class="note-list-customer-not-notified">
                                <?php echo $escaper->escapeHtml(__('Not Notified')) ?>
                            </span>
                        <?php endif; ?>
                </span>
                <?php endif; ?>
            </li>
        <?php endforeach; ?>
    </ul>
    <div class="edit-quote-comments-block">
        <div class="edit-quote-comments-block-title">
            <?php echo $escaper->escapeHtml(__('Notes for this Quote')) ?>
        </div>
        <?php foreach ($block->getFullHistory() as $_item): ?>
            <?php if ($_comment = $block->getItemComment($_item)): ?>
                <div class="comments-block-item">
                    <div class="comments-block-item-comment">
                        <?php echo $escaper->escapeHtml($_comment) ?>
                    </div>
                    <span class="comments-block-item-date-time">
                        <?php echo $escaper->escapeHtml(__('Comment added')) ?>
                        <?php echo $escaper->escapeHtml($block->getItemCreatedAt($_item)) ?>
                        <?php echo $escaper->escapeHtml($block->getItemCreatedAt($_item, 'time')) ?>
                    </span>
                </div>
            <?php endif; ?>
        <?php endforeach; ?>
    </div>
</section>
