<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Tab\Info $block */
?>
<?php $quote = $block->getQuote() ?>

<form id="edit_form"
      data-quote-config="<?php echo $escaper->escapeHtml($block->getQuoteDataJson()) ?>"
      data-load-base-url="<?php echo $escaper->escapeHtml($block->getLoadBlockUrl($quote->getId())) ?>"
      data-send-action="<?php echo $escaper->escapeHtml($block->getSendUrl()) ?>"
      data-default-action="<?php echo $escaper->escapeHtml($block->getSaveUrl()) ?>"
      action="<?php echo $escaper->escapeHtml($block->getSaveUrl()) ?>"
      method="post"
      enctype="multipart/form-data">
    <?php echo $block->getBlockHtml('formkey') ?>
    <div id="quote-message">
        <?php echo $block->getChildHtml('message') ?>
    </div>

    <input type="hidden" name="quote_id" value="<?php echo $escaper->escapeHtml($quote->getId()) ?>"/>

    <div id="quote-data" class="quote-data">
        <?php echo $block->getChildHtml('data') ?>
    </div>

    <?php echo $block->getChildHtml('popup_window'); ?>

    <section style="display: none;" class="admin__page-section quote-comment">
        <div class="admin__page-section-title">
            <span class="title"></span>
        </div>
        <div class="admin__page-section-content">
            <div class="admin__page-section-item quote-comments-history">
                <div class="admin__page-section-item-title">
                    <span class="title"></span>
                </div>
            </div>
        </div>
    </section>
</form>

<script>
    require([
        "prototype",
        "Cart2Quote_Quotation/quote/giftoptions_tooltip"
    ], function () {

//<![CDATA[
        /**
         * Retrieve gift options tooltip content
         */
        function getGiftOptionsTooltipContent(itemId) {
            var contentLines = [];
            var headerLine = null;
            var contentLine = null;

            $$('#gift_options_data_' + itemId + ' .gift-options-tooltip-content').each(function (element) {
                if (element.down(0)) {
                    headerLine = element.down(0).innerHTML;
                    contentLine = element.down(0).next().innerHTML;
                    if (contentLine.length > 30) {
                        contentLine = contentLine.slice(0, 30) + '...';
                    }
                    contentLines.push(headerLine + ' ' + contentLine);
                }
            });
            return contentLines.join('<br/>');
        }

        giftOptionsTooltip.setTooltipContentLoaderFunction(getGiftOptionsTooltipContent);
        window.getGiftOptionsTooltipContent = getGiftOptionsTooltipContent;
//]]>

    });
</script>
