<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Quote\Request\Button\QuoteList $block */
?>
<?php
$buttonTitle = __('Add to Quote');
$showButton = $block->showButton();
$frontendVisibility = $block->isFrontendEnabled(); // required for bundle products
$showMessageNotLoggedIn = $block->showMessageNotLoggedIn();
?>
<?php if ($showButton && !$showMessageNotLoggedIn && $frontendVisibility): ?>
    <button type="submit"
            title="<?php echo $escaper->escapeHtml($buttonTitle) ?>"
            class="action primary toquote disabled product-addtoquote-button"
            id="product-addtoquote-button">
        <span><?php echo $escaper->escapeHtml($buttonTitle) ?></span>
    </button>
<?php elseif ($showMessageNotLoggedIn && $frontendVisibility): ?>
    <button id="product-addtoquote-button"
            class="action secondary toquote product-addtoquote-button"
            disabled="disabled">
        <span><?php echo $escaper->escapeHtml(__('Login to Request Quote')); ?></span>
    </button>
<?php endif; ?>
<?php if ($showButton && $block->directQuote() && $block->isLoggedIn() && $frontendVisibility): ?>
    <button type="submit"
            title="<?php echo $escaper->escapeHtml(__('Print Quote')) ?>"
            class="action secondary toquote product-addtoquote-button"
            id="product-printquote-button">
        <span><?php echo $escaper->escapeHtml(__('Print Quote')) ?></span>
    </button>
<?php endif; ?>
