<?php

/*
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Cart2Quote\Quotation\Block\Adminhtml\System\Config\Form\Field\UpdateAvailable $block
 */
?>
<div data-bind="scope: '<?php echo $escaper->escapeHtml($block->getNameInLayout()) ?>'" class="check-update-available">
    <!-- ko template: getTemplate() --><!-- /ko -->
</div>
<script type="text/x-magento-init">
    {
        "*": {
            "Magento_Ui/js/core/app": <?php echo $block->getJsLayout(); ?>
        }
    }
</script>
