/*
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/* Extend Parent Theme */

/* Theme Styling */
.page-title-wrapper .action.primary.cart2quote-accept-checkout-btn,
.page-title-wrapper .action.cart2quote-print-quote-btn {
    margin-top: -85px;
}

div.page-title-wrapper > form > div > button.action.primary.cart2quote-accept-checkout-btn,
div.page-title-wrapper > form > div > button.action.cart2quote-print-quote-btn {
    margin-top: -37px;
}

@media (max-width: 1250px) {
    .page-title-wrapper .action.primary.cart2quote-accept-checkout-btn,
    .page-title-wrapper .action.cart2quote-print-quote-btn {
        margin-top: -95px;
    }
}

@media (max-width: 900px) {
    .page-title-wrapper .action.primary.cart2quote-accept-checkout-btn,
    .page-title-wrapper .action.cart2quote-print-quote-btn {
        display: table;
        float: none;
        margin: 20px 0;
        width: auto;
    }
}

@media (max-width: 550px) {
    .page-title-wrapper .action.primary.cart2quote-accept-checkout-btn,
    .page-title-wrapper .action.cart2quote-print-quote-btn {
        display: block;
        float: none;
        margin: 20px 0;
        width: 100%;
    }
}

.block-order-details-view .block-content .box.box-quote-remarks {
    margin: 0;
}

.page-title-wrapper .block.block-order-details-view:last-child {
    margin-bottom: 20px;
}

@media (max-width: 1250px) {
    .quotation-quote-view .page-title {
        margin-bottom: 10px;
    }
}

@media (max-width: 1250px) {
    .quotation-quote-view .order-status {
        display: table;
    }
}

@media (max-width: 767px) {
    body.account.quotation-quote-view .page-title-wrapper .order-status {
        margin-top: 0;
    }
}
