/*
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

@import 'module/_typography';
@import 'module/_variables';
@import 'module/_icons';

.block-miniquote {
    .items-total {
        float: none;
        margin: 0 10px;
        .count {
            font-weight: 700;
        }
    }
    .subtotal {
        margin: 0 10px;
        text-align: right;
    }
    .amount {
        .price-wrapper {
            &:first-child {
                .price {
                    font-size: 18px;
                    font-weight: 700;
                }
            }
        }
    }
    .subtitle {
        display: none;
    }
    .subtitle.empty {
        display: block;
        font-size: 14px;
        padding: 30px 0 20px;
        text-align: center;
    }
    .text.empty {
        text-align: center;
    }
    .block-content {
        >.actions {
            margin-top: 15px;
            >.secondary {
                text-align: center;
            }
            >.primary {
                margin: 0 10px 15px;
                .action.primary {
                    display: block;
                    font-size: 1.8rem;
                    line-height: 2.2rem;
                    padding: 14px 17px;
                    width: 100%;
                }
            }
            .paypal-logo {
                margin-top: 15px;
                text-align: center;
            }
        }
    }
    .block-category-link {
        margin: 15px 0 0;
        text-align: center;
    }
    .block-product-link {
        margin: 15px 0 0;
        text-align: center;
    }
    .block-cms-link {
        margin: 15px 0 0;
        text-align: center;
    }
    .block-banners {
        margin: 15px 0 0;
        text-align: center;
    }
}
.miniquote-wrapper {
    display: inline-block;
    float: right;
    &:before {
        content: '';
        display: table;
    }
    &:after {
        clear: both;
        content: '';
        display: table;
    }
    .action.showquote {
        cursor: pointer;
        display: inline-block;
        margin: 3px 0;
        text-decoration: none;
        white-space: nowrap;
        .lib-icon-font(
            @_icon-font: 'cart2quote-iconset';
            @_icon-font-color: @color-gray46;
            @_icon-font-content: '\e904';
            @_icon-font-display: block;
            @_icon-font-line-height: 28px;
            @_icon-font-margin: 0;
            @_icon-font-position: before;
            @_icon-font-size: 26px;
            @_icon-font-vertical-align: top;
        );
        &:hover {
            &:before {
                color: @color-gray20;
            }
        }
        .counter.qty {
            background: @color-orange-red1;
            border-radius: 2px;
            clip: auto;
            color: @color-white;
            display: inline-block;
            height: 24px;
            line-height: 24px;
            margin: -2px 0 0 0;
            min-width: 18px;
            overflow: hidden;
            padding: 0 3px;
            text-align: center;
            text-shadow: 0 0 7px @color-black;
            white-space: normal;
        }
        .counter.qty.empty {
            display: none;
        }
        .text {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        .counter-label {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
    }
    .action.showquote.active {
        display: inline-block;
        text-decoration: none;
        &:before {
            color: @color-gray20;
        }
    }
    .block-miniquote {
        background: @color-white;
        border: 1px solid @color-gray-light2;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
        box-sizing: border-box;
        display: none;
        list-style: none none;
        margin: -28px 0 0 0;
        min-width: 0;
        padding: 25px 20px;
        position: absolute;
        right: 5px;
        top: 100%;
        width: 390px;
        z-index: 100;
        li {
            margin: 0;
            &:hover {
                cursor: pointer;
            }
        }
        &:before {
            border: solid 6px;
            border-color: transparent transparent @color-white transparent;
            content: '';
            display: block;
            height: 0;
            left: auto;
            position: absolute;
            right: 83px;
            top: -12px;
            width: 0;
            z-index: 99;
        }
        &:after {
            border: solid 7px;
            border-color: transparent transparent @color-gray-light2 transparent;
            content: '';
            display: block;
            height: 0;
            left: auto;
            position: absolute;
            right: 82px;
            top: -14px;
            width: 0;
            z-index: 98;
        }
        .block-title {
            display: none;
        }
    }
    .product {
        .actions {
            float: right;
            margin: -24px -5px 0 0;
            >.primary {
                display: inline;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
            >.secondary {
                display: inline;
                &:not(:last-child) {
                    margin-right: 10px;
                }
            }
        }
    }
    .action.close {
        -moz-box-sizing: content-box;
        background: none;
        border: 0;
        box-shadow: none;
        display: inline-block;
        font-weight: 400;
        height: 40px;
        line-height: inherit;
        margin: 0;
        padding: 0;
        position: absolute;
        right: 0;
        text-decoration: none;
        text-shadow: none;
        top: 0;
        width: 40px;
        &:focus {
            background: none;
            border: none;
        }
        &:active {
            background: none;
            border: none;
            &:before {
                color: inherit;
            }
        }
        &:hover {
            background: none;
            border: none;
            &:before {
                color: inherit;
            }
        }
        >span {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        /*  @codingStandardsIgnoreStart */
        .lib-icon-font(
            @_icon-font: 'cart2quote-iconset';
            @_icon-font-color: @color-gray56;
            @_icon-font-content: '\e905';
            @_icon-font-display: inline-block;
            @_icon-font-line-height: 16px;
            @_icon-font-margin: 0;
            @_icon-font-position: before;
            @_icon-font-size: 23px;
            @_icon-font-vertical-align: top;
        );
        /*  @codingStandardsIgnoreEnd */
        &:before {
            overflow: hidden;
            text-align: center;
        }
    }
    .action.close.disabled {
        cursor: not-allowed;
        opacity: .5;
        pointer-events: none;
    }
    .action.close[disabled] {
        cursor: not-allowed;
        opacity: .5;
        pointer-events: none;
    }
    .miniquote-widgets {
        margin-top: 15px;
    }
}
.minicart-wrapper {
    position: inherit;
    .block-miniquote {
        background: @color-white;
        border: 1px solid @color-gray-light2;
        box-shadow: 0 3px 3px rgba(0, 0, 0, .15);
        box-sizing: border-box;
        display: none;
        list-style: none none;
        margin: 8px 0 0 0;
        min-width: 0;
        padding: 0;
        position: absolute;
        top: 100%;
        z-index: 100;
    }
}
.miniquote-wrapper.active {
    overflow: visible;
    .block-miniquote {
        display: block;
        margin-top: -24px;
    }
}
.cart2quote-accept-checkout-btn {
    float: right;
}
.cart2quote-print-quote-btn {
    float: right;
    margin-bottom: 5px;
    margin-right: 168px;
}
fieldset[disabled] {
    .miniquote-wrapper {
        .action.close {
            cursor: not-allowed;
            opacity: .5;
            pointer-events: none;
        }
    }
}
.miniquote-items-wrapper {
    border: 1px solid @color-gray80;
    border-left: 0;
    border-right: 0;
    clear: both;
    margin: 0 -20px;
    max-height: 714px;
    overflow-x: auto;
    padding: 15px;
}
.miniquote-items {
    list-style: none none;
    margin: 0;
    padding: 0;
    .product-item {
        padding: 20px 0;
        &:not(:first-child) {
            border-top: 1px solid @color-gray80;
        }
        &:first-child {
            padding-top: 0;
        }
    }
    .product-item-pricing {
        .label {
            display: inline-block;
            width: auto;
        }
    }
    .price-miniquote {
        margin-bottom: 5px;
    }
    .product-item-name {
        font-weight: 400;
        margin: 0 0 10px;
        a {
            color: @color-blue1;
        }
    }
    .product-item-details {
        padding-left: 88px;
        .price {
            font-weight: 700;
        }
        .price-including-tax {
            margin: 5px 0;
        }
        .price-excluding-tax {
            margin: 5px 0;
        }
        .weee[data-label] {
            font-size: 1.1rem;
        }
        .details-qty {
            margin-top: 10px;
        }
    }
    .product {
        >.product-item-photo {
            float: left;
        }
        >.product-image-container {
            float: left;
        }
        .toggle {
            border: 0;
            display: block;
            padding: 0 40px 5px 0;
            &:after {
                color: @color-gray56;
                font-size: 18px;
                margin: -1px 0 0 2px;
                position: absolute;
            }
        }
        >.toggle {
            .lib-icon-font(
                @_icon-font: 'cart2quote-iconset';
                @_icon-font-content: '\e900';
                @_icon-font-position: after;
            );
        }
        .active {
            >.toggle {
                .lib-icon-font(
                    @_icon-font: 'cart2quote-iconset';
                    @_icon-font-content: '\e903';
                    @_icon-font-position: after;
                );
            }
        }
    }
    .product.pricing {
        margin-top: 3px;
    }
    .product.options {
        .tooltip.toggle {
            display: inline-block;
            text-decoration: none;
            >span {
                border: 0;
                clip: rect(0, 0, 0, 0);
                height: 1px;
                margin: -1px;
                overflow: hidden;
                padding: 0;
                position: absolute;
                width: 1px;
            }
            /*  @codingStandardsIgnoreStart */
            .lib-icon-font(
                @_icon-font: 'cart2quote-iconset';
                @_icon-font-color: inherit;
                @_icon-font-content: '\e900';
                @_icon-font-display: inline-block;
                @_icon-font-line-height: 12px;
                @_icon-font-margin: -3px 0 0 7px;
                @_icon-font-position: after;
                @_icon-font-size: 12px;
                @_icon-font-vertical-align: middle;
            );
            /*  @codingStandardsIgnoreEnd */
            &:after {
                -webkit-font-smoothing: antialiased;
                font-weight: normal;
                overflow: hidden;
                text-align: center;
            }
        }
        .details {
            display: none;
        }
    }
    .item-qty {
        margin-right: 10px;
        text-align: center;
        width: 40px;
    }
    .update-quote-item {
        font-size: 1.1rem;
        vertical-align: top;
    }
    .action.edit {
        display: inline-block;
        left: 2px;
        position: relative;
        text-decoration: none;
        >span {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        /*  @codingStandardsIgnoreStart */
        .lib-icon-font(
            @_icon-font: 'cart2quote-iconset';
            @_icon-font-color: @color-gray46;
            @_icon-font-content: '\e911';
            @_icon-font-display: inline-block;
            @_icon-font-line-height: 20px;
            @_icon-font-position: before;
            @_icon-font-size: 21px;
            @_icon-font-vertical-align: middle;
        );
        /*  @codingStandardsIgnoreEnd */
        &:before {
            -webkit-font-smoothing: antialiased;
            font-weight: normal;
            overflow: hidden;
            text-align: center;
        }
        &:hover {
            &:before {
                color: @color-gray20;
            }
        }
        &:active {
            &:before {
                color: @color-gray46;
            }
        }
    }
    .action.delete {
        display: inline-block;
        position: relative;
        text-decoration: none;
        top: 1px;
        >span {
            border: 0;
            clip: rect(0, 0, 0, 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }
        /*  @codingStandardsIgnoreStart */
        .lib-icon-font(
            @_icon-font: 'cart2quote-iconset';
            @_icon-font-color: @color-gray46;
            @_icon-font-content: '\e910';
            @_icon-font-display: inline-block;
            @_icon-font-line-height: 20px;
            @_icon-font-margin: -3px 0 0 7px;
            @_icon-font-position: before;
            @_icon-font-size: 27px;
            @_icon-font-vertical-align: middle;
        );
        /*  @codingStandardsIgnoreEnd */
        &:before {
            -webkit-font-smoothing: antialiased;
            font-weight: normal;
            overflow: hidden;
            text-align: center;
        }
        &:hover {
            &:before {
                color: @color-gray20;
            }
        }
        &:active {
            &:before {
                color: @color-gray46;
            }
        }
    }
    .subtitle {
        display: none;
    }
}
.cart.table-wrapper {
    .actions-toolbar {
        box-sizing: unset;
    }
    .cart.main.actions {
        td {
            padding-left: 0;
            padding-right: 0;
        }
        .action.clear {
            display: initial;
        }
    }
    .add-row-tier {
        padding-bottom: 0;
    }
    .tiers-block {
        .actions-toolbar {
            padding-bottom: 0;
        }
    }
    .field.qty.tier-qty {
        input {
            width: 60px;
        }
    }
    .action-addtier.field-tooltip {
        border: 1px solid @color-gray76;
        bottom: auto;
        display: inline-block;
        height: 36px;
        margin: 0;
        opacity: .5;
        right: 0;
        text-align: center;
        top: 5px;
        width: 60px;
        &:hover {
            opacity: 1;
        }
    }
    .tier-qty {
        .action-delete {
            &:before {
                font-size: 16px;
            }
        }
    }
}
body {
    .cart.table-wrapper {
        .product-item-details {
            padding-bottom: 0;
        }
        .tier-qty {
            .action-delete {
                position: absolute;
                right: -25px;
                top: 12px;
            }
        }
    }
    .order-details-items.file-uploads {
        table {
            thead {
                th {
                    display: table;
                    width: 100%;
                }
                td {
                    display: table;
                    width: 100%;
                }
            }
        }
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            li {
                list-style: none;
                margin: 0;
                padding: 0;
                &:nth-child(odd) {
                    background: @color-white-smoke;
                    background: @color-white-smoke;
                }
                a {
                    display: block;
                    padding: 10px 20px;
                }
            }
        }
        .field-label {
            display: block;
            padding-bottom: 10px;
            padding-top: 20px;
        }
    }
}
.actions-toolbar {
    .action-edit {
        float: right;
    }
    .action-delete {
        float: right;
    }
}
.quotation-quote-index {
    .opc-wrapper {
        margin-bottom: 10px;
        padding-right: 0;
        width: 100%;
        .step-content {
            margin-bottom: 20px;
        }
        .title {
            display: block;
            font-size: 2.4rem;
            font-weight: 300;
            margin: 0;
        }
        .opc {
            >.title {
                border-bottom: 1px solid @color-gray80;
                margin: 0 0 20px 0;
                padding: 0 0 7px 0;
            }
        }
        .shipping-address-item {
            width: 50% !important;
        }
        .billing-address-details {
            border: 2px solid transparent;
            display: inline-block;
            font-size: 14px;
            line-height: 30px;
            padding: 20px 35px 0 20px;
            position: relative;
            transition: .3s border-color;
            vertical-align: top;
            width: 100% !important;
            word-wrap: break-word;
        }
        .fieldset {
            >.field {
                >.label {
                    font-weight: 600;
                }
            }
            >.fields {
                >.field {
                    >.label {
                        font-weight: 600;
                    }
                }
            }
        }
    }
    .billing {
        .step-title {
            border-bottom: 1px solid @color-gray80;
            border-top: 1px solid @color-gray80;
            cursor: pointer;
            margin-top: -1px;
            padding: 10px 0;
            position: relative;
            .lib-icon-font(
                @_icon-font: 'cart2quote-iconset';
                @_icon-font-color: @color-gray52;
                @_icon-font-content: '\e900';
                @_icon-font-display: block;
                @_icon-font-line-height: 1;
                @_icon-font-margin: -10px 0 0 0;
                @_icon-font-position: after;
                @_icon-font-size: 18px;
                @_icon-font-vertical-align: middle;
            );
            &:after {
                font-weight: bold;
                position: absolute;
                right: 0 !important;
                top: 50%;
            }
        }
        .billing-same-as-shipping {
            padding: 20px 0;
            label {
                font-weight: 600;
            }
        }
    }
    .billing.active {
        .step-title {
            border-bottom: 0;
            .lib-icon-font(
                @_icon-font: 'cart2quote-iconset';
                @_icon-font-color: @color-gray52;
                @_icon-font-content: '\e903';
                @_icon-font-display: block;
                @_icon-font-line-height: 1;
                @_icon-font-margin: -10px 0 0 0;
                @_icon-font-position: after;
                @_icon-font-size: 18px;
                @_icon-font-vertical-align: middle;
            );
        }
    }
    .shipping {
        .step-title {
            border-bottom: 1px solid @color-gray80;
            border-top: 1px solid @color-gray80;
            cursor: pointer;
            margin-top: -1px;
            padding: 10px 0;
            position: relative;
            .lib-icon-font(
                @_icon-font: 'cart2quote-iconset';
                @_icon-font-color: @color-gray52;
                @_icon-font-content: '\e900';
                @_icon-font-display: block;
                @_icon-font-line-height: 1;
                @_icon-font-margin: -10px 0 0 0;
                @_icon-font-position: after;
                @_icon-font-size: 18px;
                @_icon-font-vertical-align: middle;
            );
            &:after {
                font-weight: bold;
                position: absolute;
                right: 0 !important;
                top: 50%;
            }
        }
    }
    .shipping.active {
        .step-title {
            border-bottom: 0;
            .lib-icon-font(
                @_icon-font: 'cart2quote-iconset';
                @_icon-font-color: @color-gray52;
                @_icon-font-content: '\e903';
                @_icon-font-display: block;
                @_icon-font-line-height: 1;
                @_icon-font-margin: -10px 0 0 0;
                @_icon-font-position: after;
                @_icon-font-size: 18px;
                @_icon-font-vertical-align: middle;
            );
            &:after {
                text-align: center;
                overflow: hidden;
                speak: none;
            }
        }
    }
    .opc-shipping-method {
        .step-title {
            border-bottom: 1px solid @color-gray80;
            border-top: 1px solid @color-gray80;
            cursor: pointer;
            margin-top: -1px;
            padding: 10px 0;
            position: relative;
            .lib-icon-font(
                @_icon-font: 'cart2quote-iconset';
                @_icon-font-color: @color-gray52;
                @_icon-font-content: '\e900';
                @_icon-font-display: block;
                @_icon-font-line-height: 1;
                @_icon-font-margin: -10px 0 0 0;
                @_icon-font-position: after;
                @_icon-font-size: 18px;
                @_icon-font-vertical-align: middle;
            );
            &:after {
                font-weight: bold;
                position: absolute;
                right: 0 !important;
                top: 50%;
            }
        }
    }
    .opc-shipping-method.active {
        .step-title {
            border-bottom: 0;
            .lib-icon-font(
                @_icon-font: 'cart2quote-iconset';
                @_icon-font-color: @color-gray52;
                @_icon-font-content: '\e903';
                @_icon-font-display: block;
                @_icon-font-line-height: 1;
                @_icon-font-margin: -10px 0 0 0;
                @_icon-font-position: after;
                @_icon-font-size: 18px;
                @_icon-font-vertical-align: middle;
            );
        }
    }
    .cart-summary {
        padding: 15px;
        width: 100%;
    }
    .hide-field {
        display: none !important;
    }
    .control.comment {
        margin-top: 10px;
        a {
            display: block;
            position: relative;
            .lib-icon-font(
                @_icon-font: 'cart2quote-iconset';
                @_icon-font-color: @color-gray46;
                @_icon-font-content: '\e900';
                @_icon-font-display: block;
                @_icon-font-position: after;
                @_icon-font-size: 15px;
            );
            &:after {
                font-weight: bold;
                position: absolute;
            }
        }
    }
    .control.comment.active {
        a {
            .lib-icon-font(
                @_icon-font: 'cart2quote-iconset';
                @_icon-font-color: @color-gray46;
                @_icon-font-content: '\e903';
                @_icon-font-display: block;
                @_icon-font-position: after;
                @_icon-font-size: 15px;
            );
            &:after {
                font-weight: bold;
                position: absolute;
            }
        }
    }
    .cart.table-wrapper {
        th.col.qty {
            text-align: center;
        }
        td.col.qty {
            padding-bottom: 25px;
        }
    }
    .cart-container {
        .form.form-cart {
            min-width: 60%;
            padding: 0;
            width: 60%;
        }
    }
}
.cart-summary {
    .block {
        .title {
            strong {
                display: block;
                font-size: 1.8rem;
                font-weight: 400;
                margin: 0;
            }
        }
    }
    .block.active {
        .title {
            border-bottom: 0;
        }
    }
    -webkit-order: 2;
    background: @color-white-smoke;
    min-width: 0;
    order: 2;
    padding: 20px;
    width: 100%;
    .form.form-login {
        background: transparent;
        border-bottom: 0;
        margin: 0;
        max-width: 100%;
        padding-bottom: 0;
        width: 100%;
        .fieldset {
            .field {
                margin-bottom: 0;
            }
        }
    }
    .form.methods-shipping {
        background: transparent;
    }
    .authentication-wrapper {
        button {
            span {
                color: inherit;
            }
        }
    }
    .form-login {
        border-bottom: 0;
    }
    .fieldset {
        margin: 0;
    }
    .co-select-form {
        margin-bottom: 20px;
        margin-top: 0;
        label {
            font-weight: 600;
        }
        div {
            padding: 2px 0;
        }
    }
    .co-guest-form {
        margin-bottom: 15px;
        label {
            font-weight: 600;
        }
        .co-guest-form-explainer {
            background: @color-gray91;
            border-radius: 1px;
            display: none;
            font-weight: 400;
            margin: 10px 0 0 0;
            padding: 7px 12px;
        }
        input[type='checkbox'] {
            &:checked {
                & + label {
                    span.co-guest-form-explainer {
                        display: block;
                    }
                }
            }
        }
    }
    .field.choice {
        clear: both;
        display: block;
        float: none;
        margin: 13px 0;
        &:first-child {
            margin-top: 0;
        }
        &:last-child {
            margin-bottom: 20px;
        }
    }
}
.quote-summary {
    -ms-flex-order: 2;
    -webkit-order: 2;
    background: @color-white-smoke;
    float: right;
    margin-bottom: 25px;
    order: 2;
    padding: 1px 20px 25px;
    position: relative;
    width: 48%;
}
div.date-zone {
    font-size: 16px;
    margin: 5px 0;
    text-align: right;
}
.quotation-product-comment {
    margin-top: 10px;
    max-width: 250px;
    min-height: 82px;
    min-width: auto;
}
.movetoquote-button {
    border: 2px solid @color-blue1;
    padding: 7px;
    padding-bottom: 10px;
    padding-top: 8px;
    width: auto;
    &:hover {
        background: @color-blue2;
        border: 2px solid @color-blue2;
        color: @color-white;
    }
    &:focus {
        background: @color-blue2;
        border: 2px solid @color-blue2;
        color: @color-white;
    }
}
.movetocart-button {
    border: 2px solid @color-blue1;
    padding: 7px;
    padding-bottom: 10px;
    padding-top: 8px;
    width: auto;
    &:hover {
        background: @color-blue2;
        border: 2px solid @color-blue2;
        color: @color-white;
    }
    &:focus {
        background: @color-blue2;
        border: 2px solid @color-blue2;
        color: @color-white;
    }
}
.directquote-button {
    border: 2px solid @color-blue1;
    padding: 7px;
    padding-bottom: 10px;
    padding-top: 8px;
    width: auto;
    &:hover {
        background: @color-blue2;
        border: 2px solid @color-blue2;
        color: @color-white;
    }
    &:focus {
        background: @color-blue2;
        border: 2px solid @color-blue2;
        color: @color-white;
    }
}
.miniquote-movetocart-button {
    border: 2px solid @color-blue1;
    padding: 7px;
    padding-bottom: 10px;
    padding-top: 8px;
    width: 100%;
    &:hover {
        background: @color-blue2;
        border: 2px solid @color-blue2;
        color: @color-white;
    }
    &:focus {
        background: @color-blue2;
        border: 2px solid @color-blue2;
        color: @color-white;
    }
}
.minicart-movetoquote-button {
    border: 2px solid @color-blue1;
    padding: 7px;
    padding-bottom: 10px;
    padding-top: 8px;
    width: 100%;
    &:hover {
        background: @color-blue2;
        border: 2px solid @color-blue2;
        color: @color-white;
    }
    &:focus {
        background: @color-blue2;
        border: 2px solid @color-blue2;
        color: @color-white;
    }
}
div.products-grid {
    .toquote {
        padding: 7px;
        padding-bottom: 10px;
        padding-top: 8px;
        width: auto;
    }
    .tocart {
        margin: 5px 0;
    }
}
div.list {
    .tocart {
        margin: 5px 0;
    }
}
.product-addtoquote-button {
    background: transparent;
    border: 2px solid @color-blue1;
    box-shadow: none;
    color: @color-blue1;
    font-size: 1.8rem;
    height: 47px;
    width: 100%;
    &:hover {
        background: @color-blue1;
        border: 2px solid @color-blue1;
        box-shadow: none;
        color: @color-white;
    }
    &:focus {
        background: @color-blue2;
        border: 2px solid @color-blue2;
        color: @color-white;
    }
}
.quote-btn-list {
    background: transparent;
    border: 2px solid @color-blue1;
    box-shadow: none;
    color: @color-blue1;
    width: 100%;
    &:hover {
        background: @color-blue1;
        border: 2px solid @color-blue1;
        box-shadow: none;
        color: @color-white;
    }
    &:focus {
        background: @color-blue2;
        border: 2px solid @color-blue2;
        color: @color-white;
    }
}
.action.upload.secondary {
    background: transparent;
    border: 2px solid @color-blue1;
    box-shadow: none;
    color: @color-blue1;
    font-size: 1.6rem;
    padding: 10px;
    width: 100%;
    &:hover {
        background: @color-blue1;
        border-color: @color-blue1;
        color: @color-white;
    }
    &:focus {
        background: @color-blue2;
        border-color: @color-blue2;
        color: @color-white;
    }
    &:active {
        background: @color-blue2;
        border-color: @color-blue2;
        color: @color-white;
    }
}
.product-info-main {
    .product-addtoquote-button {
        font-size: 1.8rem;
        line-height: 2.2rem;
        width: 100%;
    }
}
.product-add-form {
    .product-addtoquote-button {
        font-size: 1.8rem;
        line-height: 2.2rem;
        width: 100%;
    }
}
.c2q-price {
    font-size: 1.3rem;
    font-weight: 700;
}
.both-prices-excluding {
    margin-bottom: 3px;
    padding-bottom: 4px;
    span {
        display: block;
        font-size: 1.3rem;
        line-height: 1;
    }
    .tax-label {
        display: block;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1;
        span {
            display: inline-block;
            font-size: 1.1rem;
        }
    }
}
.both-prices-including {
    padding-bottom: 11px;
    span {
        display: block;
        font-size: 1.3rem;
        line-height: 1;
    }
    .tax-label {
        display: block;
        font-size: 1.1rem;
        font-weight: 400;
        line-height: 1;
        span {
            display: inline-block;
            font-size: 1.1rem;
        }
    }
}
.col.qty {
    .both-prices-including {
        &:last-child {
            padding-bottom: 0;
        }
        padding-bottom: 45px;
    }
    .item {
        .both-prices-including {
            padding-bottom: 45px;
        }
        font-weight: 700;
        .title {
            display: inline-block;
        }
        .content {
            display: inline-block;
        }
    }
}
.price-including {
    span {
        display: block;
        font-size: 1.4rem;
        line-height: 1;
        padding: 4.5px 0;
    }
    .tax-label {
        padding: 0;
    }
}
.price-excluding {
    span {
        display: block;
        font-size: 1.4rem;
        line-height: 1;
        padding: 4.5px 0;
    }
    span.tax-label {
        padding: 0;
    }
}
.col.tier {
    input[type='radio'] {
        margin: 0;
    }
    div {
        &:last-child {
            height: 0;
        }
    }
}
.col.del {
    .action.action-delete {
        color: inherit;
    }
}
.single-price-break {
    height: 3px;
}
.both-prices-break {
    height: 46px;
}
.input-text.tierqty {
    margin-top: 5px !important;
}
button.quoteawish.action.primary.quoteawish {
    display: inline-block !important;
}
button.notquotable.action.primary.notquotable {
    display: inline-block !important;
}
.modal-header {
    text-align: center;
}
.tiers-block {
    align-items: flex-end;
    display: flex;
    flex-direction: column;
}
.add-row-tier.actions-toolbar {
    padding-bottom: 0;
}
.field.qty.tier-qty {
    padding-right: 14px;
    position: relative;
}
.action.action-addtier {
    bottom: -4px;
    color: @color-gray46;
    font-size: 13px;
    margin-bottom: 20px;
    position: relative;
    right: 55px;
    &:hover {
        color: @color-gray20;
        text-decoration: none;
        &:before {
            text-decoration: none;
        }
    }
    span {
        display: none;
    }
    /*  @codingStandardsIgnoreStart */
    .lib-icon-font(
        @_icon-font: 'cart2quote-iconset';
        @_icon-font-content: '\e909';
        @_icon-font-display: block;
        @_icon-font-line-height: 36px;
        @_icon-font-margin: 0;
        @_icon-font-position: before;
        @_icon-font-size: 17px;
    );
    /*  @codingStandardsIgnoreEnd */
    &:before {
        font-weight: bold;
    }
    &:active {
        text-decoration: none;
    }
}
.tier-qty {
    .field-tooltip {
        position: relative;
    }
    .field-tooltip-content {
        display: none;
        text-align: left;
        top: 0;
    }
}
.action-addtier.field-tooltip {
    &:hover {
        & + .field-tooltip-content {
            display: block;
            left: auto;
            right: -288px;
        }
    }
}
.customer-email-fieldset {
    padding-bottom: 20px;
}
.quote-details-container {
    -webkit-flex-wrap: wrap;
    display: -webkit-flex;
    float: right;
    padding: 0 0 0 50px;
    width: 40%;
    .step-title {
        border-bottom: 1px solid @color-gray80;
        font-family: inherit;
        font-size: 2.4rem;
        font-weight: 300;
        line-height: 1;
        margin-bottom: 15px;
        padding-bottom: 10px;
    }
    .file-upload-container {
        -webkit-order: 1;
        background: @color-white-smoke;
        background: none;
        margin-bottom: 25px;
        order: 1;
        padding: 15px 15px 20px 15px;
        width: 100%;
    }
}
.fieldset {
    >.field {
        &:last-child {
            margin-bottom: 20px;
        }
    }
    >.fields {
        >.field {
            &:last-child {
                margin-bottom: 20px;
            }
        }
    }
}
.file-upload-container {
    float: right;
    width: 40%;
    ul {
        &:not(.uploaded-files) {
            list-style: none;
            margin-bottom: 0;
            padding: 0;
            i {
                font-style: normal;
            }
        }
    }
    ul.uploaded-files {
        list-style: none;
        margin: 13px 0 0 0;
        padding: 10px 0 0 0;
        li {
            padding: 4px 10px 4px 0;
        }
        a.action-delete {
            padding-left: 20px;
            position: relative;
            i {
                font-size: 18px;
                left: 0;
                position: absolute;
                top: 0;
            }
        }
    }
    ul.uploaded-files.empty {
        margin: 13px 0 5px 0;
        padding: 0;
    }
    .upload-header {
        p {
            margin-bottom: 7px;
        }
    }
    .upload-row {
        padding: 5px 0;
    }
    input[type='text'] {
        padding: 3px 10px;
    }
    input[type='file'] {
        width: 100%;
    }
    div.upload-row-title {
        padding-right: 10px;
    }
    div.upload-message {
        display: none;
    }
    .uploaded-files {
        border-top: 1px solid @color-gray80;
        list-style: inherit;
        padding: 11px 0 2px 20px;
        &:after {
            clear: both;
            content: ' ';
            display: block;
            font-size: 0;
            height: 0;
            visibility: hidden;
        }
    }
    li {
        margin: 0;
        padding: 4px 0;
    }
    button.action {
        margin-top: 15px;
        width: 100%;
    }
}
.file-upload {
    .upload-header {
        p {
            float: left;
            font-weight: 600;
            width: 50%;
        }
    }
    .upload-row {
        div {
            float: left;
            font-weight: 600;
            width: 50%;
        }
    }
}
.file-upload-container.upload-header {
    p {
        &:nth-child(2) {
            padding-left: 10px;
        }
    }
}
.clearfix {
    &:after {
        clear: both;
        content: ' ';
        display: block;
        font-size: 0;
        height: 0;
        visibility: hidden;
    }
}
.cart-container {
    * {
        box-sizing: border-box;
    }
}
div {
    .action.secondary.cart2quote-reject-btn {
        float: right;
        margin-bottom: 5px;
        width: 159px;
    }
    .action.primary.reject-proposal-button {
        margin-top: 10px;
    }
    .return-to-quotation-view-btn {
        height: 33px;
        margin-top: 8px;
    }
}
.rejected-success {
    margin-bottom: 39px;
}
.action.primary.cart2quote-accept-checkout-btn {
    margin-left: 5px;
    margin-top: -32px;
}
button.action.cart2quote-print-quote-btn {
    margin-left: 5px;
    margin-top: -32px;
}
.quote.main.actions.clearfix {
    .action.cart2quote-print-quote-btn {
        margin-left: 5px;
        margin-top: -32px;
    }
    .action.primary.cart2quote-accept-checkout-btn {
        margin-top: -4px;
    }
}
.action.primary.checkout.movetoquote.movetoquote-button {
    padding: 14px 17px;
    width: 100%;
}
.action.primary.checkout.movetocart.movetocart-button {
    font-size: 1.8rem;
    line-height: 2.2rem;
    padding: 14px 17px;
    width: 100%;
}
.miniquote-movetocart-button {
    font-size: 1.4rem;
    font-weight: 400;
    padding: 5px;
}
.minicart-movetoquote-button {
    font-size: 1.4rem;
    font-weight: 400;
    margin-top: 10px;
    padding: 5px;
}
.quotation-success {
    text-align: center;
}
.quotation-quote-success-continue-shopping.actions-toolbar {
    .primary {
        float: unset;
    }
}
.quotation-quote-success-continue-shopping {
    text-align: center;
}
.quote-rejected-success-page {
    text-align: center;
}
body.quotation-quote-view {
    .table-order-items {
        .action.action-delete {
            .lib-icon-font(
                @_icon-font: 'cart2quote-iconset';
                @_icon-font-color: @color-gray46;
                @_icon-font-content: '\e910';
                @_icon-font-margin: 0;
                @_icon-font-position: before;
                @_icon-font-size: 27px;
            );
            &:before {
                position: relative;
                right: -10px;
                top: -7px;
            }
            &:hover {
                &:before {
                    color: @color-gray20;
                    text-decoration: none;
                }
                color: @color-gray20;
                text-decoration: none;
            }
        }
    }
}
.quote-date.date-zone.created_by {
    float: left;
}
.quote-actions {
    margin-top: 37px;
}
@media (min-width: 640px) and (max-width: 767px) {
    .miniquote-wrapper {
        margin-top: 0;
    }
}
@media (max-width: 639px) {
    .miniquote-wrapper {
        margin-top: 10px;
    }
    .cart-summary {
        .checkout-methods-items {
            padding: 0 15px;
        }
    }
}
@media (max-width: 767px) {
    .miniquote-wrapper.active {
        .block-miniquote {
            margin-top: -14px;
        }
    }
    .miniquote-wrapper {
        .block-miniquote {
            right: 15px;
            width: 320px;
            &:after {
                left: auto;
                right: 52px;
            }
            &:before {
                left: auto;
                right: 53px;
            }
        }
    }
    .quotation-quote-index {
        .quote-details-container {
            .authentication-wrapper {
                margin: 0;
            }
        }
        .cart.table-wrapper {
            td.col.qty {
                text-align: right;
            }
        }
        .cart-container {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            flex-direction: column;
            .form.form-cart {
                -webkit-order: 3;
                min-width: 100%;
                order: 3;
                width: 100%;
            }
        }
    }
    .field.qty.tier-qty {
        padding-right: 0;
        text-align: right;
    }
    .action-addtier.field-tooltip {
        &:hover {
            & + .field-tooltip-content {
                left: auto;
                right: -80px;
                top: 56px;
                white-space: normal;
                &:before {
                    margin-right: -35px;
                    right: 50%;
                }
                &:after {
                    margin-right: -35px;
                    right: 50%;
                }
            }
        }
    }
    .quote-details-container {
        padding-left: 0;
        width: 100%;
        .file-upload-container {
            -webkit-order: 1;
            order: 1;
        }
    }
    body.quotation-quote-index {
        .cart-summary {
            -webkit-order: 1;
            order: 1;
        }
        .quote-details-container {
            .cart-summary {
                -webkit-order: 2;
                order: 2;
            }
        }
    }
    .cart-summary {
        margin-top: 0;
        .form.form-login {
            padding: 0;
        }
        .form.methods-shipping {
            border: 0;
            padding: 0;
        }
        .checkout-methods-items {
            padding: 0;
        }
    }
}
@media (max-width: 479px) {
    .miniquote-wrapper {
        .block-miniquote {
            width: 290px;
        }
    }
}
@media (min-width: 768px) {
    .miniquote-wrapper {
        margin-left: 13px;
    }
    .quotation-quote-index {
        .cart-summary {
            .block {
                .fieldset {
                    .field {
                        >.label {
                            display: block;
                        }
                    }
                }
            }
        }
    }
    .product-addtoquote-button {
        background: transparent;
        border: 2px solid @color-blue1;
        color: @color-blue1;
        width: auto;
    }
    .quote-btn-list {
        background: transparent;
        border: 2px solid @color-blue1;
        color: @color-blue1;
        width: auto;
    }
    .table-comparison {
        .tocart {
            margin-bottom: 5px;
        }
    }
    .product-info-main {
        .product-addtoquote-button {
            margin-bottom: 15px;
            margin-right: 1%;
            padding: inherit;
            width: 49%;
        }
    }
    .product-add-form {
        .product-addtoquote-button {
            margin-bottom: 15px;
            margin-right: 1%;
            padding: inherit;
            width: 49%;
        }
    }
    div.products-grid {
        .toquote {
            min-width: 103px;
            padding-bottom: 10px;
            padding-top: 10px;
            width: auto;
        }
    }
    .cart.table-wrapper {
        .item {
            .col.item {
                width: 100%;
            }
        }
    }
    body.quotation-quote-index {
        .cart-summary {
            float: right;
            max-width: 35%;
            width: 35%;
        }
        .quote-details-container {
            .cart-summary {
                float: none;
                max-width: 100%;
                width: 100%;
            }
        }
    }
}
@media print {
    .miniquote-wrapper {
        margin-left: 13px;
    }
    .quotation-quote-index {
        .opc-wrapper {
            .shipping-address-item {
                width: 100% !important;
                &::before {
                    width: 0 !important;
                }
            }
            .billing-address-details {
                &::before {
                    width: 0 !important;
                }
            }
        }
        .authentication-wrapper {
            max-width: 100%;
            width: 100%;
        }
        .quote-details-container {
            .authentication-wrapper {
                margin: 0 0 -21px 0;
            }
        }
        .table-checkout-shipping-method {
            min-width: 0 !important;
            width: 100%;
        }
        .form-cart {
            max-width: 65% !important;
        }
        .item {
            width: 100%;
        }
        .product-item-name {
            width: auto;
        }
        .product-image-container {
            width: 100px;
        }
    }
    .product-addtoquote-button {
        background: transparent;
        border: 2px solid @color-blue1;
        color: @color-blue1;
        width: auto;
    }
    .quote-btn-list {
        background: transparent;
        border: 2px solid @color-blue1;
        color: @color-blue1;
        width: auto;
    }
    .table-comparison {
        .tocart {
            margin-bottom: 5px;
        }
    }
    .product-info-main {
        .product-addtoquote-button {
            margin-bottom: 15px;
            margin-right: 1%;
            padding: inherit;
            width: 49%;
        }
    }
    .product-add-form {
        .product-addtoquote-button {
            margin-bottom: 15px;
            margin-right: 1%;
            padding: inherit;
            width: 49%;
        }
    }
    div.products-grid {
        .toquote {
            min-width: 103px;
            padding-bottom: 10px;
            padding-top: 10px;
            width: auto;
        }
    }
    .cart.table-wrapper {
        .item {
            .col.item {
                width: 100%;
            }
        }
    }
}
@media speech {
    .miniquote-wrapper {
        .action.showquote {
            &:before {
                speak: none;
            }
        }
        .action.showquote.active {
            &:before {
                speak: none;
            }
        }
        .action.close {
            &:before {
                speak: none;
            }
        }
    }
    .miniquote-items {
        .product.options {
            .tooltip.toggle {
                &:after {
                    speak: none;
                }
            }
        }
        .action.edit {
            &:before {
                speak: none;
            }
        }
        .action.delete {
            &:before {
                speak: none;
            }
        }
    }
}
@media all and (min-width: 768px) and (max-width: 1050px) {
    .quotation-quote-index {
        .opc-wrapper {
            .shipping-address-item {
                width: 100% !important;
            }
        }
        .item {
            width: 100%;
        }
        .product-item-name {
            width: auto;
        }
        .product-image-container {
            width: 100px;
        }
    }
}
@media all and (min-width: 768px) {
    .quotation-quote-index {
        .authentication-wrapper {
            max-width: 100%;
            width: 100%;
        }
        .quote-details-container {
            .authentication-wrapper {
                margin: 0 0 -21px 0;
            }
        }
        .table-checkout-shipping-method {
            min-width: 0 !important;
            width: 100%;
        }
        .opc-wrapper {
            .shipping-address-item {
                &::before {
                    width: 0 !important;
                }
            }
            .billing-address-details {
                &::before {
                    width: 0 !important;
                }
            }
        }
        .form-cart {
            max-width: 65% !important;
        }
    }
}
@media (max-width: 640px) {
    .col.qty {
        .both-prices-including {
            padding-bottom: 13px;
        }
        .item {
            .both-prices-including {
                padding-bottom: 13px;
            }
        }
    }
    .col.tier {
        text-align: right;
        input[type='radio'] {
            margin: 2px 5px 0 0;
        }
    }
}
