<!--
  ~ Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!--
-->
<div class="price-wrapper">
    <span class="cart-price" data-bind="html: price">
        <!-- ko html: price --><!-- /ko -->
    </span>
</div>
