<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Catalog\Product\View\Type\Grouped $block */
/** @var \Magento\Framework\Escaper $escaper */

$block->setPreconfiguredValue();
$_product = $block->getProduct();
$_associatedProducts = $block->getAssociatedProducts();
$_hasAssociatedProducts = count($_associatedProducts) > 0;
?>

<div class="table-wrapper grouped">
    <table class="table data grouped"
           id="super-product-table"
           data-mage-init='{ "Magento_GroupedProduct/js/product-ids-resolver": {} }'>
        <caption class="table-caption"><?php echo $escaper->escapeHtml(__('Grouped product items')) ?></caption>
        <thead>
        <tr>
            <th class="col item" scope="col"><?php echo $escaper->escapeHtml(__('Product Name')) ?></th>
            <?php if ($_product->isSaleable() || $block->showButton()): ?>
                <th class="col qty" scope="col"><?php echo $escaper->escapeHtml(__('Qty')) ?></th>
            <?php endif; ?>
        </tr>
        </thead>

        <?php if ($_hasAssociatedProducts): ?>
        <tbody>
            <?php foreach ($_associatedProducts as $_item): ?>
            <tr>
                <td data-th="<?php echo $escaper->escapeHtmlAttr(__('Product Name')) ?>" class="col item">
                    <strong class="product-item-name"><?php echo $escaper->escapeHtml($_item->getName()) ?></strong>
                    <?php if ($block->getCanShowProductPrice($_product)): ?>
                        <?php if ($block->getCanShowProductPrice($_item)): ?>
                            <?php echo /* @noEscape */ $block->getProductPrice($_item) ?>
                        <?php endif; ?>
                        <?php endif; ?>
                </td>
                <?php if ($_product->isSaleable() || $block->showButton()): ?>
                <td data-th="<?php echo $escaper->escapeHtmlAttr(__('Qty')) ?>" class="col qty">
                    <?php if ($_product->isSaleable() || $block->showButton()): ?>
                    <div class="control qty">
                        <input type="number"
                               name="super_group[<?php echo $escaper->escapeHtmlAttr($_item->getId()) ?>]"
                               data-selector="super_group[<?php echo $escaper->escapeHtmlAttr($_item->getId()) ?>]"
                               value="<?php echo $escaper->escapeHtmlAttr($_item->getQty() * 1) ?>"
                               title="<?php echo $escaper->escapeHtmlAttr(__('Qty')) ?>"
                               class="input-text qty"
                               data-validate="{'validate-grouped-qty':'#super-product-table'}"
                               data-errors-message-box="#validation-message-box"/>
                    </div>
                <?php else: ?>
                    <div class="stock unavailable" title="<?php echo $escaper->escapeHtmlAttr(__('Availability')) ?>">
                        <span><?php echo $escaper->escapeHtml(__('Out of stock')) ?></span>
                    </div>
                <?php endif; ?>
                </td>
                <?php endif; ?>
            </tr>
                <?php if ($block->getCanShowProductPrice($_product)
                && $block->getCanShowProductPrice($_item)
                && trim($block->getProductPriceHtml(
                    $_item,
                    \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                ))): ?>
                <tr class="row-tier-price">
                    <td colspan="2">
                        <?php echo $block->getProductPriceHtml(
                            $_item,
                            \Magento\Catalog\Pricing\Price\TierPrice::PRICE_CODE
                        ) ?>
                    </td>
                </tr>
            <?php endif; ?>
        <?php endforeach; ?>
        </tbody>
        <?php else: ?>
        <tbody>
            <tr>
                <td class="unavailable"
                    colspan="<?php if ($_product->isSaleable() || $block->showButton()): ?>
                            4
                        <?php else: ?>
                            3
                        <?php endif; ?>">
                    <?php echo $escaper->escapeHtml(__('No options of this product are available.')) ?>
                </td>
            </tr>
        </tbody>
        <?php endif; ?>
    </table>
</div>
<div id="validation-message-box"></div>
