<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\DefaultRenderer $block */
?>

<span class="product-footer-total-products">
    <?php echo $escaper->escapeHtml(__('Total %1 product(s)', $block->getItemCount())) ?>
</span>
<span class="product-footer-extra-text">
    <?php echo $escaper->escapeHtml(__('Subtotal:')); ?>
</span>
