<!--
  ~ Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!--
-->
<div class="amount">
    <span data-bind="html: quote().subtotal"></span>
</div>
