<?php
/*
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var Cart2Quote\Quotation\Block\Adminhtml\Report\System\PotentialIssues $block
 */

$issues = $block->getPotentialIssuesData();
$issueCounter = $block->countPotentialIssues();
?>

<body>
    <div class="admin__data-grid-wrap">
        <table class="data-grid potential_issue_table" id="c2q_potential_issues">
            <div class="potential issues grid">
                <thead>
                <tr class="potential issues header">
                    <th scope="col" class="col reference"><?php echo $escaper->escapeHtml(__('Issue Reference')) ?></th>
                    <th scope="col" class="col description"><?php echo $escaper->escapeHtml(__('Description')) ?></th>
                    <th scope="col" class="col solution"><?php echo $escaper->escapeHtml(__('Solution')) ?></th>
                </tr>
                </thead>
                <tbody>
                <?php foreach ($issues as $issue): ?>
                    <tr>
                        <td data-th="<?php echo $escaper->escapeHtml(__($issue['reference'])) ?>"
                            class="col reference"><?php echo $escaper->escapeHtml(__($issue['reference'])) ?></td>
                        <td data-th="<?php echo $escaper->escapeHtml(__($issue['description'])) ?>"
                            class="col description"><?php echo $escaper->escapeHtml(__($issue['description'])) ?></td>
                        <td data-th="<?php echo $escaper->escapeHtml(__($issue['solution'])) ?>"
                            class="col solution"><?php echo $escaper->escapeHtml(__($issue['solution'])) ?></td>
                    </tr>
                <?php endforeach; ?>
                </tbody>
            </div>
        </table>
    </div>
</body>
