<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php
/**
 * @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Coupons $block
 */
?>

<div class="admin__field field-apply-coupon-code">
    <label class="admin__field-label">
        <span><?php echo $escaper->escapeHtml(
        __('Apply Coupon Code')
            ) ?>
        </span>
    </label>

    <div class="admin__field-control">
        <input type="text" class="admin__control-text" id="coupons:code" value="" name="coupon_code"/>
        <?php echo $block->getButtonHtml(__('Apply'), 'quote.applyCoupon($F(\'coupons:code\'))') ?>
        <?php if ($block->getCouponCode()): ?>
            <p class="added-coupon-code">
                <span><?php echo $escaper->escapeHtml($block->getCouponCode()) ?></span>
                <a href="#" onclick="quote.applyCoupon(''); return false;"
                   title="<?php echo $escaper->escapeHtml(__('Remove Coupon Code')) ?>"
                   class="action-remove">
                    <span><?php echo $escaper->escapeHtml(__('Remove')) ?></span>
                </a>
            </p>
        <?php endif; ?>
        <script>
            require(["Cart2Quote_Quotation/quote/view/form"], function () {

                quote.overlay(
                    'shipping-method-overlay',
                    <?php echo $escaper->escapeHtml(
                        json_encode($block->getQuote()->isVirtual() ? false : true)
                    );?>
                );
                quote.overlay(
                    'address-shipping-overlay',
                    <?php echo $escaper->escapeHtml(
                        json_encode($block->getQuote()->isVirtual() ? false : true)
                    );?>
                );
            });
        </script>
    </div>
</div>
