<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Info $block */
?>

<tr>
    <th><?php echo $escaper->escapeHtml(__('CC')) ?></th>
    <td>
        <textarea type="text"
                  name="quote[proposal_email_cc]"
                  id="quote_proposal_email_cc"
                  placeholder="johndoe@cart2quote.com;janedoe@cart2quote.com"
                  class="admin__control-text quote-view-email-receivers"
                  rows="5"><?php echo /* @noEscape */ $block->getQuote()->getProposalEmailCc() ?></textarea>
        <p class="note">
            <span>
                <?php echo $escaper->escapeHtml(
                    __('Use ; as a separator to enter multiple email addresses.')
                ); ?>
            </span><br>
            <span>
                <?php echo $escaper->escapeHtml(
                    __('For example: johndoe@cart2quote.com;janedoe@cart2quote.com')
                ); ?>
            </span>
        </p>
    </td>
</tr>
