<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Info $block */
?>

<tr>
    <th><?php echo $escaper->escapeHtml(__('Receiver')) ?></th>
    <td>
        <input type="text" id="quote_proposal_email_receiver"
               name="quote[proposal_email_receiver]"
               placeholder="example@cart2quote.com"
               class="admin__control-text quote-view-email-receivers"
               value="<?php echo /* @noEscape */ $block->getQuote()->getProposalEmailReceiver() ?>">
        <p class="note">
            <span><?php echo $escaper->escapeHtml(
                __('Only enter this if you want to change the account information email address')
            ) ?></span>
        </p>
    </td>
</tr>
