<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/* @var \Magento\Catalog\Block\Product\Compare\ListCompare $block */

// @codingStandardsIgnoreLine TODO: replace helper with view-model
$compareHelper = $this->helper('Magento\Catalog\Helper\Product\Compare');
// @codingStandardsIgnoreLine TODO: replace helper with view-model
$helper = $this->helper('Magento\Catalog\Helper\Output');
// @codingStandardsIgnoreLine TODO: replace helper with view-model
$wishlistHelper = $this->helper('Magento\Wishlist\Helper\Data');
?>
<?php $total = $block->getItems()->getSize() ?>
<?php if ($total): ?>
    <a href="#" class="action print hidden-print" title="<?php echo $escaper->escapeHtml(__('Print This Page')) ?>">
        <span><?php echo $escaper->escapeHtml(__('Print This Page')) ?></span>
    </a>
    <div class="table-wrapper comparison">
        <table class="data table table-comparison" id="product-comparison"
               data-mage-init='{"compareList":{
                    "windowPrintSelector":".action.print",
                    "productsInRow":"5",
                    "selectors":{
                        "productAddToCartSelector":"button.action.tocart"}
                }}'>
            <caption class="table-caption"><?php echo $escaper->escapeHtml(__('Compare Products')) ?></caption>
            <thead>
            <tr>
                <?php $index = 0 ?>
                <?php foreach ($block->getItems() as $item): ?>
                    <?php if ($index++ == 0): ?>
                        <th scope="row" class="cell label remove">
                            <span><?php echo $escaper->escapeHtml(__('Remove Product')) ?></span>
                        </th>
                    <?php endif; ?>
                    <td class="cell remove product hidden-print">
                        <a href="#" data-post='<?php echo $escaper->escapeHtml($compareHelper->getPostDataRemove($item)) ?>'
                           class="action delete" title="<?php echo $escaper->escapeHtml(__('Remove Product')) ?>">
                            <span><?php echo $escaper->escapeHtml(__('Remove Product')) ?></span>
                        </a>
                    </td>
                <?php endforeach; ?>
            </tr>
            </thead>
            <tbody>
            <tr>
                <?php $index = 0; ?>
                <?php /** @var \Magento\Catalog\Model\Product $item */ ?>
                <?php foreach ($block->getItems() as $item): ?>
                    <?php if ($index++ == 0): ?>
                        <th scope="row" class="cell label product">
                            <span><?php echo $escaper->escapeHtml(__('Product')) ?></span>
                        </th>
                    <?php endif; ?>
                    <td data-th="<?php echo $escaper->escapeHtml(__('Product')) ?>" class="cell product info">
                        <a class="product-item-photo"
                           href="<?php echo $escaper->escapeUrl($block->getProductUrl($item)) ?>"
                           title="<?php echo $escaper->escapeHtml($block->stripTags($item->getName(), null, true)) ?>">
                            <?php echo /* @noEscape */ $block->getImage($item, 'product_comparison_list')->toHtml() ?>
                        </a>
                        <strong class="product-item-name">
                            <a href="<?php echo $escaper->escapeUrl($block->getProductUrl($item)) ?>"
                               title="<?php echo $escaper->escapeHtml($block->stripTags($item->getName(), null, true)) ?>">
                                <?php echo $escaper->escapeHtml($helper->productAttribute($item, $item->getName(), 'name')) ?>
                            </a>
                        </strong>
                        <?php echo $block->getReviewsSummaryHtml($item, 'short') ?>
                        <?php echo /* @noEscape  */ $block->getProductPrice($item, '-compare-list-top') ?>
                        <div class="product-item-actions hidden-print">
                            <div class="actions-primary">
                                <!-- Start Cart2Quote_Quotation -->
                                <?php echo $block->getChildBlock(
                                    'product_list_form.container'
                                )->getChildBlock(
                                    'product_compare_form'
                                )->setProduct($item)->toHtml() ?>
                                <!-- End Cart2Quote_Quotation -->
                            </div>
                            </div>
                            <?php if ($wishlistHelper->isAllow()): ?>
                                <div class="secondary-addto-links actions-secondary" data-role="add-to-links">
                                    <a href="#"
                                       data-post='<?php echo /* @noEscape  */ $block->getAddToWishlistParams($item) ?>'
                                       class="action towishlist" data-action="add-to-wishlist">
                                        <span><?php echo $escaper->escapeHtml(__('Add to Wish List')) ?></span>
                                    </a>
                                </div>
                            <?php endif; ?>
                        </div>
                    </td>
                <?php endforeach; ?>
            </tr>
            </tbody>
            <tbody>
            <?php foreach ($block->getAttributes() as $attribute): ?>
                <?php $index = 0; ?>
                <?php if ($block->hasAttributeValueForProducts($attribute)): ?>
                    <tr>
                        <?php foreach ($block->getItems() as $item): ?>
                            <?php if ($index++ == 0): ?>
                                <th scope="row" class="cell label">
                                        <span class="attribute label">
                                            <?php echo $escaper->escapeHtml($attribute->getStoreLabel()
                                                ? $attribute->getStoreLabel()
                                                : __($attribute->getFrontendLabel())) ?>
                                        </span>
                                </th>
                            <?php endif; ?>
                            <td class="cell product attribute">
                                <div class="attribute value">
                                    <?php switch ($attribute->getAttributeCode()) {
                                        case 'price':
                                            ?>
                                            <?php echo /* @noEscape */ $block->getProductPrice(
                                                $item,
                                                '-compare-list-' . $attribute->getCode()
                                            )
                                            ?>
                                            <?php
                                            break;
                                        case 'small_image':
                                            ?>
                                            <?php $block->getImage($item, 'product_small_image')->toHtml(); ?>
                                            <?php
                                            break;
                                        default:
                                            ?>
                                            <?php // phpcs:ignore Generic.Files.LineLength ?>
                                            <?php if (is_string($block->getProductAttributeValue($item, $attribute))): ?>
                                            <?php // phpcs:ignore Generic.Files.LineLength ?>
                                                <?php echo /* @noEscape */ $helper->productAttribute($item, $block->getProductAttributeValue($item, $attribute), $attribute->getAttributeCode()) ?>
                                            <?php endif; ?>
                                            <?php
                                            break;
                                    } ?>
                                </div>
                            </td>
                        <?php endforeach; ?>
                    </tr>
                <?php endif; ?>
            <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if (!$block->isRedirectToCartEnabled()): ?>
        <script type="text/x-magento-init">
            {
                "[data-role=tocart-form]": {
                    "catalogAddToCart": {}
                }
            }
            </script>
    <?php endif; ?>
<?php else: ?>
    <div class="message info empty"><div><?php echo $escaper->escapeHtml(__('You have no items to compare.')) ?></div></div>
<?php endif; ?>
