/*
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

button#product-addtoquote-button {
    width: 135px;
    margin-right: 1%;
    line-height: 2.2rem;
    margin-bottom: 40px;
    font-size: 1.8rem;
    padding: unset;
    position: absolute;
}

@media (max-width: 767px) {
    button#product-addtoquote-button {
        width: 100%;
        position: inherit;
        margin: unset;
    }
}

button#product-printquote-button {
    width: 135px;
    margin-right: 1%;
    line-height: 2.2rem;
    margin-bottom: 40px;
    font-size: 1.8rem;
    padding: unset;
    margin-top: 86px;
}

@media (max-width: 767px) {
    button#product-printquote-button {
        width: 100%;
        margin-top: 40px;
    }
}
