<!--
  ~ Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<!--
-->
<fieldset class="fieldset" data-bind="if: (addressOptions.length > 1)">
    <div class="field field-select-billing">
        <div class="control">
            <select class="select" name="billing_address_id" data-bind="
            options: addressOptions,
            optionsText: addressOptionsText,
            value: selectedAddress,
            event: {change: onAddressChange(selectedAddress())};
        "></select>
        </div>
    </div>
</fieldset>
