<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\Columns\PriceQuoted $block */
if ($block->getTierItem()) {
    $priceDataObject = $block->getTierItem();
    $htmlId = 'tier_item_custom_price_new_' . $priceDataObject->getId();
} else {
    $priceDataObject = $block->getItem();
    $htmlId = 'custom_price_' . $priceDataObject->getId();
}

$baseCustomPrice = $block->getPriceWithCorrectTax($priceDataObject->getBaseCustomPrice());
$customPrice = $block->getPriceWithCorrectTax($priceDataObject->getCustomPrice());
$minPrice = $block->getMinPrice();
?>
<div class="tier-item">
    <div class="tier-item-price">
        <?php if ($block->getQuote()->isCurrencyDifferent()): ?>
            <div class="price" data-mage-init='{"currency":{"inputSelector": "<?php echo $escaper->escapeHtml($htmlId) ?>"}}'>
                <?php echo /* @noEscape */ $block->getQuote()->formatBasePricePrecision(
                    $baseCustomPrice,
                    2
                ) ?>
            </div>
            <br/>
        <?php endif; ?>
        <input id="<?php echo $escaper->escapeHtml($htmlId) ?>"
               <?php // phpcs:ignore ?>
               name="item[<?php echo $escaper->escapeHtml($block->getItemId()) ?>][tier_item][%template%][%increment%][custom_price]"
               value="<?php echo $escaper->escapeHtml(sprintf('%.2f', $customPrice)) ?>"
               class="input-text item-price admin__control-text"
               data-minprice="<?php echo $escaper->escapeHtml($minPrice) ?>"
               <?php // phpcs:ignore ?>
               data-mage-init='{"priceQuoted":{"discountElementSelector": "<?php echo $escaper->escapeHtml(sprintf('item[%s][%%template%%][%%increment%%][percentage_discount]', $escaper->escapeHtml($block->getItemId()))) ?>"}}'
    </div>
</div>
