<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Info $block */
?>

<?php $orderViewUrls = $block->getOrderViewUrlByQuotationId($block->getQuote()->getEntityId()); ?>
<?php if ($block->getQuote()->getStatus() == 'ordered' && !empty($orderViewUrls) > 0): ?>
    <div class="admin__page-section-item quote-linked-order">
        <?php /* Linked Orders */ ?>
        <div class="admin__page-section-item-title">
            <span class="title"><?php echo $escaper->escapeHtml(__('Linked Orders')) ?></span>
        </div>
        <div class="admin__page-section-item-content">
            <table class="admin__table-secondary quote-linked-orders-table">
                <tr>
                    <th><?php echo $escaper->escapeHtml(__('Purchase Order Number')) ?></th>
                    <td>
                        <?php foreach ($orderViewUrls as $key => $val): ?>
                            <div>
                                <a href="<?php echo $escaper->escapeHtml($val); ?>">#<?php echo $escaper->escapeHtml($key); ?></a>
                            </div>
                        <?php endforeach; ?>
                    </td>
                </tr>
            </table>
        </div>
    </div>
<?php endif; ?>
