<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Order\View\LinkedQuote $block */
?>
<?php $order = $block->getOrder(); ?>
<?php if (isset($order)): ?>
    <?php $quotationQuoteId = $block->getQuotationQuoteId($order->getQuoteId()); ?>
    <?php if ($quotationQuoteId): ?>
        <?php $quotationQuoteIncrementId = $block->getQuotationQuoteIncrementId($quotationQuoteId);?>
        <th><?php echo $escaper->escapeHtml(__('Your related Quotation: ')) ?></th>
        <td><a href="<?php echo $escaper->escapeUrl($block->getQuoteViewByQuotationId($quotationQuoteId)); ?>">
                <?php echo $escaper->escapeHtml('#' . $quotationQuoteIncrementId); ?>
            </a>
        </td>
    <?php endif; ?>
<?php endif; ?>
