<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Product\View $block */
/** @var \Magento\Framework\Escaper $escaper */

$_product = $block->getProduct();
?>
<?php if (($_product->isSaleable() || $block->showButton()) && $block->hasOptions()): ?>
<div id="bundleSummary"
     class="block-bundle-summary"
     data-mage-init='{"sticky":{"container": ".product-add-form"}}'>
    <div class="title">
        <strong><?php echo $escaper->escapeHtml(__('Your Customization')) ?></strong>
    </div>
    <div class="content">
        <div class="bundle-info">
            <?php echo $block->getImage($_product, 'bundled_product_customization_page')->toHtml() ?>
            <div class="product-details">
                <strong class="product name"><?php echo $escaper->escapeHtml($_product->getName()) ?></strong>
                <?php if ($_product->getIsSalable()): ?>
                    <p class="available stock" title="<?php echo $escaper->escapeHtmlAttr(__('Availability')) ?>">
                        <span><?php echo $escaper->escapeHtml(__('In stock')) ?></span>
                    </p>
                <?php else: ?>
                    <p class="unavailable stock" title="<?php echo $escaper->escapeHtmlAttr(__('Availability')) ?>">
                        <span><?php echo $escaper->escapeHtml(__('Out of stock')) ?></span>
                    </p>
                <?php endif; ?>
                <?php echo $block->getChildHtml('', true) ?>
            </div>
        </div>
        <div class="bundle-summary">
            <strong class="subtitle"><?php echo $escaper->escapeHtml(__('Summary')) ?></strong>
            <div id="bundle-summary" data-container="product-summary">
                <ul data-mage-init='{"productSummary": []}' class="bundle items"></ul>
                <script data-template="bundle-summary" type="text/x-magento-template">
                    <li>
                        <strong class="label"><%- data._label_ %>:</strong>
                        <div data-container="options"></div>
                    </li>
                </script>
                <script data-template="bundle-option" type="text/x-magento-template">
                    <div><?php echo /* @noEscape */ __('%1 x %2', '<%- data._quantity_ %>', '<%- data._label_ %>') ?></div>
                </script>
            </div>
        </div>
    </div>
</div>
<script type="text/x-magento-init">
    {
        ".product-add-form": {
            "slide": {
                "slideSpeed": 1500,
                "slideSelector": "#bundle-slide",
                "slideBackSelector": ".action.customization.back",
                "bundleProductSelector": "#bundleProduct",
                "bundleOptionsContainer": ".product-add-form"
                <?php if ($block->isStartCustomization()): ?>
                ,"autostart": true
                <?php endif;?>
            }
        }
    }
</script>
<?php endif; ?>
