[class^='icon-c2q_'],
[class*=' icon-c2q_'] {
    /* use !important to prevent issues with browser extensions that change fonts */
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: 'cart2quote-iconset' !important;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
}

/* Icons */
.icon-c2q-plus:before {
    content: '\e909';
}

.icon-c2q-dustbin:before {
    content: '\e906';
}

.icon-c2q-edit:before {
    content: '\e907';
}

.icon-c2q-reload:before {
    content: '\e908';
}

.icon-c2q-quote:before {
    content: '\e904';
}

.icon-c2q-delete:before {
    content: '\e905';
}

.icon-c2q-arrow-bottom:before {
    content: '\e900';
}

.icon-c2q-arrow-left:before {
    content: '\e901';
}

.icon-c2q-arrow-right:before {
    content: '\e902';
}

.icon-c2q-arrow-top:before {
    content: '\e903';
}

.icon-c2q-dustbin-luma:before {
    content: '\e910';
}

.icon-c2q-edit-luma:before {
    content: '\e911';
}
