/*
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

& when (@media-common = true) {
    .lib-font-face(
        @family-name: 'cart2quote-iconset';
        @font-path: '@{baseDir}Cart2Quote_Quotation/fonts/cart2quote-iconset';
        @font-weight: normal;
        @font-style: normal;
        @font-display: block;
    );
}
