<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * @var \Cart2Quote\Quotation\Block\Quote\View $block
 */
$quotationHelper = $block->getQuotationHelper();
?>
<?php if ($quotationHelper->canAccept($block->getQuote()) && $block->showCheckoutButton()): ?>
    <form action="<?php echo $escaper->escapeHtml($block->getAcceptUrl()) ?>" method="post"
          data-mage-init='{"validation":{}}'
          class="form form-quote">
        <?php echo $block->getBlockHtml('formkey'); ?>
        <div class="quote main actions clearfix">
            <?php $checkoutButtonData = $block->getCheckoutActionButtonData(); ?>
            <button <?php echo $escaper->escapeHtml($checkoutButtonData['flag']) ?>
                    type="submit" name="update_quote_action"
                    value="accept_checkout"
                    title="<?php echo $escaper->escapeHtml($checkoutButtonData['label']) ?>"
                    class="action primary cart2quote-accept-checkout-btn">
                <span><?php echo $escaper->escapeHtml(__($checkoutButtonData['label'])) ?></span>
            </button>
        </div>
    </form>
<?php endif; ?>
