<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
/**
 * @var \Cart2Quote\Quotation\Block\Quote\View $block
 */
?>
<?php if ($block->displayPrintQuoteQuotationView()): ?>
    <form action="<?php echo $escaper->escapeHtml($block->getPrintUrl()) ?>" method="post">
        <?php echo $block->getBlockHtml('formkey'); ?>
        <div class="quote main actions clearfix">
            <button
                type="submit" name="print_quote_action"
                value="print_quote"
                title="<?php echo $escaper->escapeHtml(__('Print Quote')) ?>"
                class="action cart2quote-print-quote-btn">
                <span><?php echo $escaper->escapeHtml(__('Print Quote')) ?></span>
            </button>
        </div>
    </form>
<?php endif; ?>
