<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Framework\Escaper $escaper */
$quoteRequestDate = $block->formatDate($block->getQuote()->getQuotationCreatedAt(), \IntlDateFormatter::LONG);
?>
<div class="quote-date date-zone">
    <span class="label">
        <?php echo $escaper->escapeHtml(__('Quote Request Date:')) ?>
    </span>
    <date>
        <?php echo $escaper->escapeHtml($quoteRequestDate) ?>
    </date>
</div>
<?php if ($block->getIsFrontendCreatedByVisible()): ?>
<div class="quote-date date-zone created_by">
    <span class="label">
        <?php echo $escaper->escapeHtml(__('Quote Created By')) ?>
    </span>
    <data>
        <?php echo $escaper->escapeHtml($block->getQuote()->getQuotationCreatedBy()) ?>
    </data>
</div>
<?php endif ?>
<div class="quote-actions">
    <?php echo $block->getChildHtml(); ?>
</div>
<div class="quote-expiry-date date zone">
    <span class="label">
        <?php echo $escaper->escapeHtml(__('Proposal Valid Until:')) ?>
    </span>
    <date>
        <?php echo $escaper->escapeHtml($block->formatDate($block->getQuote()->getExpiryDate(), \IntlDateFormatter::LONG)) ?>
    </date>
</div>
<?php $note = $block->getQuote()->getCustomerNote(); ?>
<?php $notify = $block->getQuote()->getCustomerNoteNotify(); ?>
<?php if (isset($note) && $notify): ?>
    <div class="block block-order-details-view">
        <strong class="box-title">
            <span><?php echo $escaper->escapeHtml(__('Remarks with proposal')) ?></span>
        </strong>

        <div class="block-content">
            <div class="box box-quote-remarks">
                <div class="box-content">
                    <?php echo $escaper->escapeHtml(nl2br($note)); ?>
                </div>
            </div>
        </div>
    </div>
<?php endif; ?>
