<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<?php /** @var \Cart2Quote\Quotation\Block\Quote\View $block */ ?>

<?php $_history = $block->getQuote()->getVisibleStatusHistory() ?>
<?php if (!empty($_history)): ?>
    <div class="block block-order-details-comments">
        <div class="block-title"><strong><?php echo $escaper->escapeHtml(__('About Your Quote')) ?></strong></div>
        <div class="block-content">
            <dl class="order-comments">
                <?php foreach ($_history as $_historyItem): ?>
                    <dt class="comment-date">
                        <?php echo $escaper->escapeHtml($block->formatDate(
                            $_historyItem->getCreatedAtStoreDate(),
                            \IntlDateFormatter::MEDIUM,
                            true
                        )) ?>
                    </dt>
                    <dd class="comment-content"><?php echo $escaper->escapeHtml($_historyItem->getComment()) ?></dd>
                <?php endforeach; ?>
            </dl>

        </div>
    </div>
<?php endif; ?>
