<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

?>
<div class="content" data-role="content" role="tabpanel" aria-hidden="false" style="display: block;">
    <fieldset class="fieldset estimate">
        <legend class="legend">
            <span><?php echo $escaper->escapeHtml(__('Remarks')) ?></span>
        </legend>
        <br>

        <p class="field note">
            <?php echo $escaper->escapeHtml(__('Do you have a general remark with this Quote Request?')); ?>
        </p>

        <div class="field">
            <div class="control">
                <textarea title="<?php echo $escaper->escapeHtml(__('Remarks')) ?>"
                          id="quote_customer_note"
                          name="quote[customer_note]"
                          class="customer-note input-textarea"
                ><?php echo $escaper->escapeHtml($block->getQuote()->getCustomerNote()) ?></textarea>
            </div>
        </div>
    </fieldset>
</div>
