<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Quote\QuoteCheckout\Onepage $block */
?>
<div id="checkout" data-bind="scope:'checkout'" class="cart-summary">
    <div id="checkout-loader" data-role="checkout-loader" class="loading-mask" data-mage-init='{"checkoutLoader": {}}'>
        <div class="loader">
            <img src="<?php echo $escaper->escapeHtml($block->getViewFileUrl('images/loader-1.gif')); ?>"
                 alt="<?php echo $escaper->escapeHtml(__('Loading...')); ?>"
                 style="position: absolute;">
        </div>
    </div>
    <!-- ko template: getTemplate() --><!-- /ko -->
    <script type="text/x-magento-init">
        {
            "#checkout": {
                "Magento_Ui/js/core/app": <?php echo $block->getJsLayout(); ?>
            }
        }

    </script>
    <script>
        window.checkoutConfig = <?php echo \Laminas\Json\Json::encode($block->getCheckoutConfig()); ?>;
        // Create aliases for customer.js model from customer module
        window.isCustomerLoggedIn = window.checkoutConfig.isCustomerLoggedIn;
        window.customerData = window.checkoutConfig.customerData;
    </script>
    <script>
        require([
            'mage/url',
            'Magento_Ui/js/block-loader'
        ], function (url, blockLoader) {
            blockLoader("<?php echo $escaper->escapeHtml($block->getViewFileUrl('images/loader-1.gif')); ?>");
            return url.setBaseUrl('<?php echo $escaper->escapeHtml($block->getBaseUrl());?>');
        })
    </script>
</div>
