<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var Cart2Quote\Quotation\Block\Quote\Recent $block */
?>
<div class="block block-dashboard-orders">
<?php
    $quotes = $block->getQuotes();
?>
    <div class="block-title order">
        <strong><?php echo $escaper->escapeHtml(__('Recent Quotes')) ?></strong>
        <?php if ($quotes && $quotes->getSize()): ?>
            <a class="action view" href="<?php echo $escaper->escapeUrl($block->getUrl('quotation/quote/history')) ?>">
                <span><?php echo $escaper->escapeHtml(__('View All')) ?></span>
            </a>
        <?php endif; ?>
    </div>
    <div class="block-content">
    <?php echo $block->getChildHtml() ?>
    <?php if ($quotes && $quotes->getSize()): ?>
        <div class="table-wrapper orders-recent">
            <table class="data table table-order-items recent" id="my-quotes-table">
                <caption class="table-caption"><?php echo $escaper->escapeHtml(__('Recent Orders')) ?></caption>
                <thead>
                    <tr>
                        <th scope="col" class="col id"><?php echo $escaper->escapeHtml(__('Quote #')) ?></th>
                        <th scope="col" class="col date"><?php echo $escaper->escapeHtml(__('Date')) ?></th>
                        <th scope="col" class="col status"><?php echo $escaper->escapeHtml(__('Quote Request Status')) ?></th>
                        <th scope="col" class="col status"><?php echo $escaper->escapeHtml(__('Total Price')) ?></th>
                        <th scope="col" class="col actions">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <?php
                    /** @var \Cart2Quote\Quotation\Model\Quote $quote */
                    foreach ($quotes as $quote): ?>
                        <tr>
                            <td data-th="<?php echo $escaper->escapeHtml(__('Quote #')) ?>"
                                class="col id"><?php echo $escaper->escapeHtml($quote->getIncrementId()) ?></td>
                            <td data-th="<?php echo $escaper->escapeHtml(__('Date')) ?>"
                                class="col date">
                                <?php echo $escaper->escapeHtml($block->formatDate($quote->getQuotationCreatedAt())) ?>
                            </td>
                            <td data-th="<?php echo $escaper->escapeHtml(__('Status')) ?>"
                                class="col status"><?php echo $escaper->escapeHtml($quote->getStatusLabel()) ?></td>
                            <?php if ($block->isHidePrices($quote)): ?>
                                <td data-th="<?php echo $escaper->escapeHtml(__('Total Price')) ?>" class="col status">
                                    <?php echo /* @noEscape */ $block->formatValue($quote) ?>
                                </td>
                            <?php else: ?>
                                <td data-th="<?php echo $escaper->escapeHtml(__('Total Price')) ?>" class="col status"></td>
                            <?php endif; ?>
                            <td data-th="<?php echo $escaper->escapeHtml(__('Actions')) ?>" class="col actions">
                                <a href="<?php echo $escaper->escapeHtml($block->getViewUrl($quote)) ?>" class="action view">
                                    <span><?php echo $escaper->escapeHtml(__('View Quote')) ?></span>
                                </a>
                            </td>
                        </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
    <?php else: ?>
        <div class="message info empty">
            <span><?php echo $escaper->escapeHtml(__('You have no quote requests.')) ?></span>
        </div>
    <?php endif; ?>
    </div>
</div>
