<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Quote\View $block */
?>
<div class="order-details-items ordered">
    <?php $quote = $block->getQuote(); ?>
    <div class="order-title">
        <strong><?php echo $escaper->escapeHtml(__('Items Requested')) ?></strong>
    </div>
    <?php echo $block->getChildHtml('quotation_items') ?>
    <?php $orderViewUrls = $block->getOrderViewUrlByQuotationId($quote->getEntityId()); ?>
    <?php if ($quote->getStatus() == \Cart2Quote\Quotation\Model\Quote\Status::STATUS_ORDERED
        && !empty($orderViewUrls)): ?>
        <?php echo $escaper->escapeHtml(__('Your related order: ')) ?>
        <?php foreach ($orderViewUrls as $key => $val): ?>
            <a href="<?php echo $escaper->escapeUrl($val); ?>">#<?php echo $escaper->escapeHtml($key); ?></a>
        <?php endforeach; ?>
    <?php endif; ?>
    <div class="actions-toolbar">
        <div class="secondary">
            <a class="action back" href="<?php echo $escaper->escapeHtml($block->getBackUrl()) ?>">
                <span><?php echo $escaper->escapeHtml($block->getBackTitle()) ?></span>
            </a>
        </div>
    </div>
</div>
