<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\Columns\PriceQuoted $block */
?>
<?php
$htmlName = 'tier_item';
$tierItemHtmlId = 'tier_item_custom_price_' . $block->getTierItem()->getId();

$tierItem = $block->getTierItem();
$item = $tierItem->getItem();
$customerGroupId = $item->getQuote()->getCustomerGroupId();
$appliedRules = $block->getRules($item, $customerGroupId);
$baseCustomPrice = $block->getPriceWithCorrectTax($tierItem->getBaseCustomPrice());
$customPrice = $block->getPriceWithCorrectTax($tierItem->getCustomPrice());
$costPrice = $block->getCostPrice();
?>
<div class="tier-item">
    <div class="tier-item-price">
        <?php if ($block->getQuote()->isCurrencyDifferent()): ?>
            <div class="price"
                 data-mage-init='{"currency":{"inputSelector": "<?php echo $escaper->escapeHtml($tierItemHtmlId) ?>"}}'>
                <?php echo /* @noEscape */ $block->getQuote()->formatBasePricePrecision(
                    $baseCustomPrice,
                    2
                ) ?>
            </div>
            <br/>
        <?php endif; ?>
        <?php // phpcs:ignore ?>
        <?php $name = 'item[' . $escaper->escapeHtml($block->getItemId()) . '][tier_item][' . $escaper->escapeHtml($block->getTierItem()->getId()) . '][custom_price]'; ?>
        <input id="<?php echo $escaper->escapeHtml($tierItemHtmlId); ?>"
               name="<?php echo $escaper->escapeHtml($name); ?>"
               value="<?php echo $escaper->escapeHtml(sprintf('%.2f', $customPrice)) ?>"
               class="input-text item-price admin__control-text"
               data-costprice="<?php echo $escaper->escapeHtml($costPrice) ?>"
               data-value="<?php echo $escaper->escapeHtml(sprintf('%.2f', $customPrice)); ?>"
               <?php // phpcs:ignore ?>
               data-mage-init='{"priceQuoted":{"discountElementSelector": "<?php echo /* @noEscape */ sprintf('item[%s][tier_item][%s][percentage_discount]', $escaper->escapeHtml($block->getItemId()), $escaper->escapeHtml($block->getTierItem()->getId())) ?>"}}'
        />
    </div>
</div>

<?php if ($appliedRules): ?>
    <?php foreach ($appliedRules as $appliedRule): ?>
        <?php $url = $block->getCatalogPriceRuleView($appliedRule['rule_id']); ?>
        <span class="my-tooltip">
            <a href="<?php echo $escaper->escapeUrl($url); ?>"
               title="<?php echo $escaper->escapeHtml(__("Click to view applied catalog price rule")); ?>"
               target="_blank"
               class="tooltip-toggle"><?php echo $escaper->escapeHtml(__("View Price Rule")); ?></a>
        </span>
    <?php endforeach; ?>
<?php endif; ?>
