<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

// @codingStandardsIgnoreLine TODO: replace helper with view-model
$customProductHelper = $this->helper(\Cart2Quote\Quotation\Helper\CustomProduct::class);
$item = $block->getItem();
$isCustomProduct = $customProductHelper->isCustomProduct($item);

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\Columns\Name $block */
?>

<?php if ($block->getIsFirstTierItem() && $item): ?>
    <span id="quote_item_<?php echo $escaper->escapeHtml($item->getId()) ?>_title">
        <?php // phpcs:ignore ?>
        <?php $bundleItem = $block->productRepositoryInterface->getById($item->getProduct()->getId(), false, $block->getQuote()->getStoreId()); ?>
        <?php if ($isCustomProduct): ?>
            <?php echo $escaper->escapeHtml($customProductHelper->getCustomProductName($item)) ?>
        <?php else: ?>
            <?php echo $escaper->escapeHtml($bundleItem->getName()) ?>
        <?php endif; ?>
    </span>
    <div class="product-sku-block">
        <span><?php echo $escaper->escapeHtml(__('SKU')) ?> :</span>
        <?php if ($isCustomProduct): ?>
            <?php // phpcs:ignore ?>
            <?php echo /* @noEscape */ implode('<br />', $block->splitSku($escaper->escapeHtml($customProductHelper->getCustomProductSku($item)))) ?>
        <?php else: ?>
            <?php echo /* @noEscape */ implode('<br />', $block->splitSku($escaper->escapeHtml($block->getSku()))) ?>
        <?php endif; ?>
    </div>
    <?php if ($block->stockHelper->getProductStockCheck($item->getProduct(), $item->getQty())): ?>
        <span id="item_<?php echo $escaper->escapeHtml($item->getId()) ?>_stock">
            <br/><br/>
            <p class="quote_item_backorder"><?php echo $escaper->escapeHtml(__('This product will be backordered')); ?></p>
        </span>
    <?php endif; ?>

    <?php if ($block->getOrderOptions()): ?>
        <dl class="item-options">
            <?php foreach ($block->getOrderOptions() as $_option): ?>
                <dt>
                    <?php echo $escaper->escapeHtml($_option['label']) ?>:
                </dt>
                <dd>
                    <?php if (isset($_option['custom_view']) && $_option['custom_view']): ?>
                        <?php echo $escaper->escapeHtml($block->getCustomizedOptionValue($_option), ['a']); ?>
                    <?php else: ?>
                        <?php $_option = $block->getFormattedOption($_option['value']); ?>
                        <?php echo $escaper->escapeHtml($_option['value'], ['a']); ?>
                        <?php if (isset($_option['remainder']) && $_option['remainder']): ?>
                            <span id="<?php echo $escaper->escapeHtml($_dots = 'dots' . uniqid()) ?>">
                                ...
                            </span>
                            <span id="<?php echo$escaper->escapeHtml($_id = 'id' . uniqid()) ?>">
                                <?php echo $escaper->escapeHtml($_option['remainder']) ?>
                            </span>
                            <script>
                                require(['prototype'], function () {
                                    $('<?php echo $escaper->escapeHtml($_id) ?>').hide();
                                    $('<?php echo $escaper->escapeHtml($_id) ?>').up().observe('mouseover', function () {
                                        $('<?php echo $escaper->escapeHtml($_id) ?>').show();
                                    });
                                    $('<?php echo $escaper->escapeHtml($_id) ?>').up().observe('mouseover', function () {
                                        $('<?php echo $escaper->escapeHtml($_dots) ?>').hide();
                                    });
                                    $('<?php echo $escaper->escapeHtml($_id) ?>').up().observe('mouseout', function () {
                                        $('<?php echo $escaper->escapeHtml($_id) ?>').hide();
                                    });
                                    $('<?php echo $escaper->escapeHtml($_id) ?>').up().observe('mouseout', function () {
                                        $('<?php echo $escaper->escapeHtml($_dots) ?>').show();
                                    });
                                });
                            </script>
                        <?php endif; ?>
                    <?php endif; ?>
                </dd>
            <?php endforeach; ?>
        </dl>
    <?php endif; ?>
    <?php echo $block->getChildBlock('column_product-bundle-items')->setItem($item)->toHtml() ?>
    <div class="product-configure-block">
        <?php echo $block->getConfigureButtonHtml($item) ?>
    </div>
<?php endif; ?>
