<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\DefaultRenderer $block */
?>
<?php if ($block->getIsSelectedTier()): ?>
    <input name="item[<?php echo $escaper->escapeHtml($block->getItemId()) ?>][qty]"
           value="<?php echo $block->getTierItem()->getQty() * 1 ?>" type="hidden"/>
<?php endif; ?>
<?php if (!($block->getItem()->getProductType() == \Magento\Catalog\Model\Product\Type::TYPE_BUNDLE)): ?>
    <?php // phpcs:ignore ?>
    <input name="item[<?php echo $escaper->escapeHtml($block->getItemId()) ?>][tier_item][<?php echo $escaper->escapeHtml($block->getTierItem()->getId()) ?>][qty]"
           class="input-text admin__control-text quote-qty-box"
           value="<?php echo $block->getTierItem()->getQty() * 1 ?>" maxlength="12" type="number"/>
<?php else: ?>
    <?php // phpcs:ignore ?>
    <input name="item[<?php echo $escaper->escapeHtml($block->getItemId()) ?>][tier_item][<?php echo $escaper->escapeHtml($block->getTierItem()->getId()) ?>][qty]"
           class="input-text admin__control-text quote-qty-box no-pointer-events"
           value="<?php echo $block->getTierItem()->getQty() * 1 ?>"/>
    <div class="product-configure-block">
        <?php echo $block->getSetQtyButtonHtml($block->getItem()) ?>
    </div>
<?php endif; ?>

