<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

$product = $block->getItem()->getProduct();

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\Thumbnail $block */
?>
<div class="thumbnail-preview-image">
    <img src="<?php echo $escaper->escapeUrl($block->getProductImageUrl($product)); ?>" />
</div>
