<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\DefaultRenderer $block */

$itemId = $block->getItem()->getId();
$tierItemId = $block->getItem()->getTierItem()->getId();
$currentTierItemId = 0;
if ($block->getItem()->getCurrentTierItem()) {
    $currentTierItemId = $block->getItem()->getCurrentTierItem()->getId();
}
?>

<input type="radio"
       class="admin__control-radio"
       name="item[<?php echo $escaper->escapeHtml($itemId) ?>][selected_tier]"
       id="selected_tier_<?php echo $escaper->escapeHtml($tierItemId) ?>"
       value="<?php echo $escaper->escapeHtml($tierItemId) ?>"
       data-mage-init='{"tierControl": {
                        "action": "selectRow",
                        "tierItemId": <?php echo $escaper->escapeHtml($tierItemId) ?>
                        }}'
    <?php if ($currentTierItemId == $tierItemId): ?>
        checked="checked"
    <?php endif; ?> />
<label class="normal admin__field-label" for="selected_tier_<?php echo $escaper->escapeHtml($tierItemId) ?>">
    <span></span>
</label>
