<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\DefaultRenderer $block */
?>

<?php if (!$block->getIsSelectedTier() && $block->getTierItem()): ?>
    <button title="<?php echo $escaper->escapeHtml(__('Delete')); ?>"
            type="button"
            class="action-delete-tier scalable delete icon-btn delete-item-price-tier"
            id="tier_price_row_<?php echo $escaper->escapeHtml($block->getTierItem()->getId()) ?>_delete_button"
            data-mage-init='{"tierControl": {
                        "action": "removeRow"
                        }}'>
        <span></span>
    </button>
<?php else: ?>
    <button type="button"
            title="<?php echo $escaper->escapeHtml(__('Collapse Item')); ?>"
            class="action-collapse-item"></button>
<?php endif; ?>
