<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Items\PriceRenderer $block */
$item = $block->getItem();

?>
<?php if ($block->displayPriceExclTax() || $block->displayBothPrices()): ?>
    <?php ?>
    <?php if ($block->displayBothPrices()): ?>
        <span class="label"><?php echo $escaper->escapeHtml(__('Excl. Tax')) ?>:</span>
    <?php endif; ?>
    <?php echo /* @noEscape */ $block->displayPrices(
        $block->getBaseTotalAmountExclTax($item),
        $block->getTotalAmountExclTax($item)
    ); ?>
<?php endif; ?>


<?php if ($block->displayPriceInclTax() || $block->displayBothPrices()): ?>
    <?php if ($block->displayBothPrices()): ?>
        <br/><span class="label"><?php echo $escaper->escapeHtml(__('Incl. Tax')) ?>:</span>
    <?php endif; ?>
    <?php echo /* @noEscape */ $block->displayPrices(
        $block->getBaseTotalAmount($item),
        $block->getTotalAmount($item)
    ); ?>
<?php endif; ?>
