<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

?>

<div class="admin__field field-comment">
    <label for="order-comment" class="admin__field-label">
        <span><?php echo $escaper->escapeHtml(__('Quote Remarks')) ?></span>
    </label>
    <div class="admin__field-control">
        <textarea
                id="order-comment"
                name="order[comment][customer_note]"
                class="admin__control-textarea"><?php echo $escaper->escapeHtml($block->getCommentNote()) ?></textarea>
    </div>
</div>
<script>
    require(["Magento_Sales/order/create/form"], function () {
        order.commentFieldsBind('order-comment')
    });
</script>
