<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Adminhtml\Quote\View\Shipping\Method\Form\Quotation $block */ ?>

<?php $checked = $block->isMethodActive($block->getCode()) ? 'checked="checked"' : '' ?>
    <input value="<?php echo $escaper->escapeHtml($block->getCode()) ?>"
           id="s_method_<?php echo $escaper->escapeHtml($block->getCode()) ?>"
           class="admin__control-radio"
        <?php echo $escaper->escapeHtml($checked) ?>
        <?php echo /* @noEscape */ $block->getRadioProperty() ?>/>
    <label class="admin__field-label" for="s_method_<?php echo $escaper->escapeHtml($block->getCode()) ?>">
        <?php echo $escaper->escapeHtml($block->getMethodTitle()) ?>
        <span id="s_method_<?php echo $escaper->escapeHtml($block->getCode()) ?>_price">-
        <strong>
            <?php $excl = $block->getShippingPrice(
                $block->getRate()->getPrice(),
                $block->getTaxHelper()->displayShippingPriceIncludingTax()
            ); ?>
            <?php $incl = $block->getShippingPrice($block->getRate()->getPrice(), true); ?>

            <?php echo /* @noEscape */ $excl; ?>
            <?php if ($block->getTaxHelper()->displayShippingBothPrices() && $incl != $excl): ?>
                (<?php echo $escaper->escapeHtml(__('Incl. Tax')); ?><?php echo /* @noEscape */ $incl; ?>)
            <?php endif; ?>
        </strong>
        <a href="#"
           id="s_method_<?php echo $escaper->escapeHtml($block->getCode()) ?>_change_button"
           data-mage-init='{"shipping": {
               "selector": {
                    "input": "#s_method_<?php echo $escaper->escapeHtml($block->getCode()) ?>_input",
                    "price": "#s_method_<?php echo $escaper->escapeHtml($block->getCode()) ?>_price",
                    "submit": "#s_method_<?php echo $escaper->escapeHtml($block->getCode()) ?>_submit"
                },
                "method": "<?php echo $escaper->escapeHtml($block->getCode()) ?>"
           }}'><?php echo $escaper->escapeHtml(__('Change')) ?></a>
    </span>
    </label>
    <div id="s_method_<?php echo $escaper->escapeHtml($block->getCode()) ?>_input"
         class="shipping-input"
         style="display: none;">
        <input type="number" value="<?php echo $escaper->escapeHtml($block->getPrice(
            $block->getRate()->getPrice(),
            $block->getTaxHelper()->displayShippingPriceIncludingTax()
        )) ?>"/>
        <br/>
        <button id="s_method_<?php echo $escaper->escapeHtml($block->getCode()) ?>_submit"
                title="<?php echo $escaper->escapeHtml(__('Update')) ?>"
                type="button"
                class="action-default scalable action-default scalable">
            <span><?php echo $escaper->escapeHtml(__('Update')) ?></span>
        </button>
    </div>

<?php if ($block->getIsAjax()): ?>
    <script type="application/javascript">
        jQuery("#s_method_<?php echo $escaper->escapeHtml($block->getCode()) ?>_change_button").trigger('contentUpdated');
    </script>
    <?php
endif;
