<!--
  ~ Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
  ~ See COPYING.txt for license details.
  -->

<form id="section-form" method="post" data-bind="attr: {'action': actionUrl} ">
    <table class="data-grid">
        <thead>
        <tr>
            <th class="data-grid-th"><span data-bind="i18n: '#'"></span></th>
            <th class="data-grid-th"><span data-bind="i18n: 'Label'"></span></th>
            <th class="data-grid-th"><span data-bind="i18n: 'Actions'"></span></th>
        </tr>
        </thead>
        <tbody id="sortable-table" class="sortable-table" data-bind="foreach: getSections(), afterRender: makeSortable">
        <tr style="text-align: center" data-bind="visible: !isDeleted(), css: { deleted: isDeleted() }">
            <td style="padding: 1rem 1rem;" class="a-left col-sort-order">
                <span aria-hidden="true" class="abs-draggable-handle"></span>
                <input type="hidden" data-bind="value: sortOrder, attr: { name: 'sections['+$index()+'][sort_order]'}"
                       class="sort-order">
                <input type="hidden" data-bind="value: sectionId, attr: { name: 'sections['+$index()+'][section_id]'}"
                       class="section-id">
                <input type="hidden" data-bind="value: quoteId, attr: { name: 'sections['+$index()+'][quote_id]'}"
                       class="quote-id">
                <input type="hidden"
                       data-bind="value: isDeleted, attr: { name: 'sections['+$index()+'][is_deleted]',disabled: !isDeleted()}"
                       class="deleted">
            </td>
            <td style="padding: 1rem 1rem;" class="a-left col-label">
                <input type="text" name="section[$index()][label]"
                       data-bind="i18n: label, value: label, attr: { name: 'sections['+$index()+'][label]'}"
                       class="label input-text admin__control-text">
            </td>
            <td>
                <button type="button" class="action-delete-section scalable delete delete-section icon-btn"
                        data-bind="click: $parent.deleteSection.bind($parent, $data)">
                    <span data-bind="attr: {title: $t('Delete')}">
                    <!-- ko i18n: 'Delete' --><!-- /ko -->
                    </span>
                </button>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr style="text-align: center">
            <td colspan="2"></td>
            <td class="col-add-section">
                <button type="button" class="action-add-section scalable add add-section icon-btn"
                        data-bind="click: addSection">
                    <span data-bind="attr: {title: $t('Add Section')}">
                    <!-- ko i18n: 'Add Section' --><!-- /ko -->
                    </span>
                </button>
            </td>
        </tr>
        </tfoot>
    </table>
</form>
