<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Cart2Quote\Quotation\Block\Checkout\Cart\Item\Renderer $block */
$item = $block->getParentBlock()->getItem();
$tierItems = $block->getTierItemCollection($item);
?>

<?php foreach ($tierItems as $tieritem): ?>
    <?php $tierItemId = $tieritem->getId();
    $itemId = $tieritem->getItemId();
    $elementId = 'tier-item-' . $tierItemId;
    $divId = 'div-tier-item-' . $tierItemId;
    $qty = (int)$tieritem->getQty();
    ?>
    <div class="actions-toolbar" id="<?php echo $escaper->escapeHtml($divId) ?>">
        <input type="number"
               onchange="updateTier(
                   '<?php echo $escaper->escapeHtml($elementId) ?>',
                   '<?php echo $escaper->escapeHtml($itemId) ?>',
                   '<?php echo $escaper->escapeHtml($tierItemId) ?>'
                   )"
               id="<?php echo $escaper->escapeHtml($elementId) ?>"
               class="input-text tierqty"
               value="<?php echo $escaper->escapeHtml($qty) ?>"
               data-validate="{required:true,'validate-greater-than-zero':true}"
        </input>
        <a href="#"
           class="action action-delete"
           title="Remove item"
           onclick="removeSavedTier(
               '<?php echo $escaper->escapeHtml($divId) ?>',
               '<?php echo $escaper->escapeHtml($tierItemId) ?>'
               )">
        </a>
    </div>
<?php endforeach; ?>
