<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * @var \Cart2Quote\Quotation\Block\Checkout\Cart\Coupon $block
 */
$hasCouponCode = (bool) is_string($block->getCouponCode());
?>
<?php if (!$block->getIsQuotationCouponDisabled()): ?>
    <?php if (!$block->getBlockHtml("checkout.cart.form.wrapper")): ?>
        <div class="block discount"
             id="block-discount"
             data-mage-init='{
                "collapsible":{
                    "active": <?php echo $hasCouponCode ? 'true' : 'false' ?>,
                    "openedState": "active",
                    "saveState": false
                }
             }'>
            <div class="title" data-role="title">
                <strong id="block-discount-heading" role="heading" aria-level="2">
                    <?php echo $escaper->escapeHtml(__('Apply Discount Code')) ?>
                </strong>
            </div>
            <div class="content" data-role="content" aria-labelledby="block-discount-heading">
                <form id="discount-coupon-form"
                      action="<?php echo $escaper->escapeUrl($block->getUrl('checkout/cart/couponPost')) ?>"
                      method="post"
                      data-mage-init='{"discountCode":{"couponCodeSelector": "#coupon_code",
                                               "removeCouponSelector": "#remove-coupon",
                                               "applyButton": "button.action.apply",
                                               "cancelButton": "button.action.cancel"}}'>
                    <div class="fieldset coupon<?php echo $hasCouponCode ? ' applied' : '' ?>">
                        <input type="hidden" name="remove" id="remove-coupon" value="0" />
                        <div class="field">
                            <label for="coupon_code" class="label">
                                <span><?php echo $escaper->escapeHtml(__('Enter discount code')) ?></span>
                            </label>
                            <div class="control">
                                <input type="text"
                                       class="input-text"
                                       id="coupon_code"
                                       name="coupon_code"
                                       value="<?php echo $escaper->escapeHtmlAttr($block->getCouponCode()) ?>"
                                       placeholder="<?php echo $escaper->escapeHtmlAttr(__('Enter discount code')) ?>"
                                    <?php if ($hasCouponCode):?>
                                        disabled="disabled"
                                    <?php endif; ?>
                                />
                            </div>
                        </div>
                        <div class="actions-toolbar">
                            <?php if (!$hasCouponCode):?>
                                <div class="primary">
                                    <button class="action apply primary" type="button"
                                            value="<?php echo $escaper->escapeHtmlAttr(__('Apply Discount')) ?>">
                                        <span><?php echo $escaper->escapeHtml(__('Apply Discount')) ?></span>
                                    </button>
                                </div>
                            <?php else:?>
                                <div class="primary">
                                    <button  type="button" class="action cancel primary"
                                             value="<?php echo $escaper->escapeHtmlAttr(__('Cancel Coupon')) ?>">
                                        <span><?php echo $escaper->escapeHtml(__('Cancel Coupon')) ?></span>
                                    </button>
                                </div>
                            <?php endif; ?>
                        </div>
                    </div>
                    <?php if (!$hasCouponCode): ?>
                        <?php echo /* @noEscape */ $block->getChildHtml('captcha') ?>
                    <?php endif; ?>
                </form>
            </div>
        </div>
    <?php endif; ?>
<?php endif; ?>
