<?php
/**
 * Copyright (c) 2025. Cart2Quote B.V. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var \Cart2Quote\Quotation\Block\Checkout\Cart\DirectQuote $block */ ?>
<?php if ($block->getIsQuotationEnabled()
    && !$block->getShowOrderReferences()
    && $block->isDirectQuoteEnabled()
    && $block->isLoggedIn()
): ?>
    <div class="cart main actions">
        <button id="directquote"
                type="submit"
                name="direct_quote_action"
                value="direct_quote"
                title="<?php echo $escaper->escapeHtml(__('Direct Quote')); ?>"
                class="action primary checkout directquote directquote-button"
                data-mage-init='{"cartToQuoteActions": {"directQuoteSelector" : "#directquote"} }'>
            <span><?php echo $escaper->escapeHtml(__('Direct Quote')); ?></span>
        </button>
    </div>
<?php endif; ?>
